div.table-responsive.table-id>p-table>div>div {
    width: auto !important;
}

.box-body {
    padding-top: 10px !important;
    padding-left: 10px !important;
}

.ta-editor {
    min-height: 160px;
}

body .ui-widget {
    font-family: source sans pro, sans-serif !important;
}

textarea.form-control {
    height: auto;
}

.box.boxboxDivide-primary {
    border-top-color: #f3efec;
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.ui-table-auto-layout>.ui-table-wrapper {
    width: auto !important;
}

.custombutton {
    margin-top: 28px;
}

.custombutton1 {
    margin-left: 600px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.Outlet {
    display: inline-block !important;
}

div.label-t {
    padding: 6px 12px;
    background: rgb(206 216 216 / 51%);
}

.createPatient {
    padding: 0 5px !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
}
.txt {
    cursor: pointer;
    color: rgb(0 0 255);
}
#Cold{
    color: red;
    font-size: large;
    text-align: center;
    cursor: pointer;
}