#ui-tabpanel-0>div>p-table>div>div.ui-table-wrapper.ng-star-inserted {
    width: auto !important;
}

.ui-table-auto-layout>.ui-table-wrapper {
    width: auto !important;
    min-height: 170px !important;
}

.table-bordered>thead>tr>th {
    color: #fff;
    background-color: #3c8dbc;

}

.custombutton {
    margin-top: 25px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.Outlet {
    display: inline-block !important;
}

div.label-t {
    padding: 6px 12px;
    background: rgb(206 216 216 / 51%);
}

.text-red-active>td {
    color: red;
}
.panel-group{
    margin-top: 2em;
}
