.raw-bgcolor{
  background-color: #ecf0f5;
  padding: 15px;
  margin-top: 15px;
}
.consumable-bgcolor{
  background-color: #c8daf7;
  padding: 15px;
}
.wastage-bgcolor{
  background-color: #ecf0f5;
  padding: 15px;
}
.final-bgcolor{
  background-color: #c8daf7;
  padding: 15px;
}

.productTable .ui-table-auto-layout > .ui-table-wrapper {
  width: 100% !important;
  min-height: 170px !important;
}
.invalid-feedback{
  color: red;
}
.table-bordered {
  border: 1px solid #cccccc;
}
.table-bordered > thead > tr > th{
  color: #fff;
  background-color: #3c8dbc;

}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #cccccc;
}
.pull-right {
  margin: 15px 0;
}
