
div.label-t {
  padding: 6px 12px;
  background: rgb(206 216 216 / 51%);
}
#ui-tabpanel-0>div>p-table>div>div.ui-table-wrapper.ng-star-inserted {
  width: auto !important;
}
div.table-responsive.table-id>p-table>div>div {
  width: auto !important;
}
.ui-table-auto-layout > .ui-table-wrapper{
  width: auto !important;
}
.box-body {
  padding-top: 10px !important;
  padding-left: 10px !important;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav {
  border-bottom: 1px solid #c1c1c1 !important;
  margin-bottom: 0px;
}

textarea.form-control {
  height: auto;
}

.btn {
  border: red;
}

.box.boxboxDivide-primary {
  border-top-color: #f3efec;
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.pull-right {
  float: right!important;
}

.custombutton {
  margin-top: 28px;
  /* margin-left: 130px; */
}

.table-header {
  color: #ffffff !important;
  background-color: #3c8dbc !important;
}

div.label-t {
  padding: 6px 12px;
  background: rgb(206 216 216 / 51%);
}
.input-group .input-group-addon {
  border-radius: 0;
  border-color: #d2d6de;
  background-color: #eee;
}