<p-toast key="compacct-toast" baseZIndex="99999"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
           <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>


<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                    <p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">

                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[0]" leftIcon="glyphicon glyphicon-list-alt" >
                            <form name="SearchForm" #SearchForm="ngForm" novalidate>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label">Date Range</label>
                                        <app-compacct-daterangepicker (DaterangeObj)="getDateRange($event)" [HardCodeDateOpt]="initDate">
                                        </app-compacct-daterangepicker>
                                    </div>
                                    <div class="col-sm-4" style=" height: 77px;">
                                        <label class="control-label">Cost Center</label>
                                        <p-dropdown [options]="CostCentreList" name="Cost_Center1" #Cost_Center1="ngModel" 
                                        [(ngModel)]="objSearch.Cost_Cen_ID" [showClear]="true" [emptyFilterMessage]="'No Item Found'" 
                                        [filter]="true" filterBy="label,value.name" [resetFilterOnHide]="true" [placeholder]="'Select Cost Center'"
                                        [virtualScroll]="true" itemSize="30" [disabled]="UserType == 'U'" >
                                        </p-dropdown>

                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn btn-primary custombutton" data-toggle="modal" (click)="getAlldata()" id="load" [disabled]="seachSpinner">
                                            <p-progressSpinner *ngIf="seachSpinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                                            <span *ngIf="!seachSpinner" class="glyphicon glyphicon-search"></span>&nbsp;Search
                                                </button>
                                    </div>
                                </div>
                            </form>
                            <div class=" no-padding">
                                <p-table [value]="Searchedlist" [paginator]="true" [rows]="100" [rowHover]="true" [autoLayout]="true" sortMode="multiple" [rowsPerPageOptions]="[100,200,300]" [globalFilterFields]="['Customer_Id','Date_PAA','Date_FAA','Patient','Date_Of_Birth', 'Gender', 'Audiologist', 'Cost_Cen_Name' ]"
                                    [rowHover]="true" #dt>
                                    <ng-template pTemplate="caption">
                                        <div class="row">
                                            <div class="col-sm-3 pull-right" style="text-align: right">
                                                <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                            </div>
                                        </div>

                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width:5em">Action</th>
                                            <th>Patient Id</th>
                                            <th>Patient</th>
                                            <th>Date of Validation</th>
                                            <th>Date of Birth</th>
                                            <th>Gender</th>
                                            <th>Audiologist Name</th>
                                            <th>Cost Cen Name</th>
                                         </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col>
                                        <tr>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                                                <i class="fa fa-fw fa-bars"></i>
                                                                <span class="caret"></span>
                                                            </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a (click)="EditValidation(col)">
                                                                <i class="fa fa-fw fa-pencil"></i> Edit
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a (click)="delectMaster(col)">
                                                                <i class="fa fa-fw fa-trash"></i> Delete
                                                            </a>
                                                        </li>
                                                        <!-- <li>
                                                            <a (click)="PODUpdate(col)">
                                                                <i class="fa fa-fw fa-pencil"></i> POD Update
                                                            </a>
                                                        </li> -->
                                                        <li>
                                                            <a (click)="GetPrint(col)">
                                                                <i class="fa fa-fw fa-print"></i> Print
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td style="text-align: center ;">{{col.Foot_Fall_ID ? col.Foot_Fall_ID : '-' }}</td>
                                            <td>{{col.Patient ? col.Patient : '-'}}</td>
                                            <td>{{col.Validation_Date ? col.Validation_Date : '-'}}</td>
                                            <td>{{col.Date_Of_Birth ? col.Date_Of_Birth : '-'}}</td>
                                            <td>{{col.Gender ? col.Gender : '-'}}</td>
                                            <td>{{col.Doctor_Name ? col.Doctor_Name : '-'}}</td>
                                            <td>{{col.Cost_Cen_Name ? col.Cost_Cen_Name : '-'}}</td>
                                            
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="paginatorright" let-state>
                                        Showing {{state.first+1}} of {{(state.first+1) + state.rows}} of {{state.totalRecords}}
                                    </ng-template>
                                </p-table>
                            </div>    
                        </p-tabPanel>

                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[1]" leftIcon="glyphicon glyphicon-floppy-save">
                            <form name="PatientValidationForm" #PatientValidationForm="ngForm" novalidate>
                                <div class="row">    
                                    <div class="col-sm-4">
                                        <label class="control-label">Name:<sup class="text-danger">*</sup></label>
                                        <p-dropdown [options]="Patientlist"
                                            name="PatientSelect" 
                                            #PatientSelect="ngModel" 
                                            [(ngModel)]="ObjPatient.Patient"
                                            [showClear]="true" 
                                            [emptyFilterMessage]="' No Patient Found'" 
                                            [filter]="true" filterBy="label,value.name" 
                                            [resetFilterOnHide]="true" 
                                            [placeholder]="'Select Patient'" 
                                            [virtualScroll]="true"
                                            itemSize="30"
                                            [disabled]="buttonname === 'Create' ? false : true"
                                            (onChange)="GetPatientLIST()"
                                            [styleClass]="PatientFormSubmitted && PatientSelect.errors?.required? 'clearance' : ''" [required]="true"> 
                                        </p-dropdown>
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label">Patient ID:</label>
                                        <input class="form-control"
                                        name="PatientID"
                                        #PatientID="ngModel" 
                                        [(ngModel)]="ObjPatient.Foot_Fall_ID"
                                        placeholder="Type Patient ID" disabled> 
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">Date of Birth:<sup class="text-danger"></sup></label>
                                            <!-- <ejs-datepicker 
                                            [(value)]="Date_Of_Birth" 
                                            [format]="'dd/MMM/yyyy'"
                                            name="Birth_date"
                                            [enabled]="false"
                                            ></ejs-datepicker> -->
                                            <div class="label-t">{{Date_Of_Birth ? (Date_Of_Birth | date: "dd/MMM/yyyy") : '-'}}</div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">Sex:<sup class="text-danger"></sup></label>
                                        <select class="form-control"
                                        name="Gender"
                                        #Gender="ngModel"
                                        [(ngModel)]="ObjPatient.Gender"
                                         disabled >
                                            <option  [ngValue]="undefined" >Select</option>
                                            <option>Male</option>
                                            <option >Female</option>
                                            <option >Other</option>
                                        </select>
                                    </div>
                                </div>


                              <div class="row">    
                                <div class="col-sm-4">
                                    <label class="control-label">Date of Validation:
                                      <sup class="text-danger"></sup></label>
                                      <ejs-datepicker 
                                      [(value)]="Date_Of_Validation" 
                                      [format]="'dd/MMM/yyyy'"
                                      name="Validation_date"
                                      [enabled]="buttonname === 'Create' ? true : false"
                                      ></ejs-datepicker>
                                  </div>
                                  <div class="col-sm-4">
                                    <label class="control-label">Type of Visiting</label>
                                    <select class="form-control"
                                    name="Visiting"
                                    #Visiting="ngModel"
                                   [(ngModel)]="ObjPatient.Type_of_visit"
                                    >
                                    <option [ngValue]="'Fitting'">Fitting</option>
                                    <option [ngValue]="'Fine tuning'" >Fine tuning</option>
                                  </select>
                                  </div>
                                  <div class="col-sm-4">
                                    <label class="control-label">Audiologist:<sup class="text-danger"></sup></label>                                 
                                    <p-dropdown [options]="Audiologistlist"
                                            name="Audiologist" 
                                            #Audiologist="ngModel" 
                                            [(ngModel)]="ObjPatient.Doctor_ID"
                                            [showClear]="true" 
                                            [emptyFilterMessage]="' No Audiologist Found'" 
                                            [filter]="true" filterBy="label,value.name" 
                                            [resetFilterOnHide]="true" 
                                            [placeholder]="'Select Audiologist'" 
                                            [virtualScroll]="true"
                                            itemSize="30"
                                            (onChange)="GetDoctorId()"
                                            [disabled]="UserType == 'U'"
                                            [required]="true"> 
                                        </p-dropdown>
                                </div>
                                </div>


                                <div class="row">    
                                    <div class="col-sm-4">
                                        <label class="control-label">Centre:<sup class="text-danger"></sup></label>
                                        <p-dropdown [options]="CostCentreList"
                                            name="CostCentreSelect" 
                                            #CostCentreSelect="ngModel" 
                                            [(ngModel)]="ObjPatient.Cost_Cen_ID"
                                            [showClear]="true" 
                                            [emptyFilterMessage]="' No CostCentre Found'" 
                                            [filter]="true" filterBy="label,value.name" 
                                            [resetFilterOnHide]="true" 
                                            [placeholder]="'Select CostCentre'" 
                                            [virtualScroll]="true"
                                            itemSize="30"
                                            [disabled]="UserType == 'U'"
                                            [required]="true"> 
                                        </p-dropdown>
                                    </div>
                                </div>
                                <br>
                                <table>
                                    <thead class="table-header">
                                      <tr>
                                        <th>SL NO.</th>
                                        <th>Ingredient</th>
                                        <th>Verification Task</th>
                                        <th>Expected Results</th>
                                        <th width="150">Status</th>
                                        <th>Remarks</th>
                                      </tr>
                                    </thead>

                                 <tbody>

                                    <tr>
                                        <td>{{IndexArray[0]}}</td>
                                        <td>Soft Sounds</td>
                                        <td>Present the following at soft level<br>
                                                1. Lings six sounds<br>
                                                2. PB words (25)<br>
                                                3. Sentences (5)
                                        </td>
                                        <td>At least 50% Correct scores</td>
                                        <td>
                                            <select class="form-control"
                                                    name="Status1"
                                                    #Status1="ngModel"
                                                    [(ngModel)]="ObjPatient.Status1"
                                                    required
                                            >
                                            <option value="Achieved">Achieved</option>
                                            <option value="Not Achieved">Not Achieved</option>  
                                             </select>  
                                        </td>
                                        <td>
                                             <input class="form-control"
                                                                name="Remarks1"
                                                                #Remarks1="ngModel"
                                                                [(ngModel)]="ObjPatient.Remarks1"
                                                                placeholder="Write Remarks"
                                             >
                                        </td>
                                    </tr>

                                    <tr >
                                        <td>{{IndexArray[1]}}</td>
                                        <td>Normal Sounds</td>
                                        <td>Present the following at normal conversational level<br>
                                                1. Lings six sounds<br>
                                                2. PB words (25)<br>
                                                3. Sentences (5)
                                        </td>
                                        <td>At least 90% Correct scores</td>
                                        <td>
                                            <select class="form-control"
                                                     name="Status2"
                                                     #Status2="ngModel"
                                                     [(ngModel)]="ObjPatient.Status2"
                                                     required
                                             >
                                             <option value ="Achieved">Achieved</option>
                                             <option value="Not Achieved">Not Achieved</option>  
                                             </select>
                                        </td>
                                        <td>
                                            <input class="form-control"
                                                   name="Remarks2"
                                                   #Remarks2="ngModel"
                                                   [(ngModel)]="ObjPatient.Remarks2"
                                                   placeholder="Write Remarks"
                                            >
                                        </td>
                                    </tr>

                                    <tr >
                                        <td>{{IndexArray[2]}}</td>
                                        <td>Loud Sounds</td>
                                        <td>Present louds sound such as claps or knocking 
                                            or tap at least thrice.</td>
                                        <td>No tolerance Issues</td>
                                        <td>
                                            <select class="form-control"
                                                    name="Status3"
                                                    #Status3="ngModel"
                                                    [(ngModel)]="ObjPatient.Status3"
                                                    required
                                            >
                                            <option value="Achieved">Achieved</option>
                                            <option value="Not Achieved">Not Achieved</option>  
                                            </select>
                                        </td>
                                        <td>
                                            <input class="form-control"
                                                    name="Remarks3"
                                                    #Remarks3="ngModel"
                                                    [(ngModel)]="ObjPatient.Remarks3"
                                                    placeholder="Write Remarks"
                                             >
                                        </td>
                                    </tr>

                                    <tr >
                                        <td>{{IndexArray[3]}}</td>
                                        <td>Own Voice</td>
                                        <td>Ask patient to speak for at least 2 to 3
                                            minutes or read aloud</td>
                                        <td>Own voice should not seem
                                             odd or exclessively loud</td>
                                        <td>
                                             <select class="form-control"
                                                     name="Status4"
                                                     #Status4="ngModel"
                                                     [(ngModel)]="ObjPatient.Status4"
                                                     required
                                             >
                                             <option value="Achieved">Achieved</option>
                                             <option value="Not Achieved">Not Achieved</option>  
                                             </select>
                                        </td>
                                        <td>
                                             <input class="form-control"
                                                    name="Remarks4"
                                                    #Remarks4="ngModel"
                                                    [(ngModel)]="ObjPatient.Remarks4"
                                                    placeholder="Write Remarks"
                                            >
                                        </td>
                                    </tr>

                                    <tr >
                                        <td>{{IndexArray[4]}}</td>
                                        <td>Feedback</td>
                                        <td>Ask patient to open and close mouth a couple
                                            of times, turn head in all directions</td>
                                        <td>No significant squealing should
                                            be observed</td>
                                        <td>
                                            <select class="form-control"
                                                     name="Status5"
                                                    #Status5="ngModel"
                                                    [(ngModel)]="ObjPatient.Status5"
                                                    required
                                            >
                                            <option value="Achieved">Achieved</option>
                                            <option value="Not Achieved">Not Achieved</option>  
                                            </select>
                                        </td>
                                         <td>
                                            <input class="form-control"
                                                    name="Remarks5"
                                                    #Remarks5="ngModel"
                                                    [(ngModel)]="ObjPatient.Remarks5"
                                                    placeholder="Write Remarks"
                                             >
                                        </td>
                                    </tr>


                                    <tr >
                                        <td>{{IndexArray[5]}}</td>
                                        <td>Speech in Noice</td>
                                        <td>Present live speech with background
                                            noise at an SNR of at least 5dB. </td>
                                        <td>Minimum of 50% scores with adaptive
                                            directional mic (only ifpresent)</td>
                                        <td>
                                             <select class="form-control"
                                                     name="Status6"
                                                      #Status6="ngModel"
                                                     [(ngModel)]="ObjPatient.Status6"
                                                    required
                                            >
                                            <option value="Achieved">Achieved</option>
                                            <option value="Not Achieved">Not Achieved</option>  
                                            </select>
                                        </td>
                                         <td>
                                             <input class="form-control"
                                                     name="Remarks6"
                                                     #Remarks6="ngModel"
                                                     [(ngModel)]="ObjPatient.Remarks6"
                                                    placeholder="Write Remarks"
                                             >
                                         </td>
                                    </tr>

                                    <tr >
                                        <td>{{IndexArray[6]}}</td>
                                        <td>Detection of /s/</td>
                                        <td>In case of Frequency Lowering technology, measures the 
                                            detection of /s/ in auditory mode by presenting words</td>                                                 <td>/s/ should be detected</td>
                                        <td>
                                             <select class="form-control"
                                                     name="Status7"
                                                     #Status7="ngModel"
                                                     [(ngModel)]="ObjPatient.Status7"
                                                     required
                                             >
                                             <option value="Achieved">Achieved</option>
                                             <option value="Not Achieved">Not Achieved</option>  
                                            </select>
                                         </td>
                                         <td>
                                             <input class="form-control"
                                                     name="Remarks7"
                                                     #Remarks7="ngModel"
                                                     [(ngModel)]="ObjPatient.Remarks7"
                                                     placeholder="Write Remarks"
                                                                     >
                                         </td>
                                    </tr>

                                    <tr >
                                        <td>{{IndexArray[7]}}</td>
                                        <td>High Frequency Words</td>
                                        <td> In case of frequency compression,
                                            present HF word list</td>
                                        <td>The score should be at least 50%</td>
                                        <td>
                                            <select class="form-control"
                                                    name="Status8"
                                                    #Status8="ngModel"
                                                     [(ngModel)]="ObjPatient.Status8"
                                                     required
                                             >
                                             <option value="Achieved">Achieved</option>
                                             <option value="Not Achieved">Not Achieved</option>  
                                            </select>
                                        </td>
                                        <td>
                                            <input class="form-control"
                                                   name="Remarks8"
                                                  #Remarks8="ngModel"
                                                  [(ngModel)]="ObjPatient.Remarks8"
                                                  placeholder="Write Remarks"
                                            >
                                        </td>
                                    </tr>

                                    <tr >
                                         <td>{{IndexArray[8]}}</td>
                                         <td>Telephonic conversation/wireless</td>
                                         <td>Place the phone over mic of HI (in non-wireless HIs) and ask 
                                             them to have a general conversation.</td>
                                         <td>Conversation should be at least 
                                             70% understandable</td>
                                         <td>
                                            <select class="form-control"
                                                    name="Status9"
                                                    #Status9="ngModel"
                                                    [(ngModel)]="ObjPatient.Status9"
                                                     required
                                            >
                                            <option value="Achieved">Achieved</option>
                                            <option value="Not Achieved">Not Achieved</option>  
                                            </select>
                                         </td>
                                          <td>
                                             <input class="form-control"
                                                    name="Remarks9"
                                                    #Remarks9="ngModel"
                                                    [(ngModel)]="ObjPatient.Remarks9"
                                                     placeholder="Write Remarks"
                                              >
                                          </td>
                                    </tr>
                                 </tbody>
                                </table>                              
                            </form>
                            <div class="form-group" style="padding: 1em;">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-2"></div>
                              <div class="col-sm-2">
                                <button class="btn btn-primary pull-right"  id="load" (click)="savePatientValidation(PatientValidationForm.form.valid)"   [disabled]="">
                                     <p-progressSpinner *ngIf="Spinner"[style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                                 <span *ngIf="!Spinner" class="glyphicon glyphicon-save">{{buttonname}}</span>
                             </button>
                             </div> 
                             
                             </div> 
                        </p-tabPanel>

                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>

