<p-toast key="compacct-toast" baseZIndex="99999">
</p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                    <p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[0]" leftIcon="glyphicon glyphicon-list-alt">
                            <form name="nsSearchForm" #nsSearchForm="ngForm" novalidate>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="control-label">Date</label>

                                        <app-compacct-daterangepicker (DaterangeObj)="getDateRange($event)">
                                        </app-compacct-daterangepicker>

                                    </div>
                                    <!-- <div class="col-sm-3">
                                        <label class="control-label"> Brand<sup class="text-danger">*</sup></label>
                                        <select class="form-control" name="Brand" #Brand="ngModel" [(ngModel)]="ObjBrowse.Brand_ID" [attr.disabled]="BrandDisable ? true : null" [ngClass]="{'clearance': nsSearchFormSubmitted && Brand?.errors?.required}">
                              <option  [ngValue]="undefined">Select</option>
                          <option *ngFor="let option of BrandList" value="{{option.Brand_ID}}">
                              {{option.Brand_INI}}
                          </option>
                      </select>
                                    </div> -->
                                    <div class="col-sm-3" *ngIf="$CompacctAPI.CompacctCookies.User_Type == 'A'">
                                        <label class="control-label">Cost center <sup class="text-danger">*</sup>
                              </label>
                                        <select class="form-control" name="costcenter" #costcenter="ngModel" [(ngModel)]="ObjBrowse.Cost_Cen_ID" [attr.disabled]="costcentdisableflag ? true : null" [ngClass]="{'clearance':nsSearchFormSubmitted && costcenter?.errors?.required}">
                                    <option  [ngValue]="undefined">Select</option>
                                <!-- <option *ngFor="let option of CostCenter" value="{{option.Cost_Cen_ID}}">
                                    {{option.Location}}
                                </option> -->
                                <option *ngFor = "let option of CostCenter" [value] ="option.Cost_Cen_ID">
                                  {{option.Cost_Cen_Name}}
                                </option>
                            </select>
                                    </div>

                                    <div class="col-sm-3">
                                        <button class="btn btn-primary custombutton1" data-toggle="modal" (click)="GetSearchedList(nsSearchForm.form.valid)" id="load" [disabled]="seachSpinner">
                                <p-progressSpinner
                                  *ngIf="seachSpinner"
                                  [style]="{ width: '15px', height: '15px' }"
                                  strokeWidth="8"
                                  animationDuration=".5s"
                                ></p-progressSpinner>
                                <span
                                  *ngIf="!seachSpinner"
                                  class="glyphicon glyphicon-search"
                                ></span
                                >&nbsp;Search
                              </button>
                                    </div>
                                </div>

                            </form>
                            <div class="row">
                                <div class="col-sm-8">
                                    <h5><strong></strong></h5>
                                </div>
                            </div>
                            <div class="table-responsive table-id">
                                <p-table [value]="Searchedlist" #dt [paginator]="true" [rows]="100" [loading]="seachSpinner" [rowHover]="true" [autoLayout]="true" sortMode="multiple" [rowsPerPageOptions]="[10,25,50,100]" [rowHover]="true" [globalFilterFields]='["Doc_No","Doc_Date","Location","godown_name","Narration"]'>
                                    <ng-template pTemplate="caption">
                                        <div class="row">
                                            <div class="col-sm-3 pull-right" style="text-align: right">
                                                <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                            </div>
                                        </div>

                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width:5em">Action</th>
                                            <th>Doc No</th>
                                            <th>Date</th>
                                            <th>From Outlet</th>
                                            <th>From Stock Point</th>
                                            <th>Closing Qty</th>
                                            <th>Total Amount</th>
                                            <th>Transaction Date & Time</th>
                                            <th>Created By</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col>
                                        <tr>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                                      <i class="fa fa-fw fa-bars"></i>
                                                      <span class="caret"></span>
                                                  </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a (click)="View(col)">
                                                                <i class="fa fa-fw fa-eye" aria-hidden="true"></i> View
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a (click)="Edit(col)">
                                                                <i class="fa fa-fw fa-pencil" aria-hidden="true"></i> Edit
                                                            </a>
                                                        </li>
                                                        <!-- <li *ngIf= "col.Toyal_Qty != col.Accepted_Qty && $CompacctAPI.CompacctCookies.Cost_Cen_ID == col.To_Cost_Cen_ID">
                                                        <a (click)="AcceptChallan(col)">
                                                            <i class="fa fa-check"></i>
                                                           Accepted Challan
                                                        </a>
                                                    </li>

                                                       <li>
                                                         <a (click)="editmaster(col)">
                                                            <i class="fa fa-print" aria-hidden="true"></i>
                                                            Print
                                                        </a>
                                                    </li> -->
                                                        <li *ngIf="$CompacctAPI.CompacctCookies.User_Type == 'A'">
                                                            <a (click)="Delete(col)">
                                                                <i class="fa fa-trash" aria-hidden="true"></i> Delete
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>{{col.Doc_No}}</td>
                                            <td>{{col.Doc_Date | date : 'dd/MMM/yyyy'}}</td>
                                            <td>{{col.Location}}</td>
                                            <td>{{col.godown_name}}</td>
                                            <td>{{col.Closing_Qty}}</td>
                                            <td>{{col.Total_Amount}}</td>
                                            <td>{{col.Transaction_Date_Time}}</td>
                                            <td>{{col.Name}}</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="paginatorright" let-state>
                                        Showing {{state.first+1}} of {{(state.first+1) + state.rows}} of {{state.totalRecords}}
                                    </ng-template>
                                </p-table>

                            </div>

                        </p-tabPanel>
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[1]" leftIcon="glyphicon glyphicon-floppy-save">
                            <div class="col-lg-12">
                                <div class="panel-group">
                                    <div class="panel panel-primary">

                                        <div class="panel-body">
                                            <form name="NsOTclosingstockForm" #NsOTclosingstockForm="ngForm" novalidate>
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        <label class="control-label">Date</label>
                                                        <ejs-datepicker *ngIf="!editList.length" strictMode='true' [format]="'dd/MMM/yyyy'" [(value)]='BillDate' [min]='minDate' [max]='maxDate'></ejs-datepicker>
                                                        <input *ngIf="editList.length" class="form-control" name="Date" [disabled]="true" [ngModel]='docdate  | date :"dd-MMM-yyyy"'>
                                                    </div>
                                                    <!-- <div class="col-sm-3">
                                                        <label class="control-label"> Brand<sup class="text-danger">*</sup></label>
                                                        <select class="form-control" name="Brand_ID" #Brand_ID="ngModel" [(ngModel)]="ObjNsOTclosingStock.Brand_ID" [attr.disabled]="BrandDisable ? true : null" [ngClass]="{'clearance': NsOTclosingstockFormSubmitted && Brand_ID?.errors?.required}" required>
                                <option  [ngValue]="undefined">Select</option>
                            <option *ngFor="let option of BrandList" value="{{option.Brand_ID}}">
                                {{option.Brand_INI}}
                            </option>
                        </select>
                                                    </div> -->
                                                    <div class="col-sm-4">
                                                        <label class="control-label">Cost center <sup class="text-danger">*</sup>
                                  </label>
                                                        <select class="form-control" name="issuecostcenter" #issuecostcenter="ngModel" [(ngModel)]="ObjNsOTclosingStock.Cost_Cen_ID" (change)="getGodown()" [attr.disabled]="costcentdisableflag ? true : null" [ngClass]="{'clearance':NsOTclosingstockFormSubmitted && issuecostcenter?.errors?.required}"
                                                            required>
                                        <option  [ngValue]="undefined">Select</option>
                                    <!-- <option *ngFor="let option of CostCenter" value="{{option.Cost_Cen_ID}}">
                                        {{option.Location}}
                                    </option> -->
                                    <option *ngFor = "let option of CostCenter" [value] ="option.Cost_Cen_ID">
                                      {{option.Cost_Cen_Name}}
                                    </option>
                                </select>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label class="control-label">Godown <sup class="text-danger">*</sup>
                                  </label>
                                                        <select class="form-control" name="godown" #godown="ngModel" [(ngModel)]="ObjNsOTclosingStock.godown_id" [attr.disabled]="godowndisableflag ? true : null" [ngClass]="{'clearance':NsOTclosingstockFormSubmitted && godown?.errors?.required}" required>
                                        <option  [ngValue]="undefined">Select</option>
                                  <option *ngFor = "let option of GodownId" [value] ="option.godown_id">
                                    {{option.godown_name}}
                                  </option>
                                </select>

                                                    </div>
                                                    <!-- <div class="col-sm-4">
                                  <label class="control-label"
                                          >Select Final Material <sup class="text-danger">*</sup> &nbsp;
                                        </label>
                                        <p-dropdown
                                          [options]= "selectfinalmateriallist"
                                          name="final_material"
                                          [(ngModel)] ="ObjBomReciepe.Product_ID"
                                          [showClear]="true"
                                          [emptyFilterMessage]="' No Product Found'"
                                          (onChange)="ProductChange()"
                                          [filter]="true"
                                          filterBy="label,value.name"
                                          [resetFilterOnHide] = "true"
                                          [placeholder]="'Select Product'"
                                          [virtualScroll]="true"
                                          itemSize="30"
                                          #final_material="ngModel"
                                          [required]="true"
                                          [ngClass]="{'clearance': BomRecipeFormSubmitted && final_material?.errors?.required}"
                                          required>
                                        </p-dropdown> -->
                                                    <!-- <label class="control-label">Select Final Material <span class="text-danger">*</span></label>
                                      <select class="form-control"
                                         name="final_material"
                                         #final_material="ngModel"
                                         [(ngModel)]="ObjBomReciepe.Select_Final_Material"
                                         [ngClass]="{'clearance': BomRecipeFormSubmitted && final_material?.errors?.required}">
                                            <option  [ngValue]="undefined">Select</option>
                                            <option *ngFor="let option of selectfinalmateriallist" [value]="option.Product_ID">
                                                   {{option.Product_Description}}</option>
                                      </select> -->
                                                    <!-- </div> -->
                                                    <!-- <div class="col-sm-2">
                                    <label class="control-label">Remarks</label>
                                          <textarea class="form-control"
                                          name="Remarks"
                                          #Ramarks = "ngModel"
                                          [(ngModel)]="ObjOTclosingwithbatch.Remarks"
                                          [ngClass]="{'clearance':OTclosingstockwithbatchFormSubmitted && Remarks?.errors?.required}"></textarea>
                                  </div> -->
                                                    <div class="col-sm-3">
                                                        <button type="button" (click)="GetProduct(NsOTclosingstockForm.form.valid)" class="btn btn-primary pull-right1">
                                    <span class="glyphicon glyphicon-search"></span>  Get Product
                                 </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <!-- <button type="button" (click)="GetProduct(NsOTclosingstockForm.form.valid)" class="btn btn-primary pull-right">
                     <span class="glyphicon glyphicon-search"></span>  Get Product
                  </button> -->
                            </div>

                            <div class="row">
                                <div class="col-sm-8">
                                    <h5><strong></strong></h5>
                                </div>
                            </div>
                            <div class="table-responsive table-id">
                                <p-table *ngIf="productlist.length" [value]="productlist" #dt1 [paginator]="true" [rows]="300" [loading]="seachSpinner" [rowHover]="true" [autoLayout]="true" sortMode="multiple" [rowsPerPageOptions]="[100,200,300]" [rowHover]="true" [globalFilterFields]='["Product_Type","Product_Description","Batch_No","Expiry_Date","batch_Qty","Issue_Qty"]'>
                                    <ng-template pTemplate="caption">
                                        <div class="row">
                                            <div class="col-sm-3 pull-right" style="text-align: right">
                                                <input type="text" pInputText size="50" placeholder="Search" (input)="dt1.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                            </div>
                                        </div>

                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <!-- <th style="width:5em">Action</th> -->
                                            <th>Product Type</th>
                                            <th>Product Description</th>
                                            <th>UOM</th>
                                            <th>Batch No</th>
                                            <th>Batch Qty</th>
                                            <th>Closing Qty</th>
                                            <th>Variance</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col let-rowIndex="rowIndex">
                                        <tr>
                                            <td>{{col.Product_Type}}</td>
                                            <td>{{col.Product_Description}}</td>
                                            <td>{{col.UOM}}</td>
                                            <td>{{col.Batch_No ? col.Batch_No : '-'}}</td>
                                            <td>{{col.Batch_Qty}}</td>
                                            <td><input type="text" [name]="col.Product_ID" [(ngModel)]='col.Closing_Qty' (ngModelChange)='VarianceqtyChq(rowIndex)' [ngClass]="{'clearance' : flag}" CompacctDigitonly="true" class="form-control" style="width: 71px;"
                                                /></td>
                                            <td>{{col.Varience_Qty}}</td>
                                            <td><input type="text" [name]="col.Product_ID" [(ngModel)]='col.Remarks	' [disabled]="col.batch_Qty == col.Closing_Qty" class="form-control" style="width: 150px;" /></td>
                                        </tr>
                                        <tr *ngIf='rowIndex === (productlist.length - 1)'>
                                            <td colspan="4" class="text-right">Total</td>
                                            <td>{{getTotalValue('Batch_Qty')}}</td>
                                            <td>{{getTotalValue('Closing_Qty')}}</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="paginatorright" let-state>
                                        Showing {{state.first+1}} of {{(state.first+1) + state.rows}} of {{state.totalRecords}}
                                    </ng-template>
                                </p-table>

                            </div>



                            <div class="box-footer">
                                <button type="button" class="btn btn-primary pull-right" (click)="SaveOTcloingWithBatch()" id="load" [disabled]="Spinner">
                            <p-progressSpinner *ngIf="Spinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                        <span *ngIf="!Spinner" class="glyphicon glyphicon-save"></span> {{buttonname}}
                    </button>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- VIEW POPUP -->
<p-dialog header="Details" [appendTo]="'body'" [(visible)]="ViewPoppup" [modal]="true" [responsive]="true" [minY]="70" [maximizable]="true" [closeOnEscape]="true" [style]="{width: '80%', minWidth: '300px'}">
    <div class="form-group">
        <div class="col-sm-4">
            <label class="control-label">Doc No</label>
            <div class="label-t">{{Doc_No}}</div>
        </div>

        <div class="col-sm-4">
            <label class="control-label">Date</label>
            <div class="label-t">{{Doc_date | date :"dd-MMM-yyyy"}}</div>

        </div>


        <div class="col-sm-4">
            <label class="control-label">Cost Cent Name</label>
            <div class="label-t">{{Cost_Cent_ID}}</div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">
            <label class="control-label">Stock Point</label>
            <div class="label-t">{{Godown_ID}}</div>

        </div>
        <!-- <div class="col-sm-4">
  <label class="control-label">Remarks</label>
      <div  class="label-t">{{remarks ? remarks : '-'}}</div>

</div> -->
    </div>
    <div class="clearfix"></div>
    <div class="table-responsive table-id no-padding" style="overflow-x: hidden !important;">
        <p-table [value]="editList" [globalFilterFields]='["Product_Type","Product_Description","Batch_No","Closing_Qty","Remarks"]' [rowHover]="true" [autoLayout]="true" #dt2>
            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-sm-3 pull-right" style="text-align: right">
                        <input type="text" pInputText size="50" placeholder="Search" (input)="dt2.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Product Type</th>
                    <th>Product Id</th>
                    <th>Product Description</th>
                    <th>UOM</th>
                    <th>Batch No</th>
                    <th>Batch Qty</th>
                    <th>Closing Qty</th>
                    <th>Consumption Qty</th>
                    <th>Remarks</th>
                    <th>Total Amount</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-col let-rowIndex="rowIndex">
                <tr>

                    <td>{{col.Product_Type}}</td>
                    <td>{{col.Product_ID}}</td>
                    <td>{{col.Product_Description}}</td>
                    <td>{{col.UOM}}</td>
                    <td>{{col.Batch_No}}</td>
                    <td>{{col.batch_Qty ? col.batch_Qty : col.Batch_Qty}}</td>
                    <td>{{col.Closing_Qty}}</td>
                    <td>{{col.Consumption_Qty}}</td>
                    <td>{{col.Remarks}}</td>
                    <td>{{col.Total_Amount}}</td>

                </tr>
                <tr *ngIf='rowIndex === (productlist.length - 1)'>
                    <td colspan="5" class="text-right">Total</td>
                    <td>{{TotalValue('Batch_Qty')}}</td>
                    <td>{{TotalValue('Closing_Qty')}}</td>
                    <td></td>
                    <td>{{TotalValue('Total_Amount')}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>


    <p-footer>
        <button *ngIf='editList.length' type="button" (click)="exportoexcel(editList,'Closing_stock_with_batch')" class="btn btn-success">
            <i class="glyphicon glyphicon-save"></i>&nbsp;  export to excel
          </button>
        <button type="button" (click)="ViewPoppup = false" class="btn btn-default">
     <i class="fa fa-close"></i>&nbsp;  Close
   </button>
    </p-footer>
</p-dialog>