<p-toast key="compacct-toast" baseZIndex="99999">
</p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>

    </ng-template>
</p-toast>
<p-toast position="center" key="s" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirmSave()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onRejectsave()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>

    </ng-template>
</p-toast>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                    <p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[0]"
                            leftIcon="glyphicon glyphicon-list-alt">
                            <!-- <form name="GRNSearchForm" #GRNSearchForm="ngForm" novalidate>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label">Company<sup class="text-danger">*</sup></label>
                                        <select class="form-control" name="browsecompany" #browsecompany="ngModel"
                                            [(ngModel)]="ObjBrowse.Company_ID"
                                            [ngClass]="{'clearance': RDBSearchFormSubmitted && browsecompany?.errors?.required}"
                                            required>
                                            <option [ngValue]="undefined">Select</option>
                                            <option *ngFor="let option of companyList" [value]="option.Company_ID">
                                                {{option.Company_Name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Date</label>
                                        <app-compacct-daterangepicker (DaterangeObj)="getDateRange($event)"
                                            [HardCodeDateOpt]="initDate">
                                        </app-compacct-daterangepicker>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-sm-3">
                                            <button class="btn btn-primary custombutton" data-toggle="modal"
                                                (click)="GetSearchedlist(GRNSearchForm.form.valid)" id="load"
                                                [disabled]="seachSpinner">
                                                <p-progressSpinner *ngIf="seachSpinner"
                                                    [style]="{width: '15px', height: '15px'}" strokeWidth="8"
                                                    animationDuration=".5s"></p-progressSpinner>
                                                <span *ngIf="!seachSpinner"
                                                    class="glyphicon glyphicon-search"></span>&nbsp;Search
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <div class="table-id">
                                <p-table [value]="Searchedlist" [paginator]="Searchedlist.length ? true : false"
                                    [paginator]="true" [rows]="100" *ngIf='Searchedlist.length' [loading]="seachSpinner"
                                    [rowHover]="true" [autoLayout]="true" [responsive]="true" sortMode="multiple"
                                    [rowsPerPageOptions]="[10,25,50,100]" [rowHover]="true"
                                    [globalFilterFields]="DynamicHeader">
                                    <ng-template pTemplate="caption">
                                        <div class="row">
                                            <div class="col-sm-3 pull-right" style="text-align: right">
                                                <input type="text" pInputText size="50" placeholder="Search"
                                                    (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                                    class="searchInput form-control">
                                            </div>
                                        </div>

                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width:5em">Action</th>
                                            <th *ngFor="let option of DynamicHeader">{{option.replaceAll('_',' ')}}</th>

                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col>
                                        <tr>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-sm tableButton dropdown-toggle"
                                                        type="button" data-toggle="dropdown" style="height:27px">
                                                        <i class="fa fa-fw fa-bars"></i>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a (click)="Edit(col)">
                                                                <i class="fa fa-fw fa-pencil" aria-hidden="true"></i>
                                                                Edit
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a (click)="PrintPGRN(col.GRN_No)">
                                                                <i class="fa fa-fw fa-print"></i> Print
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a (click)="Delete(col)">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                                Delete
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <ng-container *ngFor="let option of DynamicHeader" data->
                                                <td>{{col[option] ? (col[option]):"-"}}</td>
                                            </ng-container>

                                        </tr>
                                    </ng-template>
                                    
                                </p-table>

                            </div> -->

                        </p-tabPanel>

                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[1]"
                            leftIcon="glyphicon glyphicon-floppy-save">
                            <div class="panel-group">
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        <form name="GRNForm" #GRNForm="ngForm" novalidate>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label class="control-label">GRN Date <sup class="text-danger">*</sup></label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input CompacctNepaliDatepicker id="GRN_Date" name="GRN_Date"  Class="form-control"
                                                        (ngModelChange)="GRN_Date= $event" [(ngModel)]="GRN_Date"
                                                        [ngClass]="{'clearance': GRNcreatFormSubmitted && GRN_Date?.errors?.required}" required>
                                                </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <label class="control-label">Company<sup class="text-danger">*</sup></label>                     
                                                    <p-dropdown [options]="companyList" name="Creatcompany"  [(ngModel)]="ObjGRN.Company_ID" [showClear]="true"
                                                        [emptyFilterMessage]="' No Company Found'" [filter]="true" filterBy="label,value.name" [resetFilterOnHide]="true"
                                                        [placeholder]="'Select Company'" [virtualScroll]="true" itemSize="30" #Creatcompany="ngModel"
                                                        [styleClass]="GRNcreatFormSubmitted && Creatcompany.errors?.required? 'clearance' : ''" [required]="true">
                                                    </p-dropdown>
                                                </div>
                                                <div class="col-sm-5">
                                                    <label class="control-label">Supplier<sup class="text-danger">*</sup></label>
                                                    <p-dropdown [options]="Supplierlist" name="Supplier"
                                                        [(ngModel)]="ObjGRN.Sub_Ledger_ID" [showClear]="true"
                                                        [emptyFilterMessage]="' No Supplier Found'" [filter]="true"
                                                        filterBy="label,value.name" [resetFilterOnHide]="true"
                                                        [placeholder]="'Select Supplier'" [virtualScroll]="true"
                                                        itemSize="30" #Supplier="ngModel"
                                                        [styleClass]="GRNcreatFormSubmitted && Supplier.errors?.required? 'clearance' : ''"
                                                        [required]="true">
                                                    </p-dropdown>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    <label class="control-label">Cost center<sup class="text-danger">*</sup></label>
                                                    <p-dropdown [options]="CostCenterlist" name="CostCenter" [(ngModel)]="ObjGRN.Cost_Cen_ID" [showClear]="true"
                                                        [emptyFilterMessage]="' No Cost center Found'" [filter]="true" filterBy="label,value.name" [resetFilterOnHide]="true"
                                                        [placeholder]="'Select Cost center'" [virtualScroll]="true" itemSize="30" #CostCenter="ngModel"
                                                        [styleClass]="GRNcreatFormSubmitted && CostCenter.errors?.required? 'clearance' : ''" [required]="true"
                                                        (onChange)="GetRDBNo()">
                                                    </p-dropdown>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="control-label">Stock Point<sup class="text-danger">*</sup></label>
                                                    <p-dropdown [options]="Godownlist" name="godown" [(ngModel)]="ObjGRN.godown_id" [showClear]="true"
                                                        [emptyFilterMessage]="' No Stock Point Found'" [filter]="true" filterBy="label,value.name" [resetFilterOnHide]="true"
                                                        [placeholder]="'Select Stock Point'" [virtualScroll]="true" itemSize="30" #godown="ngModel"
                                                        [styleClass]="GRNcreatFormSubmitted && godown.errors?.required? 'clearance' : ''" [required]="true"
                                                        (onChange)="GetRDBNo()">
                                                    </p-dropdown>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="control-label">SE No</label>
                                                    <input class="form-control" name="SE_No" #SE_No="ngModel" [(ngModel)]="ObjGRN.SE_No"
                                                        placeholder="SE No">
                                                </div>
                                                <div class="col-sm-2">
                                                    <label class="control-label">SE Date</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input CompacctNepaliDatepicker id="SEDate" name="SEDate" Class="form-control"
                                                        (ngModelChange)="SEDate= $event" [(ngModel)]="SEDate"
                                                        [ngClass]="{'clearance': GRNcreatFormSubmitted && SEDate?.errors?.required}" required>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label class="control-label">INV No<sup class="text-danger">*</sup></label>
                                                <input class="form-control" name="INV" #INV="ngModel" [(ngModel)]="ObjGRN.INV_No"
                                                    placeholder="INV No" [ngClass]="{'clearance':GRNcreatFormSubmitted && INV?.errors?.required}"
                                                    required>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label class="control-label">INV Date<sup  class="text-danger">*</sup></label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input CompacctNepaliDatepicker id="INVDate" name="INVDate" Class="form-control"
                                                        (ngModelChange)="INVDate= $event" [(ngModel)]="INVDate"
                                                        [ngClass]="{'clearance': GRNcreatFormSubmitted && INVDate?.errors?.required}" required>
                                                </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="control-label">Mode of Transport</label>
                                                    <input class="form-control" name="mot" #mot="ngModel"
                                                        [(ngModel)]="ObjGRN.Mode_Of_transport"
                                                        placeholder="Mode of Transport">
                                                </div>
                                                <div class="col-sm-2">
                                                    <label class="control-label">L.R No. & Date</label>
                                                    <input class="form-control" name="lrnondate" #lrnondate="ngModel"
                                                        [(ngModel)]="ObjGRN.LR_No_Date"
                                                        placeholder="L.R No. & Date">
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="control-label">Vehicle No.</label>
                                                    <input class="form-control" name="vehicleno" #vehicleno="ngModel"
                                                        [(ngModel)]="ObjGRN.Vehicle_No" placeholder="Vehicle No.">
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="control-label">PO Number<sup class="text-danger">*</sup></label>
                                                    <p-dropdown [options]="Godownlist" name="PO_Number" [(ngModel)]="ObjGRN.PO_Number" [showClear]="true"
                                                        [emptyFilterMessage]="' No PO Number Found'" [filter]="true" filterBy="label,value.name" [resetFilterOnHide]="true"
                                                        [placeholder]="'Select PO Number'" [virtualScroll]="true" itemSize="30" #PO_Number="ngModel"
                                                        [styleClass]="GRNcreatFormSubmitted && PO_Number.errors?.required? 'clearance' : ''" [required]="true"
                                                        (onChange)="GetRDBNo()">
                                                    </p-dropdown>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label class="control-label">PO Date</label>
                                                <div class="label-t">ObjTopCreat.RDB_No</div>
                                                </div>
                                            </div>                                         
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="table-responsive no-padding">
                                <table class="table table-bordered">
                                    <thead style="background-color:#4fa1d1;color:white;">
                                        <tr>
                                            <th nowrap rowspan="2">Sl.No.</th>
                                            <th nowrap rowspan="2">Product Details</th>
                                            <!-- <th nowrap rowspan="2">HSN Code</th> -->
                                            <th nowrap rowspan="2">Unit</th>
                                            <th nowrap rowspan="2">PO Qty</th>
                                            <th nowrap rowspan="2">Pending Po Qty</th>
                                            <th nowrap colspan="2" style="text-align:center ;">Quantity</th>
                                            <th nowrap rowspan="2">Rate</th>
                                            <!-- <th nowrap rowspan="2">Discount Amt</th> -->
                                             <!-- <th nowrap rowspan="2">Taxable Value</th> -->
                                            <th nowrap rowspan="2">Total Amount</th>      
                                            <th nowrap rowspan="2">Delete</th>
                                        </tr>
                                        <tr>
                                            <th>Challan</th>
                                            <th>Received</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>1</td>
                                            <td>Test</td>
                                            <!-- <td>Test1</td> -->
                                            <td>Test2</td>
                                            <td>Test4</td>
                                            <td>Test5</td>
                                            <td>
                                                <input class="form-control" name="Received" #Received="ngModel" [(ngModel)]="ObjGRN.Received"
                                                CompacctDigitonly="true"
                                                [ngClass]="{'clearance': GRNcreatFormSubmitted && Received?.errors?.required}" required>
                                            </td>
                                            <td>
                                                <input class="form-control" name="Challan" #Challan="ngModel" [(ngModel)]="ObjGRN.Challan"
                                                CompacctDigitonly="true"
                                                [ngClass]="{'clearance': GRNcreatFormSubmitted && Challan?.errors?.required}" required>
                                            <td>Test6</td>
                                            <!-- <td>Test7</td> -->
                                            <!-- <td>Test8</td> -->
                                            <td>Test9</td>
                                            <td > <a class="btn btn-sm btn-danger"
                                                    (click)="delete()">
                                                    <div><i class="fa fa-fw fa-trash"> </i></div></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                         
<div class="form-group">
    <div class="col-sm-6">
        <label class="control-label"> Remarks</label>
        <textarea class="form-control" name="Remarks" #Remarks="ngModel"
            [(ngModel)]="ObjGRN.Remarks" placeholder="Remarks " >
        </textarea>
    </div>
</div>
                            <div class="box-footer">
                                <button class="btn btn-primary pull-right" (click)="SaveGRN(GRNForm.form.valid)"
                                    id="load" [disabled]="Spinner">
                                    <p-progressSpinner *ngIf="Spinner" [style]="{width: '15px', height: '15px'}"
                                        strokeWidth="8" animationDuration=".5s"></p-progressSpinner>
                                    <span *ngIf="!Spinner" class="glyphicon glyphicon-save"></span>{{buttonname}}
                                </button>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[2]" leftIcon="fa fa-hourglass">
                            <!-- <form name="PandingSearchForm" #PandingSearchForm="ngForm" novalidate>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label">Company<sup class="text-danger">*</sup></label>
                                        <select class="form-control" name="pandingcompany" #pandingcompany="ngModel"
                                            [(ngModel)]="ObjPanding.Company_ID"
                                            [ngClass]="{'clearance': RDBPandingSearchFormSubmitted && pandingcompany?.errors?.required}"
                                            required>
                                            <option [ngValue]="undefined">Select</option>
                                            <option *ngFor="let opt of companyList" [value]="opt.Company_ID">
                                                {{opt.Company_Name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Date</label>
                                        <app-compacct-daterangepicker (DaterangeObj)="getDateRange($event)"
                                            [HardCodeDateOpt]="initDate2">
                                        </app-compacct-daterangepicker>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-sm-3">
                                            <button class="btn btn-primary custombutton" data-toggle="modal"
                                                (click)="GetSearchedpandinglist(PandingSearchForm.form.valid)" id="load"
                                                [disabled]="seachSpinner">
                                                <p-progressSpinner *ngIf="seachSpinner"
                                                    [style]="{width: '15px', height: '15px'}" strokeWidth="8"
                                                    animationDuration=".5s"></p-progressSpinner>
                                                <span *ngIf="!seachSpinner"
                                                    class="glyphicon glyphicon-search"></span>&nbsp;Search
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <div class="table-id">
                                <p-table [value]="SearchedlistPanding"
                                    [paginator]="SearchedlistPanding.length ? true : false" [paginator]="true"
                                    [rows]="100" [loading]="seachSpinner" *ngIf='SearchedlistPanding.length'
                                    [rowHover]="true" [autoLayout]="true" [responsive]="true" sortMode="multiple"
                                    [rowsPerPageOptions]="[10,25,50,100]" [rowHover]="true"
                                    [globalFilterFields]='DynamicHeader2'>
                                    <ng-template pTemplate="caption">
                                        <div class="row">
                                            <div class="col-sm-3 pull-right" style="text-align: right">
                                                <input type="text" pInputText size="50" placeholder="Search"
                                                    (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                                    class="searchInput form-control">
                                            </div>
                                        </div>

                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width:5em">Action</th>
                                            <th *ngFor="let option of DynamicHeader2">{{option.replaceAll('_',' ')}}
                                            </th>


                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col>
                                        <tr>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-sm tableButton dropdown-toggle"
                                                        type="button" data-toggle="dropdown" style="height:27px">
                                                        <i class="fa fa-fw fa-bars"></i>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a (click)="createGRN(col)">
                                                                <i class="fa fa-fw fa-pencil"></i> Create GRN
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a (click)="Printrdb(col.RDB_No)">
                                                                <i class="fa fa-fw fa-print"
                                                                    aria-hidden="true"></i>Print
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <ng-container *ngFor="let option of DynamicHeader2" data->
                                                <td>{{col[option] ? (col[option]):"-"}}</td>
                                            </ng-container>
                                        </tr>
                                    </ng-template>                     
                                </p-table>
                            </div> -->
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>

