.ui-table-auto-layout>.ui-table-wrapper {
    width: auto !important;
}

.custombutton {
    margin-top: 25px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.Outlet {
    display: inline-block !important;
}

.ShowTop {
    background-color: rgb(215 219 247);
    border-radius: 20%;
    width: 137px;
    text-align: center;
}

.text-red-active>td {
    color: red;
}