<p-toast key="compacct-toast" baseZIndex="99999"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6" *ngIf="Save && !Del">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6" *ngIf="Del && !Save">
                <button type="button" pButton (click)="onConfirm2()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                    <p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">
                    <form name="SelectForm" #SelectForm="ngForm" novalidate>
                    <div class="form-group">
                            <div class="col-sm-3">
                                <label class="control-label">Fin Year<sup class="text-danger">*</sup></label>
                                <select class="form-control" name="Fin_Year" #Fin_Year="ngModel" [(ngModel)]="objSubledger.SelectedFinYearID"
                                [ngClass]="{'clearance': SearchFormSubmit && Fin_Year.errors?.required}" required>
                              <option  [ngValue]="undefined">Select</option>
                          <option  *ngFor="let option of FinyearList" value="{{option.Fin_Year_ID}}">
                            {{option.Fin_Year_Name}}
                          </option>
                         </select>
                         </div>
                         <div class="col-sm-3">
                            <label class="control-label">Date Range</label>
                            <app-compacct-daterangepicker (DaterangeObj)="getDateRange($event)" [HardCodeDateOpt]="initDate">
                            </app-compacct-daterangepicker>
                         </div>
                         <div class="col-sm-3">
                            <label class="control-label">Report Type<sup class="text-danger">*</sup></label>
                            <select class="form-control" name="Report_Type" #Report_Type="ngModel" [(ngModel)]="objSubledger.Report_type" 
                            [ngClass]="{'clearance': SearchFormSubmit && Report_Type.errors?.required}" required >
                          <option  [ngValue]="undefined">Select</option>
                      <option  *ngFor="let option of ReportTypeList" value="{{option}}">
                        {{option}}
                      </option>
                     </select>
                     </div>
                     <div class="col-sm-3">
                        <button class="btn btn-primary custombutton" data-toggle="modal" (click)="getAlldata(SelectForm.form.valid)" id="load" style="margin-top:27px;" [disabled]="seachSpinner">
                            <p-progressSpinner *ngIf="seachSpinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                            <span *ngIf="!seachSpinner" class="glyphicon glyphicon-search"></span>&nbsp;Search
                         </button>
                    </div>
                </div>

                        </form>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>