#ui-tabpanel-0>div>p-table>div>div.ui-table-wrapper.ng-star-inserted {
    width: auto !important;
}

.ui-table-auto-layout>.ui-table-wrapper {
    width: auto !important;
    min-height: 170px !important;
}

.custombutton {
    margin-top: 40px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.Outlet {
    display: inline-block !important;
}

div.label-t {
    padding: 6px 12px;
    background: rgb(206 216 216 / 51%);
}

.margin {
    margin-top: 25px;
}

.table-header {
    color: #ffffff !important;
    background-color: #3c8dbc !important;
}

th {
    text-align: center;
}

table,
th,
td {
    border: 1px solid #ffffff !important;
    padding: 5px;
}
#red {
    color: #3c8dbc;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s
}
#red:hover{
    color: red;
    cursor: pointer;
    font-size: 18px;
}
.createPatient {
    padding: 0 5px !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
}