<p-toast key="compacct-toast" baseZIndex="99999">
</p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                    <p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[0]" leftIcon="glyphicon glyphicon-list-alt">
                            <form name="SearchForm" #SearchForm="ngForm" novalidate>
                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <label class="control-label">From Date <sup class="text-danger">*</sup></label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input  CompacctNepaliDatepicker id="BSdate" name="BSdate"
                                            Class="form-control" (ngModelChange)="BrowseStartDate= $event"
                                            [(ngModel)]="BrowseStartDate"/>
                                            <!-- <np-datepicker language="en"  id='BSdate' name="BSdate" inputClass="form-control" [(ngModel)]="BrowseStartDate"></np-datepicker> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label">To Date <sup class="text-danger">*</sup></label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input  CompacctNepaliDatepicker id="BEdate" name="BEdate"
                                             Class="form-control" (ngModelChange)="BrowseEndDate= $event"
                                             [(ngModel)]="BrowseEndDate"/>
                                            <!-- <np-datepicker language="en"  id='BEdate' name="BEdate" inputClass="form-control" [(ngModel)]="BrowseEndDate"></np-datepicker> -->
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-2">
                                        <label class="control-label">newNepal1 <sup class="text-danger">*</sup></label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input  CompacctNepaliDatepicker id="newNepal" name="newNepal"
                                             Class="form-control" (ngModelChange)="NewBrowseEndDate= $event"
                                             [(ngModel)]="NewBrowseEndDate"/>
                                        </div>
                                    </div> -->
                                    <div class="col-sm-3">
                                        <label class="control-label">Engineer Name<span
                                            class="text-danger"></span></label>
                                    <select class="form-control" name="EngName" #EngName="ngModel"
                                        [(ngModel)]='EngineerName'
                                        [ngClass]="{'clearance': SearchFormSubmit && EngName?.errors?.required}">
                                        <option [ngValue]="undefined">Select</option>
                                        <option *ngFor="let option of EngineerNameList" [value]="option.User_ID">
                                            {{option.Member_Name}}</option>
                                    </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="btn btn-primary custombutton1" data-toggle="modal" (click)="GetSearchedList(SearchForm.form.valid)" id="load" [disabled]="seachSpinner">
                        <p-progressSpinner
                          *ngIf="seachSpinner"
                          [style]="{ width: '15px', height: '15px' }"
                          strokeWidth="8"
                          animationDuration=".5s"
                        ></p-progressSpinner>
                        <span
                          *ngIf="!seachSpinner"
                          class="glyphicon glyphicon-search"
                        ></span
                        >&nbsp;Search
                      </button>
                                    </div>
                                </div>

                            </form>
                            <div class="row">
                                <div class="col-sm-8">
                                    <h5><strong></strong></h5>
                                </div>
                            </div>
                            <div class="table-responsive no-padding productTable">
                                <p-table #dt [value]="BrowseList" [globalFilterFields]="['Location_Name','Mfg_Company','Machine','Serial_No','Service_Type','Service_Start_Date','Service_End_Date','Payment_Status','Payment_Date']" [paginator]="BrowseList.length ? true:false" [rows]="10"
                                    [rowHover]="true" [autoLayout]="true" sortMode="multiple" [rowsPerPageOptions]="[100,300,500]" [rowHover]="true">
                                    <ng-template pTemplate="caption">
                                        <div class="row">
                                            <div class="col-sm-3 pull-right" style="text-align: right;">
                                                <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                            </div>
                                        </div>

                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width:5em">Action</th>
                                            <th>Support Ticket No</th>
                                            <th>Support Ticket Date</th>
                                            <th>Call Type</th>
                                            <th>Customer Name</th>
                                            <th>Location</th>
                                            <th>Machine Make</th>
                                            <th>Machine</th>
                                            <th>Machine Serial No</th>
                                            <th>Engineer</th>
                                            <th>Contract Status</th>
                                            <!-- <th>Support Ticket Status</th> -->
                                            <th>Remarks</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col>
                                        <tr>

                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                                                                <i class="fa fa-fw fa-bars"></i>
                                                                                <span class="caret"></span>
                                                                            </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a (click)="Edit(col)">
                                                                <i class="fa fa-fw fa-pencil"></i> Edit
                                                            </a>
                                                        </li>
                                                        <!-- <li>
                                                            <a (click)="Delete(col)">
                                                                <i class="fa fa-fw fa-trash"></i> Delete
                                                            </a>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>{{col.Support_Ticket_No}}</td>
                                            <td>{{col.Support_Ticket_Date_Nepali}}</td>
                                            <td>{{col.Call_Type}}</td>
                                            <td>{{col.Sub_Ledger_Name}}</td>
                                            <td>{{col.Location_Name}}</td>
                                            <!-- <td>{{col.User_Email ? col.Mfg_Company : '-' }}</td> -->
                                            <td>{{col.Mfg_Company}}</td>
                                            <td>{{col.Machine}}</td>
                                            <td>{{col.Serial_No}}</td>
                                            <td>{{col.Member_Name}}</td>
                                            <td>{{col.Contract_Status}}</td>
                                            <!-- <td>{{col.Support_Ticket_Status}}</td> -->
                                            <td>{{col.Remarks}}</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="paginatorright" let-state>
                                        Showing {{state.first+1}} of {{(state.first+1) + state.rows}} of {{state.totalRecords}}
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[1]" leftIcon="glyphicon glyphicon-floppy-save">
                            <form name="SupportTicketForm" #SupportTicketForm="ngForm" novalidate>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label">Support Ticket Date <sup class="text-danger">*</sup></label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input  CompacctNepaliDatepicker id="STdate" name="STdate"
                                             Class="form-control" (ngModelChange)="SupportTicketDate= $event"
                                             [(ngModel)]="SupportTicketDate"/>
                                            <!-- <np-datepicker language="en"  id='STdate' name="STdate" inputClass="form-control" [(ngModel)]="SupportTicketDate"></np-datepicker> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Call Type<sup class="text-danger">*</sup></label>
                                        <select class="form-control" name="calltype" #calltype="ngModel" [(ngModel)]="ObjSupportTicket.Call_Type" [ngClass]="{'clearance': SupportTicketFormSubmit && calltype.errors?.required}" required>
                                                                <option  [ngValue]="undefined">Select</option>
                                                            <option *ngFor="let option of CallTypeList" [ngValue]="option.Name">
                                                                {{option.Name}}
                                                                </option>
                                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Customer Name<span class="text-danger">*</span></label>
                                        <p-dropdown [options]="CustomerList" name="Bcustomer" [(ngModel)]="ObjSupportTicket.Customer_Name"
                                        [showClear]="true" [emptyFilterMessage]="' No Customer Found'"
                                        [filter]="true" filterBy="label,value.name" (onChange)="GetLocation()"
                                        [placeholder]="'Select Customer Name'" [virtualScroll]="true" itemSize="30" #Bcustomer="ngModel"
                                        [styleClass]="
                                        SupportTicketFormSubmit && Bcustomer.errors?.required? 'clearance': ''" [required]="true">
                                      </p-dropdown>
                                        <!-- <select class="form-control" name="customer" #customer="ngModel" [(ngModel)]='ObjSupportTicket.Customer_Name' (change)="GetLocation()" [ngClass]="{'clearance': SupportTicketFormSubmit && customer?.errors?.required}" required>
                                          <option  [ngValue]="undefined">Select</option>
                                          <option *ngFor="let option of CustomerList" [value]="option.Sub_Ledger_ID">{{option.Sub_Ledger_Name}}</option>
                                    </select> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label">Location<sup class="text-danger">*</sup></label>
                                        <select class="form-control" name="location" #location="ngModel" [(ngModel)]="ObjSupportTicket.Location" (change)="GetManufacturer()" [ngClass]="{'clearance': SupportTicketFormSubmit && location.errors?.required}" required>
                                                              <option  [ngValue]="undefined">Select</option>
                                                          <option *ngFor="let option of LoctionList" [ngValue]="option.Location_ID">
                                                              {{option.Location_Name}}
                                                              </option>
                                                      </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Machine Make<sup class="text-danger">*</sup>
                                </label>
                                        <select class="form-control" name="Manufacturer" #Manufacturer="ngModel" [(ngModel)]="ObjSupportTicket.Machine_Manufacturer" (change)="GetMachine()" [ngClass]="{'clearance': SupportTicketFormSubmit && Manufacturer?.errors?.required}" required>
                                      <option  [ngValue]="undefined">Select</option>
                                  <option *ngFor="let option of MfList" value="{{option.Product_Mfg_Comp_ID}}">
                                      {{option.Mfg_Company}}
                                      </option>
                              </select>

                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Machine<span class="text-danger">*</span></label>
                                        <select class="form-control" name="machine" #machine="ngModel" [(ngModel)]='ObjSupportTicket.Machine' (change)="GetSerialNo()" [ngClass]="{'clearance': SupportTicketFormSubmit && machine?.errors?.required}" required>
                                          <option  [ngValue]="undefined">Select</option>
                                          <option *ngFor="let option of MachineList" [value]="option.Product_ID">{{option.Machine}}</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label">Machine Serial No<sup class="text-danger">*</sup></label>
                                        <select class="form-control" name="serialno" #serialno="ngModel" [(ngModel)]="ObjSupportTicket.Serial_No" (change)="GetPreContractStatus()" [ngClass]="{'clearance': SupportTicketFormSubmit && serialno?.errors?.required}" required>
                                            <option  [ngValue]="undefined">Select</option>
                                        <option *ngFor="let option of SerialNoList" value="{{option.Serial_No}}">
                                            {{option.Serial_No}}
                                            </option>
                                    </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Assigned Engineer<sup class="text-danger">*</sup></label>
                                        <select class="form-control" name="engineer" #engineer="ngModel" [(ngModel)]="ObjSupportTicket.Assigned_Engineer" [ngClass]="{'clearance': SupportTicketFormSubmit && engineer.errors?.required}" required>
                                                                <option  [ngValue]="undefined">Select</option>
                                                            <option *ngFor="let option of EngineerList" [ngValue]="option.User_ID">
                                                                {{option.Member_Name}}
                                                                </option>
                                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Aligned Engineer</label>
                                        <div class="form-control" name="alengg" disabled="true">{{alignedengineer}}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label">Contract Status <sup class="text-danger">*</sup></label>
                                        <div class="pull-right">
                                            <button (click)="ViewContract()" [disabled]="!previouscontractList.length" class="btn btn-primary pull-right createPatient"> View Contract</button>
                                        </div>
                                        <select class="form-control" name="contractstatus" #contractstatus="ngModel" [(ngModel)]="ObjSupportTicket.Contract_Status" [ngClass]="{'clearance': SupportTicketFormSubmit && contractstatus.errors?.required}" required>
                                            <option  [ngValue]="undefined">Select</option>
                                        <option *ngFor="let option of ContractStatusList" [ngValue]="option.Service_Type">
                                            {{option.Service_Type}}
                                            </option>
                                    </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Symptom <sup class="text-danger">*</sup></label>
                                        <p-multiSelect itemSize="30" [options]="SymptomList" [styleClass]="'compacct-multiselect'" name="symptom" #symptom="ngModel" [(ngModel)]="ObjSupportTicket.Symptom" [filter]="true" filterBy="label,value.name" [resetFilterOnHide]="true" [ngClass]="{'clearance': SupportTicketFormSubmit && symptom.errors?.required}"
                                            required>
                                        </p-multiSelect>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Expected completion Date <sup class="text-danger">*</sup></label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input  CompacctNepaliDatepicker id="ExComdate" name="ExComdate"
                                             Class="form-control" (ngModelChange)="ExpectedcompletionDate= $event"
                                             [(ngModel)]="ExpectedcompletionDate"/>
                                            <!-- <np-datepicker language="en"  id='ExComdate' name="ExComdate" inputClass="form-control" [(ngModel)]="ExpectedcompletionDate"></np-datepicker> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label">Support Start Date <sup class="text-danger">*</sup></label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input  CompacctNepaliDatepicker id="SupStartdate" name="SupStartdate"
                                             Class="form-control" (ngModelChange)="SupportStartDate= $event"
                                             [(ngModel)]="SupportStartDate"/>
                                            <!-- <np-datepicker language="en"  id='SupStartdate' name="SupStartdate" inputClass="form-control" [(ngModel)]="SupportStartDate"></np-datepicker> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Support End Date <sup class="text-danger">*</sup></label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input  CompacctNepaliDatepicker id="SupEnddate" name="SupEnddate"
                                             Class="form-control" (ngModelChange)="SupportEndDate= $event"
                                             [(ngModel)]="SupportEndDate"/>
                                            <!-- <np-datepicker language="en"  id='SupEnddate' name="SupEnddate" inputClass="form-control" [(ngModel)]="SupportEndDate"></np-datepicker> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Remarks<sup class="text-danger">*</sup></label>
                                        <textarea class="form-control" style="margin: 0px -16.6719px 0px 0px; width: 334px;height: 69px;" name="Remarks" #Remarks="ngModel" [(ngModel)]="ObjSupportTicket.Remarks" [ngClass]="{'clearance': SupportTicketFormSubmit && Remarks.errors?.required}" required></textarea>
                                    </div>
                                </div>
                            </form>
                            <!-- <div class="col-sm-6"> -->
                            <div class="box-footer">
                                <button class="btn btn-primary pull-right1" (click)="SaveSupportTicket(SupportTicketForm.form.valid)" id="load" [disabled]="Spinner">
                                                            <p-progressSpinner *ngIf="Spinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                                                        <span *ngIf="!Spinner" class="glyphicon glyphicon-save"></span>{{buttonname}}
                                                    </button>
                            </div>
                            <!-- </div> -->
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SHOW PREVIOUS CONTRACT -->
<p-dialog header="Contract Details" [appendTo]="'body'" [visible]="PreviousContractPopup" [closeOnEscape]="true" [closable]="false" [modal]="true" [responsive]="true" [style]="{ width: '80%', minWidth: '300px' }" style="text-align: center;" [minY]="80"
    [maximizable]="true" [baseZIndex]="10000">
    <!-- <div class="clearfix"></div> -->
    <div class="table-responsive no-padding">
        <p-table [value]="previouscontractList" [globalFilterFields]='["Sub_Ledger_Name","Location_Name","Mfg_Company","Machine","Serial_No","Service_Type","Service_Start_Date","Service_End_Date","Payment_Status","Payment_Date"]' [rowHover]="true" [autoLayout]="true"
            #dt3>
            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-sm-3 pull-right" style="text-align: right">
                        <input type="text" pInputText size="50" placeholder="Search" (input)="dt3.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                    </div>
                </div>

            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Customer Name</th>
                    <th>Location</th>
                    <th>Manufacturer</th>
                    <th>Machine</th>
                    <th>Serial No</th>
                    <th>Type of Service</th>
                    <th>Service Start Date</th>
                    <th>Service End Date</th>
                    <th>Payment Status</th>
                    <th>Payment Date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-col let-rowIndex="rowIndex">
                <tr>

                    <td>{{col.Sub_Ledger_Name}}</td>
                    <td>{{col.Location_Name}}</td>
                    <td>{{col.Mfg_Company}}</td>
                    <td>{{col.Machine}}</td>
                    <td>{{col.Serial_No}}</td>
                    <td>{{col.Service_Type}}</td>
                    <td>{{col.Service_Start_Date | date : 'dd/MMM/yyyy'}}</td>
                    <td>{{col.Service_End_Date | date : 'dd/MMM/yyyy'}}</td>
                    <td>{{col.Payment_Status}}</td>
                    <td>{{col.Payment_Date | date : 'dd/MMM/yyyy'}}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-footer>
        <button type="button" (click)="PreviousContractPopup = false" class="btn btn-default">
                                  CLOSE
                                </button>
    </p-footer>
</p-dialog>