<p-toast key="compacct-toast" baseZIndex="99999999"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" baseZIndex="99999999">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-6" *ngIf="Save && !Del">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6" *ngIf="Del && !Save">
                <button type="button" pButton (click)="onConfirm2()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                    <p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[0]" leftIcon="glyphicon glyphicon-list-alt">
                            <form name="PendingForm" #PendingForm="ngForm" novalidate>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="control-label">Reminder Type<sup class="text-danger">*</sup></label>
                                        <select class="form-control" name="Reminder" #Reminder="ngModel" [(ngModel)]="objPending.Reminder_Type" [ngClass]="{'clearance': PendingFormSubmitted && Reminder?.errors?.required}" required>
                                      <option  [ngValue]="undefined">Select</option>
                                  <option  *ngFor="let option of ReminderList" value="{{option.Reminder_Type}}">
                                    {{option.Reminder_Type}}
                                  </option>
                                 </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">As On</label>
                                        <ejs-datepicker [format]="'dd/MMM/yyyy'" [(value)]='Entry_Date'></ejs-datepicker>
                                    </div>


                                    <div class="col-sm-3">
                                        <button class="btn btn-primary" style="margin-top: 28px;margin-left: 40%;" data-toggle="modal" (click)="GetSearchedList(PendingForm.form.valid)" id="load30" [disabled]="seachSpinner">
                                    <p-progressSpinner *ngIf="seachSpinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                                   <span *ngIf="!seachSpinner" class="glyphicon glyphicon-search"></span>&nbsp;Search
                                   </button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="btn btn-success custombutton " data-toggle="modal" (click)="exportoexcel('perceptive')" id="load2">
                                        <span  class="glyphicon glyphicon-save-file"></span>&nbsp;Export To Excel
                                        </button>
                                    </div>
                                </div>
                            </form>


                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">Ledger
                                            <sup class="text-danger"></sup></label>
                                    <p-multiSelect [options]="LedgerFilter" [(ngModel)]="SelectedLedger" [styleClass]="'compacct-multiselect'" name="filterCos" (onChange)="filterLedger()"></p-multiSelect>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Sub Ledger
                                            <sup class="text-danger"></sup></label>
                                    <p-multiSelect [options]="SubLedgerFilter" [(ngModel)]="SelectedSubLedger" [styleClass]="'compacct-multiselect'" name="filterAudio" (onChange)="filterSubLedger()"></p-multiSelect>
                                </div>
                            </div>


                            <div class="table-responsive no-padding">
                                <!-- <p-table [value]="Searchedlist" [paginator]="true" [rows]="100" [rowHover]="true" [autoLayout]="true" sortMode="multiple" [rowsPerPageOptions]="[100,200,300]" [globalFilterFields]="['Contact_Name','Mobile','Appo_Dt','Doctor_Name','PT_LEFT', 'PT_RIGHT']"
                                    [rowHover]="true" #dt> -->
                                <p-table [value]="Searchedlist" [paginator]="true" [rows]="100" [rowHover]="true" [autoLayout]="true" sortMode="multiple" [rowsPerPageOptions]="[100,200,300]" [globalFilterFields]="['Voucher_No','Voucher_Date', 'Amount', 'Pending_On', 'Ledger_Name', 'Sub_Ledger_Name']"
                                    [rowHover]="true" #dt>
                                    <ng-template pTemplate="caption">
                                        <div class="row">
                                            <div class="col-sm-3 pull-right" style="text-align: right">
                                                <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                            </div>
                                        </div>

                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width:5em">Action</th>
                                            <th nowrap>Voucher No</th>
                                            <th nowrap>Voucher Date</th>
                                            <th nowrap>Amount</th>
                                            <th nowrap>Pending On</th>
                                            <th nowrap>Ledger Name</th>
                                            <th nowrap>Sub Ledger Name</th>

                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col>
                                        <tr>

                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                                                <i class="fa fa-fw fa-bars"></i>
                                                                <span class="caret"></span>
                                                            </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a (click)="PrintVoucher(col)">
                                                                <i class="fa fa-fw fa-print"></i> Print Voucher
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a (click)="Received(col)">
                                                                <i class="fa fa-fw fa-check "></i> Received
                                                            </a>
                                                        </li>
                                                        <!-- <li>
                                                            <a (click)="PrintBill2(col)">
                                                                <i class="fa fa-fw fa-print"></i> Print Page2
                                                            </a>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </td>
                                            <td nowrap>{{col.Voucher_No ? col.Voucher_No : '-' }}</td>
                                            <td nowrap>{{col.Voucher_Date | date: "dd/MMM/yyyy"}}</td>
                                            <td nowrap>{{col.Amount ? col.Amount : '-'}}</td>
                                            <td nowrap>{{col.Pending_On | date: "dd/MMM/yyyy"}}</td>
                                            <td nowrap>{{col.Ledger_Name ? col.Ledger_Name : '-'}}</td>
                                            <td nowrap>{{col.Sub_Ledger_Name ? col.Sub_Ledger_Name : '-'}}</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="paginatorright" let-state>
                                        Showing {{state.first+1}} of {{(state.first+1) + state.rows}} of {{state.totalRecords}}
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[1]" leftIcon="glyphicon glyphicon-list">
                            <form name="CompleteForm" #CompleteForm="ngForm" novalidate>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="control-label">Reminder Type<sup class="text-danger">*</sup></label>
                                        <select class="form-control" name="Reminder2" #Reminder2="ngModel" [(ngModel)]="objComplete.Reminder_Type2" [ngClass]="{'clearance': CompleteFormSubmitted && Reminder2?.errors?.required}" required>
                                      <option  [ngValue]="undefined">Select</option>
                                  <option  *ngFor="let option of ReminderList" value="{{option.Reminder_Type}}">
                                    {{option.Reminder_Type}}
                                  </option>
                                 </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">Voucher Date</label>
                                        <ejs-datepicker [format]="'dd/MMM/yyyy'" [(value)]='Entry_Date2'></ejs-datepicker>
                                    </div>


                                    <div class="col-sm-3">
                                        <button class="btn btn-primary" style="margin-top: 28px;margin-left: 40%;" data-toggle="modal" (click)="GetSearchedList2(CompleteForm.form.valid)" id="load" [disabled]="seachSpinner">
                              <p-progressSpinner *ngIf="seachSpinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                              <span *ngIf="!seachSpinner" class="glyphicon glyphicon-search"></span>&nbsp;Search
                           </button>
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="btn btn-success custombutton pull-left" data-toggle="modal" (click)="exportoexcel1('perceptive')" id="load3">
                                       <span  class="glyphicon glyphicon-save-file"></span>&nbsp;Export To Excel
                                        </button>
                                    </div>
                                </div>

                            </form>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">Ledger
                                            <sup class="text-danger"></sup></label>
                                    <p-multiSelect [options]="LedgerFilter2" [(ngModel)]="SelectedLedger2" [styleClass]="'compacct-multiselect'" name="filterCos" (onChange)="filterLedger2()"></p-multiSelect>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Sub Ledger
                                            <sup class="text-danger"></sup></label>
                                    <p-multiSelect [options]="SubLedgerFilter2" [(ngModel)]="SelectedSubLedger2" [styleClass]="'compacct-multiselect'" name="filterAudio" (onChange)="filterSubLedger2()"></p-multiSelect>
                                </div>
                            </div>

                            <div class="table-responsive no-padding">
                                <!-- <p-table [value]="Searchedlist" [paginator]="true" [rows]="100" [rowHover]="true" [autoLayout]="true" sortMode="multiple" [rowsPerPageOptions]="[100,200,300]" [globalFilterFields]="['Contact_Name','Mobile','Appo_Dt','Doctor_Name','PT_LEFT', 'PT_RIGHT']"
                                    [rowHover]="true" #dt> -->
                                <p-table [value]="Searchedlist2" [paginator]="true" [rows]="100" [rowHover]="true" [autoLayout]="true" sortMode="multiple" [rowsPerPageOptions]="[100,200,300]" [globalFilterFields]="['Voucher_No','Voucher_Date', 'Amount', 'Pending_On', 'Ledger_Name', 'Sub_Ledger_Name']"
                                    [rowHover]="true" #dt2>
                                    <ng-template pTemplate="caption">
                                        <div class="row">
                                            <div class="col-sm-3 pull-right" style="text-align: right">
                                                <input type="text" pInputText size="50" placeholder="Search" (input)="dt2.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                            </div>
                                        </div>

                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width:5em">Action</th>
                                            <th nowrap>Voucher No</th>
                                            <th nowrap>Voucher Date</th>
                                            <th nowrap>Amount</th>
                                            <th nowrap>Pending On</th>
                                            <th nowrap>Ledger Name</th>
                                            <th nowrap>Sub Ledger Name</th>

                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col>
                                        <tr>

                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                                                <i class="fa fa-fw fa-bars"></i>
                                                                <span class="caret"></span>
                                                            </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a (click)="PrintVoucher(col)">
                                                                <i class="fa fa-fw fa-print"></i> Print Voucher
                                                            </a>
                                                        </li>
                                                        <!-- <li>
                                                            <a (click)="Received(col)">
                                                                <i class="fa fa-fw fa-eye "></i> Received
                                                            </a>
                                                        </li> -->
                                                        <!-- <li>
                                                            <a (click)="PrintBill2(col)">
                                                                <i class="fa fa-fw fa-print"></i> Print Page2
                                                            </a>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </td>
                                            <td nowrap>{{col.Voucher_No ? col.Voucher_No : '-' }}</td>
                                            <td nowrap>{{col.Voucher_Date | date: "dd/MMM/yyyy"}}</td>
                                            <td nowrap>{{col.Amount ? col.Amount : '-'}}</td>
                                            <td nowrap>{{col.Pending_On | date: "dd/MMM/yyyy"}}</td>
                                            <td nowrap>{{col.Ledger_Name ? col.Ledger_Name : '-'}}</td>
                                            <td nowrap>{{col.Sub_Ledger_Name ? col.Sub_Ledger_Name : '-'}}</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="paginatorright" let-state>
                                        Showing {{state.first+1}} of {{(state.first+1) + state.rows}} of {{state.totalRecords}}
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog [header]="''" [appendTo]="'body'" [visible]="ViewProTypeModal" [closeOnEscape]="true" [closable]="false" [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '300px' }" style="text-align: center;" [minY]="70" [maximizable]="true"
    [baseZIndex]="10000">
    <h2>Received Amount</h2>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <label class="control-label">Remarks</label>
                <textarea class="form-control" name="Remark" [(ngModel)]="Remarks" rows="2" placeholder="Remarks" [ngClass]="{'clearance': Remarkssubmitted && !Remarks}" required></textarea>
            </div>
            <div class="col-sm-12">
                <label class="control-label">Received On</label>
                <ejs-datepicker [format]="'dd/MMM/yyyy'" [(value)]='Received_Date'></ejs-datepicker>
            </div>

        </div>



    </div>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="UpdateRemarks(Remarks)" label="OK"></button>
        <button type="button" (click)="ViewProTypeModal = false" class="btn btn-default">
  CANCLE
</button>
    </p-footer>
</p-dialog>