<p-toast key="compacct-toast" baseZIndex="99999"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
	<ng-template let-message pTemplate="message">
		<div style="text-align: center">
			<i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
			<h3>{{ message.summary }}</h3>
			<p>{{ message.detail }}</p>
		</div>
		<div class="ui-g ui-fluid">
			<div class="ui-g-6">
				<button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
			</div>
			<div class="ui-g-6">
				<button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
			</div>
		</div>
	</ng-template>
</p-toast>
<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			<div class="form-horizontal">
				<div class="box-body">
					<form name="EmployeeExpenseForm" #EmployeeExpenseForm="ngForm">
						<div class="form-group">
							<div class="col-sm-4" style="margin-left: 20px !important">
								<label class="control-label">Employee<sup class="text-danger">*</sup></label>
								<select
									name="employeeee"
									class="form-control"
									#employeeee="ngModel"
									[(ngModel)]="empId"
									(change)="chnageEmp()"
									[ngClass]="{ clearance: employeeExpenseFormSubmit && employeeee?.errors?.required }"
									required>
									<option *ngIf="EmployeeList.length != 1" [ngValue]="undefined">Select</option>
									<option *ngFor="let option of EmployeeList" [ngValue]="option.Emp_ID">{{ option.Emp_Name }}</option>
								</select>
							</div>
						</div>
					</form>
					<br />
					<p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">
						<p-tabPanel headerStyleClass="compacct-tabs" [header]="Items[0]" leftIcon="glyphicon glyphicon-floppy-save">
							<form name="ExpenseForm" #ExpenseForm="ngForm">
								<div class="form-group">
									<div class="col-sm-4">
										<label class="control-label">Expense Type<sup class="text-danger">*</sup></label>
										<select
											name="expense_type"
											class="form-control"
											#expense_type="ngModel"
											[(ngModel)]="objExpenseTracking.Expence_Type_ID"
											[ngClass]="{ clearance: expenseTrackingFormSubmit && expense_type?.errors?.required }"
											required>
											<option [ngValue]="undefined">Select</option>
											<option *ngFor="let option of ExpTypeList" [ngValue]="option.Expence_Type_ID">{{ option.Expence_Type }}</option>
										</select>
									</div>
									<div class="col-sm-4">
										<label class="control-label">Amount<sup class="text-danger">*</sup></label>
										<input
											type="text"
											class="form-control"
											placeholder="Amount"
											name="amount"
											#amount="ngModel"
											[(ngModel)]="objExpenseTracking.Exp_Amount"
											CompacctDigitonly="true"
											[ngClass]="{ clearance: expenseTrackingFormSubmit && amount?.errors?.required }"
											required />
									</div>
									<div class="col-sm-4">
										<label class="control-label">Note<sup class="text-danger">*</sup></label>
										<textarea
											class="form-control"
											placeholder="Note"
											name="note"
											#note="ngModel"
											[(ngModel)]="objExpenseTracking.Exp_Note"
											[ngClass]="{ clearance: expenseTrackingFormSubmit && note?.errors?.required }"
											required>
										</textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4">
										<label class="control-label">Date<sup class="text-danger">*</sup></label>
										<ejs-datepicker
											[format]="'dd/MMM/yyyy'"
											[(value)]="txn_Date"
											[(ngModel)]="txn_Date"
											name="txnDate"
											#txnDate="ngModel"
											required
											[cssClass]="expenseTrackingFormSubmit && txnDate.errors?.required ? 'clearance' : ''">
										</ejs-datepicker>
									</div>
									<div class="col-sm-4">
										<label class="control-label">Upload Document</label>
										<span class="btn btn-xs btn-danger pull-right" (click)="ClearUploadInpt(UploadFile)" *ngIf="file"
											><i class="fa fa-close"></i
										></span>
										<div>
											<p-fileUpload
												mode="basic"
												name="filedoc"
												#UploadFile
												chooseLabel="BROWSE"
												uploadLabel="UPLOAD"
												accept="image/*"
												[customUpload]="true"
												(onSelect)="fileSelect()"
												*ngIf="upload"
												(uploadHandler)="onBasicUpload(UploadFile)">
											</p-fileUpload>
											<button
												name="pan"
												*ngIf="!upload"
												pButton
												pRipple
												type="button"
												label="Show Document"
												(click)="showDoc(this.objExpenseTracking.Pic_File_Name)"></button>
										</div>
									</div>
									<div class="col-sm-4"></div>
								</div>
								<div class="form-group">
									<button
										class="btn btn-primary pull-right"
										(click)="saveData(EmployeeExpenseForm.form.valid, ExpenseForm.form.valid)"
										id="load"
										[disabled]="Spinner">
										<p-progressSpinner
											*ngIf="Spinner"
											[style]="{ width: '15px', height: '15px' }"
											strokeWidth="8"
											animationDuration=".5s"></p-progressSpinner>
										<span *ngIf="!Spinner" class="glyphicon glyphicon-save"></span>{{ buttonname }}
									</button>
								</div>
							</form>
						</p-tabPanel>
						<p-tabPanel headerStyleClass="compacct-tabs" [header]="Items[1]" leftIcon="glyphicon glyphicon-hourglass">
							<div class="table-responsive">
								<p-table
									[value]="pendingExpList"
									[paginator]="true"
									[rows]="10"
									[rowHover]="true"
									[autoLayout]="true"
									sortMode="multiple"
									[rowsPerPageOptions]="[10, 20, 50, 100, 200, 300]"
									[globalFilterFields]="pendingExpListHeader"
									[rowHover]="true"
									#dt>
									<ng-template pTemplate="caption">
										<div class="row">
											<div class="col-sm-3 pull-right" style="text-align: right">
												<input
													type="text"
													pInputText
													size="50"
													placeholder="Search"
													(input)="dt.filterGlobal($event.target.value, 'contains')"
													class="searchInput form-control" />
											</div>
										</div>
									</ng-template>
									<ng-template pTemplate="header">
										<tr>
											<th style="width: 5em">Action</th>
											<th style="text-align: center" nowrap>Employee</th>
											<th style="text-align: center" nowrap>Date</th>
											<th style="text-align: center" nowrap>Amount</th>
											<th style="text-align: center" nowrap>Note</th>
											<th style="text-align: center" nowrap>Document</th>
										</tr>
									</ng-template>
									<ng-template pTemplate="body" let-col>
										<tr>
											<td>
												<div class="dropdown">
													<button
														class="btn btn-default btn-sm tableButton dropdown-toggle"
														type="button"
														data-toggle="dropdown"
														style="height: 27px">
														<i class="fa fa-fw fa-bars"></i>
														<span class="caret"></span>
													</button>
													<ul class="dropdown-menu">
														<li>
															<a (click)="edit(col)"> <i class="glyphicon glyphicon-edit"></i> Edit </a>
															<a (click)="delte(col)"> <i class="glyphicon glyphicon-trash"></i> Delete </a>
															<ng-container *ngIf="EmployeeList[0]?.can_approve == 'Y'">
																<a (click)="Authorize(col)"> <i class="glyphicon glyphicon-ok"></i> Authorize </a>
																<a (click)="UnAuthorize(col)"> <i class="glyphicon glyphicon-remove"></i> Unauthorize </a>
															</ng-container>
														</li>
													</ul>
												</div>
											</td>
											<td style="text-align: center" nowrap>{{ col.Emp_Name ? col.Emp_Name : "-" }}</td>
											<td style="text-align: center" nowrap>{{ col.Txn_Date | date : "dd/MMM/yyyy" }}</td>
											<td style="text-align: center" nowrap>{{ col.Exp_Amount ? col.Exp_Amount : "-" }}</td>
											<td style="text-align: center" nowrap>{{ col.Exp_Note ? col.Exp_Note : "-" }}</td>
											<td style="text-align: center" nowrap>
												<button class="btn btn-primary" (click)="showDoc(col.Pic_File_Name)" [disabled]="!col?.Pic_File_Name">View</button>
											</td>
										</tr>
									</ng-template>
									<ng-template pTemplate="paginatorright" let-state>
										Showing {{ state.first + 1 }} of {{ state.first + state.rows }} of {{ state.totalRecords }}
									</ng-template>
								</p-table>
							</div>
						</p-tabPanel>
						<p-tabPanel headerStyleClass="compacct-tabs" [header]="Items[2]" leftIcon="glyphicon glyphicon-floppy-saved">
							<div class="table-responsive">
								<p-table
									[value]="authExpList"
									[paginator]="true"
									[rows]="10"
									[rowHover]="true"
									[autoLayout]="true"
									sortMode="multiple"
									[rowsPerPageOptions]="[10, 20, 50, 100, 200, 300]"
									[globalFilterFields]="authExpListHeader"
									[rowHover]="true"
									#dt>
									<ng-template pTemplate="caption">
										<div class="row">
											<div class="col-sm-3 pull-right" style="text-align: right">
												<input
													type="text"
													pInputText
													size="50"
													placeholder="Search"
													(input)="dt.filterGlobal($event.target.value, 'contains')"
													class="searchInput form-control" />
											</div>
										</div>
									</ng-template>
									<ng-template pTemplate="header">
										<tr>
											<th></th>
											<th style="text-align: center" nowrap>Employee</th>
											<th style="text-align: center" nowrap>Date</th>
											<th style="text-align: center" nowrap>Amount</th>
											<th style="text-align: center" nowrap>Note</th>
											<th style="text-align: center" nowrap>Authrized Amt</th>
											<th style="text-align: center" nowrap>Authrized Note</th>
											<th style="text-align: center" nowrap>Authrized Date</th>
											<th>Payment</th>
											<th style="text-align: center" nowrap>Document</th>
										</tr>
									</ng-template>
									<ng-template pTemplate="body" let-col>
										<tr>
											<td>
												<p-checkbox
													name="Authgroup"
													[value]="col.Expence_ID"
													(onChange)="print()"
													[(ngModel)]="selectedAuthorized"
													[disabled]="col.Pay_ID ? true : false"></p-checkbox>
											</td>
											<td style="text-align: center" nowrap>{{ col.Emp_Name ? col.Emp_Name : "-" }}</td>
											<td style="text-align: center" nowrap>{{ col.Txn_Date | date : "dd/MMM/yyyy" }}</td>
											<td style="text-align: center" nowrap>{{ col.Exp_Amount ? col.Exp_Amount : "-" }}</td>
											<td style="text-align: center" nowrap>{{ col.Exp_Note ? col.Exp_Note : "-" }}</td>
											<td style="text-align: center" nowrap>{{ col.Auth_Amount ? col.Auth_Amount : "-" }}</td>
											<td style="text-align: center" nowrap>{{ col.Auth_Note ? col.Auth_Note : "-" }}</td>
											<td style="text-align: center" nowrap>{{ col.Auth_Date | date : "dd/MMM/yyyy" }}</td>
											<td style="text-align: center" nowrap>{{ col.Pay_ID ? col.Pay_ID : "" }}</td>
											<td style="text-align: center" nowrap>
												<button class="btn btn-primary" (click)="showDoc(col.Pic_File_Name)" [disabled]="!col?.Pic_File_Name">View</button>
											</td>
										</tr>
									</ng-template>
									<ng-template pTemplate="paginatorright" let-state>
										Showing {{ state.first + 1 }} of {{ state.first + state.rows }} of {{ state.totalRecords }}
									</ng-template>
								</p-table>
							</div>

							<div class="form-group">
								<div class="col-sm-12">
									<button
										style="margin: 20px 30px 0 0"
										class="btn btn-primary pull-right"
										(click)="approveAuthorized()"
										id="load"
										[disabled]="approveSpiner || !selectedAuthorized.length">
										<p-progressSpinner
											*ngIf="approveSpiner"
											[style]="{ width: '15px', height: '15px' }"
											strokeWidth="8"
											animationDuration=".5s"></p-progressSpinner>
										<span *ngIf="!approveSpiner" style="margin-right: 5px !important" class="glyphicon glyphicon-saved"></span>Pay
									</button>
								</div>
							</div>
						</p-tabPanel>
						<p-tabPanel headerStyleClass="compacct-tabs" [header]="Items[3]" leftIcon="glyphicon glyphicon-floppy-remove">
							<div class="table-responsive">
								<p-table
									[value]="unAuthExpList"
									[paginator]="true"
									[rows]="10"
									[rowHover]="true"
									[autoLayout]="true"
									sortMode="multiple"
									[rowsPerPageOptions]="[10, 20, 50, 100, 200, 300]"
									[globalFilterFields]="unAuthExpListHeader"
									[rowHover]="true"
									#dt>
									<ng-template pTemplate="caption">
										<div class="row">
											<div class="col-sm-3 pull-right" style="text-align: right">
												<input
													type="text"
													pInputText
													size="50"
													placeholder="Search"
													(input)="dt.filterGlobal($event.target.value, 'contains')"
													class="searchInput form-control" />
											</div>
										</div>
									</ng-template>
									<ng-template pTemplate="header">
										<tr>
											<th style="text-align: center" nowrap>Employee</th>
											<th style="text-align: center" nowrap>Date</th>
											<th style="text-align: center" nowrap>Amount</th>
											<th style="text-align: center" nowrap>Note</th>
											<th style="text-align: center" nowrap>Unauthorized Note</th>
											<th style="text-align: center" nowrap>Unauthorized Date</th>
											<th style="text-align: center" nowrap>Document</th>
										</tr>
									</ng-template>
									<ng-template pTemplate="body" let-col>
										<tr>
											<td style="text-align: center" nowrap>{{ col.Emp_Name ? col.Emp_Name : "-" }}</td>
											<td style="text-align: center" nowrap>{{ col.Txn_Date | date : "dd/MMM/yyyy" }}</td>
											<td style="text-align: center" nowrap>{{ col.Exp_Amount ? col.Exp_Amount : "-" }}</td>
											<td style="text-align: center" nowrap>{{ col.Exp_Note ? col.Exp_Note : "-" }}</td>
											<td style="text-align: center" nowrap>{{ col.Auth_Note ? col.Auth_Note : "-" }}</td>
											<td style="text-align: center" nowrap>{{ col.Auth_Date | date : "dd/MMM/yyyy" }}</td>
											<td style="text-align: center" nowrap>
												<button class="btn btn-primary" (click)="showDoc(col.Pic_File_Name)" [disabled]="!col?.Pic_File_Name">View</button>
											</td>
										</tr>
									</ng-template>
									<ng-template pTemplate="paginatorright" let-state>
										Showing {{ state.first + 1 }} of {{ state.first + state.rows }} of {{ state.totalRecords }}
									</ng-template>
								</p-table>
							</div>
						</p-tabPanel>
					</p-tabView>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Authorize Expenses -->
<p-dialog
	header="Authorize"
	appendTo="body"
	[(visible)]="DisplayAuthorizePopup"
	[modal]="true"
	[responsive]="true"
	[style]="{ width: '40%', minWidth: '375px' }"
	style="text-align: center"
	[minY]="70"
	[maximizable]="false"
	[closable]="false"
	[baseZIndex]="10000">
	<form name="AuthFrom" #AuthFrom="ngForm">
		<div class="form-group">
			<div class="col-sm-12">
				<label class="control-label">Amount<sup class="text-danger">*</sup></label>
				<input
					type="text"
					class="form-control"
					placeholder="Amount"
					name="AuthAmount"
					#AuthAmount="ngModel"
					[(ngModel)]="authAmount"
					CompacctDigitonly="true"
					[ngClass]="{ clearance: authFormSubmit && AuthAmount?.errors?.required }"
					required />
			</div>
			<div class="col-sm-12">
				<label class="control-label">Note<sup class="text-danger">*</sup></label>
				<textarea
					class="form-control"
					placeholder="Note"
					name="AuthNote"
					#AuthNote="ngModel"
					[(ngModel)]="authNote"
					[ngClass]="{ clearance: authFormSubmit && AuthNote?.errors?.required }"
					required>
				</textarea>
			</div>
		</div>
	</form>
	<p-footer>
		<button type="button" (click)="cancelAuthorize()" class="btn btn-danger"><i class="pi pi-times"></i>Cancel</button>
		<button type="button" (click)="confirmAuthorize(AuthFrom.form.valid)" class="btn btn-success" [disabled]="authSpinner">
			<i *ngIf="!authSpinner" class="pi pi-check"></i>
			<p-progressSpinner *ngIf="authSpinner" [style]="{ width: '15px', height: '15px' }" strokeWidth="8" animationDuration=".5s"></p-progressSpinner>
			Authorize
		</button>
	</p-footer>
</p-dialog>

<!-- UnAuthorize Expenses -->
<p-dialog
	header="Unauthorize"
	appendTo="body"
	[(visible)]="DisplayUnAuthorizePopup"
	[modal]="true"
	[responsive]="true"
	[style]="{ width: '40%', minWidth: '375px' }"
	style="text-align: center"
	[minY]="70"
	[maximizable]="false"
	[closable]="false"
	[baseZIndex]="10000">
	<form name="UnAuthFrom" #UnAuthFrom="ngForm">
		<div class="form-group">
			<div class="col-sm-12">
				<label class="control-label">Note<sup class="text-danger">*</sup></label>
				<textarea
					class="form-control"
					placeholder="Note"
					name="unAuthNote"
					#unAuthNote="ngModel"
					[(ngModel)]="unauthNote"
					[ngClass]="{ clearance: umauthFormSubmit && unAuthNote?.errors?.required }"
					required>
				</textarea>
			</div>
		</div>
	</form>
	<p-footer>
		<button type="button" (click)="cancelUnAuthorize()" class="btn btn-danger"><i class="pi pi-times"></i>Cancel</button>
		<button type="button" (click)="confirmUnAuthorize(UnAuthFrom.form.valid)" class="btn btn-success" [disabled]="unauthSpinner">
			<i *ngIf="!unauthSpinner" class="pi pi-check"></i>
			<p-progressSpinner
				*ngIf="unauthSpinner"
				[style]="{ width: '15px', height: '15px' }"
				strokeWidth="8"
				animationDuration=".5s"></p-progressSpinner>
			Unauthorize
		</button>
	</p-footer>
</p-dialog>
