#ui-tabpanel-0 > div > p-table > div > div.ui-table-wrapper.ng-star-inserted {
  width: auto !important;
}
.productTable .ui-table-auto-layout > .ui-table-wrapper {
  width: 100% !important;
  min-height: 170px !important;
  }
  #ui-tabpanel-0 > div > p-table > div > div.ui-table-wrapper.ng-star-inserted {
  width: auto !important;
  }
.custombutton {
  margin-top: 25px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.invalid-feedback{
  color: red;
}
.top-section{
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  padding: 15px;
}
.section{
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  padding: 15px;
}
.mt-15{
  margin-top: 15px;;
}

.raw-bgcolor{
  background-color: #ecf0f5;
  padding: 15px;
  margin-top: 15px;
}
.consumable-bgcolor{
  background-color: #c8daf7;
  padding: 15px;
}
.wastage-bgcolor{
  background-color: #ecf0f5;
  padding: 15px;
}
.final-bgcolor{
  background-color: #c8daf7;
  padding: 15px;
}
