<p-toast key="compacct-toast" baseZIndex="99999"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal" style="margin-top: 8px;">
                <div class="box-body">
                    <div class="col-lg-12">
                        <div class="panel-group">
                            <div class="panel panel-primary">
                              <div class="panel-heading">Indent</div>
                              <div class="panel-body">
                                <form name="CuttoffFormReq" #CuttoffFormReq="ngForm" novalidate>
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label class="control-label">Indent Date Of Outlet </label>
                                                <div class="pull-right" style="display:inline-block;margin-bottom: -10px;">
                                                    <a class="btn danger pull-right;" style="border: 3px solid;font-size: 10px; margin: 10px 3px;" (click)="addRequisitionDay()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                                </div>
                                             <ejs-datepicker  [(value)]="Requisition_Date" [format]="'dd/MMM/yyyy'" ></ejs-datepicker>
                                          </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Indent Cutoff Time</label>
                                                <div class="pull-right" style="display:inline-block;margin-bottom: -10px;">
                                                    <a class="btn danger" style="border: 3px solid;font-size: 10px; margin: 10px 3px;" (click)="addTime()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                            </div>
                                            
                                            <ejs-datetimepicker [(value)]="Requision_Time" [format]="'dd-MMM-yyyy hh:mm a'"></ejs-datetimepicker>
                                        </div>
                                       <div class="col-sm-4">
                                            <label class="control-label">Indent Cutoff Time (Store item)</label>
                                                <div class="pull-right" style="display:inline-block;margin-bottom: -10px;">
                                                    <a class="btn danger" style="border: 3px solid;font-size: 10px; margin: 10px 3px;" (click)="addTimeStore()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                                   </div>
                                            
                                            <ejs-datetimepicker [(value)]="Requision_Time_Store" [format]="'dd-MMM-yyyy hh:mm a'"></ejs-datetimepicker>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel-group">
                            <div class="panel panel-primary">
                              <div class="panel-heading">Factory</div>
                              <div class="panel-body">
                                <form name="CuttoffFormFac" #CuttoffFormFac="ngForm" novalidate>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label class="control-label">Production Date</label>
                                            <ejs-datepicker  [(value)]="Production_Date" [format]="'dd/MMM/yyyy'" ></ejs-datepicker>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="control-label">Challan Date</label>
                                            <ejs-datepicker  [(value)]="Bill_Date" [format]="'dd/MMM/yyyy'" ></ejs-datepicker>
                                        </div>
                                        
                                    </div>
                                    <div class="box-footer" >
                                        <a class="btn danger pull-right" style="border: 3px solid;font-size: 10px;" (click)="addDayfactory()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel-group">
                            <div class="panel panel-primary">
                              <div class="panel-heading">Outlet</div>
                              <div class="panel-body">
                                <form name="CuttoffFormOut" #CuttoffFormOut="ngForm" novalidate>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label class="control-label">Bill/RTF/ST Date Of Outlet</label>
                                            <ejs-datepicker [(value)]="Outlet_Bill_Date" 
                                             [format]="'dd/MMM/yyyy'" 
                                           ></ejs-datepicker>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="control-label">Order Date OF Outlet</label>
                                            <ejs-datepicker  [(value)]="Outlet_Order_Date" [format]="'dd/MMM/yyyy'" ></ejs-datepicker>
                                        </div>
                                        
                                    </div>
                                    <div class="box-footer" >
                                        <a class="btn danger pull-right" style="border: 3px solid;font-size: 10px;" (click)="addDayoutlet()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                     </div>
                     <div class="box-footer">
                        <button class="btn btn-primary pull-right"
                                (click)="Savecutoff(CuttoffFormOut.form.valid)"
                                id="load"
                                [disabled]="Spinner">
                                <p-progressSpinner *ngIf="Spinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                            <span *ngIf="!Spinner" class="glyphicon glyphicon-save"></span>update
                        </button>
                    </div>
                     <div class="clearfix"></div>
                     <div class="no-padding" style="margin-left: 12px;">
                        <p-table [value]="ShiftList"
                               [rowHover]="true"
                                 [autoLayout]="true"
                                 >
                                   
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Shift Name</th>
                                            <th>Shift Time</th>
                                            <th></th>
                                            
                                         </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col>
                                        <tr>
                                           <td>{{col.Shift_Name}}</td>
                                           <td> <div class="col-sm-6">
                                            <ejs-timepicker [(value)]="col.time" [step]='interval' [format]="'hh:mm a'"></ejs-timepicker>
                                           </div>
                                              
                                            </td>
                                            <td><button class="btn btn-primary" data-toggle="modal"
                                                (click)= "shiftUpdate(col)"
                                                id="load"
                                                >
                                                <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;Update
                                             </button></td>
                                         </tr>
                                    </ng-template>
                            </p-table>
                        </div>
                     <!-- <div class="box-footer">
                        <button class="btn btn-primary pull-right"
                                (click)="Savecutoff(CuttoffFormOut.form.valid)"
                                id="load"
                                [disabled]="Spinner">
                                <p-progressSpinner *ngIf="Spinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                            <span *ngIf="!Spinner" class="glyphicon glyphicon-save"></span>update
                        </button>
                    </div> -->
                    


            </div>
            </div>
            </div>
            </div>
            </div>