<p-toast key="compacct-toast" baseZIndex="99999">
</p-toast>
<!-- <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>

        <div class="ui-g ui-fluid">
          <div class="ui-g-6">
              <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
          </div>
          <div class="ui-g-6">
              <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
          </div>
      </div>
    </ng-template>
</p-toast> -->
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                    <p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">
                        <!-- <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[0]" leftIcon="glyphicon glyphicon-list-alt" > -->
                        <form name="TeamHeadSearchForm" #TeamHeadSearchForm="ngForm" novalidate>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label class="control-label">Team Head <sup class="text-danger">*</sup></label>
                                    <select class="form-control" name="teamhead" #teamhead="ngModel" [(ngModel)]="ObjTeamHead.Member_ID" [ngClass]="{'clearance':TeamHeadSearchFormSubmitted && teamhead?.errors?.required}" required>
                                              <option  [ngValue]="undefined">Select</option>
                                       <option *ngFor = "let option of TeamHeadlist" [value] ="option.Member_ID">
                                          {{option.Member_Name}}
                                        </option>
                                  </select>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-primary custombutton2" data-toggle="modal" (click)="GetWebDemoTeam(TeamHeadSearchForm.form.valid)" id="load" [disabled]="seachSpinner">
                                  <p-progressSpinner
                                    *ngIf="seachSpinner"
                                    [style]="{ width: '15px', height: '15px' }"
                                    strokeWidth="8"
                                    animationDuration=".5s"
                                  ></p-progressSpinner>
                                  <span
                                    *ngIf="!seachSpinner"
                                    class="glyphicon glyphicon-search"
                                  ></span
                                  >&nbsp;Show
                                </button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary custombutton3" data-toggle="modal" (click)="CreateUser(TeamHeadSearchForm.form.valid)" id="load" [disabled]="seachSpinner">
                                  <span
                                    class="glyphicon glyphicon-plus"
                                  ></span
                                  >&nbsp;Create User
                                </button>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-primary custombutton4" data-toggle="modal" (click)="ConverttoWebDemo(TeamHeadSearchForm.form.valid)" id="load" [disabled]="seachSpinner">
                                  <span
                                    class="glyphicon glyphicon-list-alt"
                                  ></span
                                  >&nbsp;Convert User to Web Demo
                                </button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive table-id">
                            <p-table [value]="Showlist" #dt1 [paginator]="true" [rows]="100" [loading]="seachSpinner" [rowHover]="true" [autoLayout]="true" sortMode="multiple" [rowsPerPageOptions]="[10,25,50,100]" [rowHover]="true" [globalFilterFields]='["Member_Name","User_Name","User_Mobile"]'>
                                <ng-template pTemplate="caption">
                                    <div class="row">
                                        <div class="col-sm-3 pull-right" style="text-align: right">
                                            <input type="text" pInputText size="50" placeholder="Search" (input)="dt1.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                        </div>
                                    </div>

                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <!-- <th style="width:5em">Action</th> -->
                                        <th>Member Name</th>
                                        <th>User Name</th>
                                        <th>User Mobile</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-col>
                                    <tr>
                                        <!-- <td>
                                            <div class="dropdown">
                                                <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                                        <i class="fa fa-fw fa-bars"></i>
                                                        <span class="caret"></span>
                                                    </button>
                                                <ul class="dropdown-menu">
                                                    <li *ngIf="col.Autho_One_Staus == 'YES'">
                                                            <a (click)="View(col)">
                                                              <i class="fa fa-fw fa-eye" aria-hidden="true"></i>
                                                               View
                                                            </a>
                                                        </li> -->
                                        <!-- <li *ngIf= "col.Toyal_Qty != col.Accepted_Qty && $CompacctAPI.CompacctCookies.Cost_Cen_ID == col.F_Cost_Cen_ID">
                                                              <a (click)="edit(col)">
                                                                <i class="fa fa-fw fa-pencil" aria-hidden="true"></i>
                                                                Edit
                                                            </a>
                                                        </li> -->
                                        <!-- <li *ngIf="col.Autho_One == $CompacctAPI.CompacctCookies.User_ID && col.Autho_One_Staus == 'NO'">
                                                        <a (click)="Authorized(col)">
                                                            <i class="fa fa-check"></i> Authorized
                                                        </a>
                                                    </li> -->

                                        <!-- <li>
                                                          <a (click)="exportoexcel(ViewList,'Purchase_Planning')">
                                                              <i class="glyphicon glyphicon-save" aria-hidden="true"></i>
                                                              export to excel
                                                          </a>
                                                      </li> -->
                                        <!-- <li *ngIf = "col.Accepted_Qty == 0  &&  $CompacctAPI.CompacctCookies.Cost_Cen_ID != col.To_Cost_Cen_ID">
                                                            <a (click)="Delete(col)">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                                Delete
                                                            </a>
                                                        </li> -->
                                        <!-- </ul>
                                            </div>
                                        </td> -->
                                        <td>{{col.Member_Name}}</td>
                                        <!-- <td>{{col.Doc_Date | date : 'dd/MMM/yyyy'}}</td> -->
                                        <td>{{col.User_Name}}</td>
                                        <!-- <td>{{col.Confirm_Amount ? col.Confirm_Amount : '-'}}</td> -->
                                        <td>{{col.User_Mobile }}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="paginatorright" let-state>
                                    Showing {{state.first+1}} of {{(state.first+1) + state.rows}} of {{state.totalRecords}}
                                </ng-template>
                            </p-table>

                        </div>

                        <!-- </p-tabPanel> -->

                    </p-tabView>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- CREATE USER -->
<p-dialog header="Create User" [appendTo]="'body'" [(visible)]="CreateUserPopup" [modal]="true" [responsive]="true" [minY]="80" [maximizable]="true" [closeOnEscape]="true" [style]="{width: '30%', minWidth: '300px'}">
    <form name="CreateUserForm" #CreateUserForm="ngForm" novalidate>
        <!-- <div class="form-group"> -->
        <div>
            <label class="control-label">User Name<sup class="text-danger">*</sup></label>
            <input class="form-control" name="username" #username="ngModel" [(ngModel)]="ObjCreateUser.User_Name" placeholder="User Name" [ngClass]="{'clearance':CreateUserFormSubmitted && username?.errors?.required}" required>
        </div> <br>
        <div>
            <label class="control-label">Name<sup class="text-danger">*</sup></label>
            <input class="form-control" name="name" #name="ngModel" [(ngModel)]="ObjCreateUser.Name" placeholder="Name" [ngClass]="{'clearance':CreateUserFormSubmitted && name?.errors?.required}" required>
        </div> <br>
        <div>
            <label class="control-label">Mobile<sup class="text-danger">*</sup></label>
            <input class="form-control" name="mobile" #mobile="ngModel" [(ngModel)]="ObjCreateUser.User_Mobile" placeholder="Mobile" CompacctDigitonly="true" minlength="10" maxlength="10" [ngClass]="{'clearance':CreateUserFormSubmitted && mobile?.errors?.required}"
                required>
        </div> <br>
        <div>
            <label class="control-label">Password<sup class="text-danger">*</sup></label>
            <input class="form-control" name="password" #password="ngModel" [(ngModel)]="ObjCreateUser.Password" placeholder="Password" [ngClass]="{'clearance':CreateUserFormSubmitted && password?.errors?.required}" required>
        </div>
        <!-- </div> -->
    </form>

    <p-footer>
        <button type="button" (click)="SaveCreateUser(CreateUserForm.form.valid)" class="btn btn-success">
       <i class="glyphicon glyphicon-save"></i>&nbsp;  Save
     </button>
        <button type="button" (click)="CreateUserPopup = false" class="btn btn-default">
        <i class="fa fa-close"></i>&nbsp;  Close
      </button>
    </p-footer>
</p-dialog>
<!-- CONVERT USER TO WEB DEMO -->
<p-dialog header="Convert User To Web Demo" [appendTo]="'body'" [(visible)]="ConvertUserToDemoPopup" [modal]="true" [responsive]="true" [minY]="80" [maximizable]="true" [closeOnEscape]="true" [style]="{width: '30%', minWidth: '300px'}">
    <form name="ConvertUserToDemoForm" #ConvertUserToDemoForm="ngForm" novalidate>
        <!-- <div class="form-group"> -->
        <div>
            <label class="control-label">Existing User Name<sup class="text-danger">*</sup></label>
            <input class="form-control" name="existingusername" #existingusername="ngModel" [(ngModel)]="ObjConvertUserToDemo.User_Name" placeholder="Existing User Name" [ngClass]="{'clearance':ConvertUserToDemoFormSubmitted && existingusername?.errors?.required}"
                required>
        </div>
        <!-- </div> -->
    </form>

    <p-footer>
        <button type="button" (click)="SaveConvertUser(ConvertUserToDemoForm.form.valid)" class="btn btn-success">
       <i class="fa fa-arrow-right"></i>&nbsp;  Convert
     </button>
        <button type="button" (click)="ConvertUserToDemoPopup = false" class="btn btn-default">
        <i class="fa fa-close"></i>&nbsp;  Close
      </button>
    </p-footer>
</p-dialog>