/* #ui-tabpanel-0>div>p-table>div>div.ui-table-wrapper.ng-star-inserted {
    width: auto !important;
} */
div.table-responsive.table-id>p-table>div>div {
    width: auto !important;
}
div.table-responsive1.table-id>p-table>div>div {
    width: 50% !important;
    border: 1px solid black !important;
}
.table {
    width: 50% !important;
    max-width: 100%;
    margin-bottom: 20px;
}
body .ui-table .ui-table-tbody > tr > td {
    border: 1px solid black !important;
}
.ui-table-auto-layout > .ui-table-wrapper{
    width: auto !important;
}
.box-body {
    padding-top: 10px !important;
    padding-left: 10px !important;
}
.pull-right {
    float: right!important;
}

.custombutton {
    margin-top: 27px;
}

.text-red-active > td {
    color:red;
}
div.label-t {
    padding: 6px 12px;
    background: rgb(206 216 216 / 51%);
}
p:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
  }
p:hover {
    color: rgb(64, 110, 227);
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
  }
.custombutton1 {
    margin-left: 90px;
}
.custombutton2 {
    margin-top: -16px;
}
#cost-center-header .colcostcnter {
    text-align: center;
    color: white !important;
    background-color: #e3225c !important;
    border: 1px solid black !important;
}
#cost-center-header .colnotcostcnter {
    text-align: center !important;
    color: black !important;
    background-color: #d9d8db !important;
    border: 1px solid black !important;
}
#cost-center-header .coltotal {
    text-align: center;
    color: white !important;
    background-color: #753fa6 !important;
    border: 1px solid black !important;
}
#cost-center-body .colcostcnternmae {
    color: black !important;
    background-color: #d9d8db !important;
    border: 1px solid black !important;
}
#cost-center-body .colnotcostcnternmae {
    text-align: center;
    border: 1px solid black !important;
}
#cost-center-body .colcalculatetotal {
    text-align: center;
    color: black !important;
    background-color: #c7a7e4 !important;
    border: 1px solid black !important;
}
#cost-center-body .colcalculatetotalcount {
    color: black !important;
    background-color: #c7a7e4 !important;
    border: 1px solid black !important;
}
.last-row-class {
    text-align: center;
    color: black !important;
    background-color: #c7a7e4 !important;
    border: 1px solid black !important;
}
.lastsecond-row-class {
    color: black !important;
    background-color: #c7a7e4 !important;
    border: 1px solid black !important;
}
#cost-center-body .last-row-first-column {
    color: white !important;
    background-color: #753fa6 !important;
    border: 1px solid black !important;
}
.done {
    font-weight: bold;
}
#done-head {
    text-align: center !important;
    color: black !important;
    background-color: #53ca3f !important;
    border: 1px solid black !important;
}
#enq-head .colengsource {
    text-align: center;
    color: black !important;
    background-color: #eab832 !important;
    border: 1px solid black !important;
}
#enq-head .colnotcolengsource {
    text-align: center !important;
    color: black !important;
    background-color: #f5e8d1 !important;
    border: 1px solid black !important;
}
/* Sticky first column */
/* #cost-center-body td:first-child {
    position: sticky;
    left: 0;
} */
body .myclass .ui-table-tbody > tr > td{
    padding: 0px !important;
    border: none !important;
}
