.box-body {
    padding-top: 10px !important;
    padding-left: 10px !important;
}
.createPatient {
    padding: 0 5px !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
  }
  .control-section{
      margin-top:2em;
  }
  div.label-t {
    padding: 6px 12px;
    background: rgb(206, 216, 216);
  }
  .custombutton {
    margin-top: 25px;
  }
  .custombutton2 {
    margin-top: 1em;
    margin-bottom: 1em;
  }