<p-toast key="compacct-toast" baseZIndex="99999"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>

        <!-- <div class="ui-g ui-fluid" *ngIf="Final && !NotFinal">
          <div class="ui-g-6">
              <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
          </div>
          <div class="ui-g-6">
              <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
          </div>
      </div> -->
      <div class="ui-g ui-fluid">
        <div class="ui-g-6">
            <button type="button" pButton (click)="onReject()" label="Ok" class="ui-button-danger" style="margin-left: 70px;"></button>
        </div>
    </div>

    </ng-template>
</p-toast>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                <p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">
                    <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[0]" leftIcon="glyphicon glyphicon-hourglass">
                        <div class="col-sm-3" *ngIf="ApprovalList.length">
                            <label class="control-label">Employee Name <span class="text-danger"></span></label>
                            <p-multiSelect [options]="DistEmpName" [(ngModel)]="SelectedDistEmpName" itemSize="30" (onChange)='FilterDist()' [styleClass]="'compacct-multiselect'" name="empname"></p-multiSelect>
                        </div>
                      <div class="clearfix"></div>
                      <div class="table-responsive no-padding" style="overflow-x: hidden !important;">
                        <p-table [value]="ApprovalList" [globalFilterFields]='["Emp_Name","Leave_Type","Apply_From_Date","Apply_To_Date","Remarks","Issued_From_Date","Issued_To_Date","Approved_Status_Business_Manager","Approved_Note_Business_Manager","Approved_Status_Reporting_Manager","Approved_Note_Reporting_Manager"]' [rowHover]="true" [autoLayout]="true" #dt>
                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col-sm-3 pull-right" style="text-align: right">
                                        <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                    </div>
                                </div> <br>

                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th nowrap="nowrap">Employee Name</th>
                                    <th nowrap="nowrap">Leave Type</th>
                                    <th nowrap="nowrap">Leave Apply From</th>
                                    <th nowrap="nowrap">Leave Apply To</th>
                                    <th nowrap="nowrap">Reason</th>
                                    <th nowrap="nowrap">Approved From Date</th>
                                    <th nowrap="nowrap">Approved To Date</th>
                                    <th nowrap="nowrap">Business Manager</th>
                                    <th nowrap="nowrap">Remarks of Business Manager</th>
                                    <th nowrap="nowrap">Reporting Manager</th>
                                    <th nowrap="nowrap">Remarks of Reporting Manager</th>
                                    <th nowrap="nowrap">Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-col let-rowIndex="rowIndex">
                                <tr>

                                    <td>{{col.Emp_Name}}</td>
                                    <td>{{col.Leave_Type}}</td>
                                    <td>{{col.Apply_From_Date | date : 'dd/MMM/yyyy'}}</td>
                                    <td>{{col.Apply_To_Date | date : 'dd/MMM/yyyy'}}</td>
                                    <td nowrap="nowrap">{{col.Remarks ? col.Remarks : '-'}}</td>
                                    <td> 
                                        <ejs-datepicker [format]="'dd/MMM/yyyy'" [(value)]='col.Issued_From_Date'></ejs-datepicker>
                                    </td>
                                    <td>
                                        <ejs-datepicker [format]="'dd/MMM/yyyy'" [(value)]='col.Issued_To_Date'></ejs-datepicker>
                                    </td>
                                    <td nowrap="nowrap">
                                        <select class="form-control" name="col.Emp_ID" [(ngModel)]="col.Approved_Status_Business_Manager" [disabled]="Bussidisabled">
                                            <option  [ngValue]="undefined">Select</option>
                                            <option  Value="Y">YES</option>
                                            <option  Value="N">NO</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" [name]="col.Emp_ID" [(ngModel)]='col.Approved_Note_Business_Manager' class="form-control" [disabled]="Bussidisabled"/>
                                    </td>
                                    <td nowrap="nowrap">
                                        <select class="form-control" name="col.Emp_ID" [(ngModel)]="col.Approved_Status_Reporting_Manager" [disabled]="Reportdisabled">
                                            <option  [ngValue]="undefined">Select</option>
                                            <option  Value="Y">YES</option>
                                            <option  Value="N">NO</option>
                                        </select>
                                    </td>
                                    <td nowrap="nowrap">
                                        <input type="text" [name]="col.Emp_ID" [(ngModel)]='col.Approved_Note_Reporting_Manager' class="form-control" [disabled]="Reportdisabled"/>
                                    </td>
                                    <td nowrap="nowrap">
                                        <button class="btn btn-primary custombtn" [disabled]="col.approvedisabled" (click)='ApprovedLeave(col)' type="button" [id]="col.Emp_ID"  data-loading-text="<i class='fa fa-spinner fa-spin '></i>  Updating">
                                            Save
                                        </button>
                                        <!-- <button type="text" [id]="'RowID'+col.Product_ID" [name]="col.Product_ID" [(ngModel)]='col.Box_Charge_Remarks' class="form-control" style="width: 200px;" > Update </button> -->
                                    </td>
                                    <!-- <td>
                                        <p-dropdown [options]="vendorlist" name="Appvendor" [(ngModel)]="col.Sub_Ledger_ID" [showClear]="true" [emptyFilterMessage]="' No Product Found'" (onChange)="crdchange(rowIndex)" [filter]="true" filterBy="label,value.name" [resetFilterOnHide]="true" [placeholder]="'Select Vendor'"
                                            [virtualScroll]="true" itemSize="30" #Appvendor="ngModel">
                                        </p-dropdown>
                                    </td>
                                    <td>
                                        <input class="form-control" CompacctDigitonly="true" name="Appcreditdays" #Appcreditdays="ngModel" [(ngModel)]="col.Credit_days">
                                    </td> -->

                                </tr>
                                    <!-- <td colspan="3" class="text-center">-</td>
                                    <td>{{getTotalValue('Confirm_Amount')}}</td>
                                    <td>{{getTotalValue('Confirm_Amount_With_GST')}}</td> 
                                </tr> -->
                            </ng-template>
                        </p-table>
                      </div>
                    </p-tabPanel>
                    <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[1]" leftIcon="glyphicon glyphicon-list-alt">
                        <div class="col-sm-3" *ngIf="ApprovedApprovalList.length">
                            <label class="control-label">Employee Name <span class="text-danger"></span></label>
                            <p-multiSelect [options]="DistEmpNameTab2" [(ngModel)]="SelectedDistEmpNameTab2" itemSize="30" (onChange)='FilterDistTab2()' [styleClass]="'compacct-multiselect'" name="empnametab2"></p-multiSelect>
                        </div>
                        <div class="clearfix"></div>
                    <div class="no-padding">
                        <p-table [value]="ApprovedApprovalList"
                        [paginator]="ApprovedApprovalList.length ? true : false"
                        *ngIf='ApprovedApprovalList.length'
                        [paginator]="true" 
                        [rows]="100" 
                        [rowHover]="true" 
                        [autoLayout]="true" 
                        sortMode="multiple" 
                        [rowsPerPageOptions]="[100,200,300]" 
                        [globalFilterFields]='DynamicHeaderforTabSecond'
                            [rowHover]="true" #dt2>
                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col-sm-3 pull-right" style="text-align: right">
                                        <input type="text" pInputText size="50" placeholder="Search" (input)="dt2.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                    </div>
                                </div>

                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <!-- <th style="width:5em">Action</th> -->
                                    <th nowrap="nowrap" *ngFor="let option of DynamicHeaderforTabSecond | slice:2">{{option.replaceAll('_',' ')}}</th> 
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-col>
                                <tr>

                                    <!--<td>
                                         <div class="dropdown">
                                            <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                                            <i class="fa fa-fw fa-bars"></i>
                                                            <span class="caret"></span>
                                                        </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a (click)="CreateGRN(col)">
                                                            <i class="fa fa-fw fa-pencil"></i> Create GRN 
                                                    </a>
                                                </li>
                                                <li>
                                                    <a (click)="PrintPRDB(col.RDB_No)">
                                                        <i class="fa fa-fw fa-print"></i> Print
                                                    </a>
                                                </li>
                                            </ul>
                                        </div> 
                                    </td>-->
                                    <ng-container *ngFor="let option of DynamicHeaderforTabSecond | slice:2">
                                        <td nowrap="nowrap">{{col[option]}}</td>
                                    </ng-container>
                                    
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="paginatorright" let-state>
                                Showing {{state.first+1}} of {{(state.first+1) + state.rows}} of {{state.totalRecords}}
                            </ng-template>
                        </p-table>
                    </div>

                    </p-tabPanel>
                    <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[2]" leftIcon="glyphicon glyphicon-list-alt">
                        <div class="col-sm-3" *ngIf="DisApprovedApprovalList.length">
                            <label class="control-label">Employee Name <span class="text-danger"></span></label>
                            <p-multiSelect [options]="DistEmpNameTab3" [(ngModel)]="SelectedDistEmpNameTab3" itemSize="30" (onChange)='FilterDistTab3()' [styleClass]="'compacct-multiselect'" name="empnametab3"></p-multiSelect>
                        </div>
                        <div class="clearfix"></div>
                    <div class="no-padding">
                        <p-table [value]="DisApprovedApprovalList"
                        [paginator]="DisApprovedApprovalList.length ? true : false"
                        *ngIf='DisApprovedApprovalList.length'
                        [paginator]="true" 
                        [rows]="100" 
                        [rowHover]="true" 
                        [autoLayout]="true" 
                        sortMode="multiple" 
                        [rowsPerPageOptions]="[100,200,300]" 
                        [globalFilterFields]='DynamicHeaderforTabThird'
                            [rowHover]="true" #dt3>
                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col-sm-3 pull-right" style="text-align: right">
                                        <input type="text" pInputText size="50" placeholder="Search" (input)="dt3.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                    </div>
                                </div>

                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <!-- <th style="width:5em">Action</th> -->
                                    <th nowrap="nowrap" *ngFor="let option of DynamicHeaderforTabThird | slice:2">{{option.replaceAll('_',' ')}}</th> 
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-col>
                                <tr>

                                    <!--<td>
                                         <div class="dropdown">
                                            <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                                            <i class="fa fa-fw fa-bars"></i>
                                                            <span class="caret"></span>
                                                        </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a (click)="CreateGRN(col)">
                                                            <i class="fa fa-fw fa-pencil"></i> Create GRN 
                                                    </a>
                                                </li>
                                                <li>
                                                    <a (click)="PrintPRDB(col.RDB_No)">
                                                        <i class="fa fa-fw fa-print"></i> Print
                                                    </a>
                                                </li>
                                            </ul>
                                        </div> 
                                    </td>-->
                                    <ng-container *ngFor="let option of DynamicHeaderforTabThird | slice:2">
                                        <td nowrap="nowrap">{{col[option]}}</td>
                                    </ng-container>
                                    
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="paginatorright" let-state>
                                Showing {{state.first+1}} of {{(state.first+1) + state.rows}} of {{state.totalRecords}}
                            </ng-template>
                        </p-table>
                    </div>

                    </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>


