div.table-responsive.table-id>p-table>div>div {
    width: auto !important;
  }
  
  .box-body {
    padding-top: 10px !important;
    padding-left: 10px !important;
  }
  
  .ta-editor {
    min-height: 160px;
  }
  
  body .ui-widget {
    font-family: source sans pro, sans-serif !important;
  }
  
  textarea.form-control {
    height: auto;
  }
  
  .btn {
    border: red;
  }
  
  .box.boxboxDivide-primary {
    border-top-color: #f3efec;
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
  }
  
  .ui-table-auto-layout>.ui-table-wrapper {
    width: auto !important;
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  /* .pull-right1 {
    margin-right: 900px;
  } */
  /* .pull-right1 {
    margin-left: 15px;
  } */
  .pull-right2 {
    margin-left: -70px;
  }
  .pull-right3 {
    margin-left: -90px;
  }