<div [ngClass]="overLayFlag ? 'disabledGRN' : ''">
  <div style="margin-top: 10px;"></div>

  <form #GRNForm="ngForm" novalidate>
    <fieldset [disabled]="overLayFlag">
      <div class="form-group">
        <div class="col-sm-3">
          <label class="control-label"
            >GRN Doc Date<sup class="text-danger">*</sup></label
          >
          <div class="input-group date">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input
              type="date"
              name="GRNDoc_Date"
              [ngModel]="GRNDocDate | date: 'yyyy-MM-dd'"
              #GRNDoc_Date="ngModel"
              [ngClass]="{
                clearance: GRNFormSubmitted && GRNDoc_Date.errors?.required
              }"
              (ngModelChange)="GetDocdate($event)"
              class="form-control"
              required
            />
          </div>
        </div>
        <!-- <div class="col-sm-3">
          <label class="control-label">GRN Doc No </label>
          <input
            class="form-control"
            name="Doc_No1"
            #Doc_No1="ngModel"
            [disabled]="true"
            [(ngModel)]="GRNDoc_No"
            placeholder="Doc No"
          />
        </div> -->
        <div class="col-sm-3">
          <label class="control-label"
            >GRN Cost Center &nbsp;<span class="text-danger">*</span></label
          >
          <select
            class="form-control"
            name="costcenterFrom2"
            #costcenterFrom2="ngModel"
            [(ngModel)]="ObjGRNCommon.Cost_Cen_ID"
            (change)="ChangeCostCenter(ObjGRNCommon.Cost_Cen_ID)"
            [ngClass]="{
              clearance: GRNFormSubmitted && costcenterFrom2.errors?.required
            }"
            required
          >
            <option [ngValue]="undefined">Select</option>
            <option
              *ngFor="let option of CostCenterList"
              [ngValue]="option.Cost_Cen_ID"
              >{{ option.Cost_Cen_Name }}</option
            >
          </select>
        </div>
        <div class="col-sm-3">
          <label class="control-label">
            Stock Point<sup class="text-danger">*</sup></label
          >
          <select
            class="form-control"
            name="godownname"
            #godownname="ngModel"
            [ngClass]="{
              clearance: GRNFormSubmitted && godownname?.errors?.required
            }"
            [(ngModel)]="ObjGRNCommon.godown_id"
            [required]="true"
          >
            <option [ngValue]="undefined">Select</option>
            <option
              *ngFor="let option of GodownLists"
              [ngValue]="option.godown_id"
              >{{ option.godown_name }}</option
            >
          </select>
        </div>
        <div class="col-sm-3">
          <button
            type="submit"
            name="stock"
            class="btn btn-primary custombutton pull-left"
            (click)="SaveGRN(GRNForm.form.valid)"
            id="load"
            [disabled]="saveSpinner || GRNUpdateFlag"
          >
            <p-progressSpinner
              *ngIf="saveSpinner"
              [style]="{ width: '15px', height: '15px' }"
              strokeWidth="8"
              animationDuration=".5s"
            ></p-progressSpinner>
            <span *ngIf="!saveSpinner" class="glyphicon glyphicon-save"></span
            >&nbsp;{{ buttonname }}
          </button>
        </div>
      </div>

      <div class="form-group">
        <hr class="box boxboxDivide-primary" />
        <div class="table-responsive no-padding">
          <table class="table table-bordered">
            <thead>
              <tr style="background-color:#3c8dbc;color:white;">
                <th
                  nowrap
                  rowspan="2"
                  class="text-center"
                  style="vertical-align:middle"
                >
                  Sl. No.
                </th>
                <th
                  nowrap
                  rowspan="2"
                  class="text-center"
                  style="vertical-align:middle"
                >
                  Product Details
                </th>
                <th
                  nowrap
                  rowspan="2"
                  class="text-center"
                  style="vertical-align:middle"
                >
                  Lot No
                </th>
                <th
                  nowrap
                  rowspan="2"
                  class="text-center"
                  style="vertical-align:middle"
                >
                  No of Bags
                </th>
                <th
                  nowrap
                  rowspan="2"
                  class="text-center"
                  style="vertical-align:middle"
                >
                  Gross Weight
                  <small style="font-weight: 100;">&nbsp; (Per Bag)</small>
                </th>
                <th
                  nowrap
                  rowspan="2"
                  class="text-center"
                  style="vertical-align:middle"
                >
                  Qty
                </th>
                <th
                  nowrap
                  rowspan="2"
                  class="text-center"
                  style="vertical-align:middle"
                >
                  Unit
                </th>
                <th
                  nowrap
                  rowspan="2"
                  class="text-center"
                  style="vertical-align:middle"
                >
                  Rate
                </th>
                <th
                  nowrap
                  rowspan="2"
                  class="text-center"
                  style="vertical-align:middle"
                >
                  Amt
                </th>
                <th
                  nowrap
                  rowspan="2"
                  class="text-center"
                  style="vertical-align:middle"
                >
                  Taxable Amt
                </th>
                <th colspan="2" scope="colgroup" class="text-center">CGST</th>
                <th colspan="2" scope="colgroup" class="text-center">SGST</th>
                <th colspan="2" scope="colgroup" class="text-center">IGST</th>
                <th nowrap rowspan="2">Total</th>
              </tr>
              <tr style="background-color:#3c8dbc;color:white">
                <th scope="col" class="text-center">Rate</th>
                <th scope="col" class="text-center">Amt.</th>
                <th scope="col" class="text-center">Rate</th>
                <th scope="col" class="text-center">Amt.</th>
                <th scope="col" class="text-center">Rate</th>
                <th scope="col" class="text-center">Amt.</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let d of ProductInfoListView;
                  let odd = odd;
                  let index = index
                "
                [class.even]="odd"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ d.Product_Name }}</td>
                <td>{{ d.Batch_Number ? d.Batch_Number : "-" }}</td>
                <td>{{ d.No_Of_Bag }}</td>
                <td>{{ d.Gross_Wt }}</td>
                <td>{{ d.Qty }}</td>
                <td>{{ d.UOM }}</td>
                <td>{{ d.Rate }}</td>
                <td>{{ d.Amount }}</td>
                <th>{{ d.Taxable_Amount ? d.Taxable_Amount : "-" }}</th>
                <td>{{ d.CGST_Rate ? d.CGST_Rate : "-" }}</td>
                <td>{{ d.CGST_Amount ? d.CGST_Amount : "-" }}</td>
                <td>{{ d.SGST_Rate ? d.SGST_Rate : "-" }}</td>
                <td>{{ d.SGST_Amount ? d.SGST_Amount : "-" }}</td>
                <td>{{ d.IGST_Rate ? d.IGST_Rate : "-" }}</td>
                <td>{{ d.IGST_Amount ? d.IGST_Amount : "-" }}</td>
                <td>{{ d.Total ? d.Total : "-" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
  </form>
</div>
