<p-toast key="compacct-toast" baseZIndex="99999"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                    <p-tabView [activeIndex]="tabIndexToView">
                    <form name="Follow" #Follow="ngForm" novalidate>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label class="control-label">User<sup class="text-danger">*</sup></label>
                                <p-dropdown [options]="userList" name="User" #User="ngModel" [(ngModel)]="UsertypeREGULAR"
                                    [showClear]="true" [emptyFilterMessage]="' No User Found'" [filter]="true" filterBy="label,value.name"
                                    [resetFilterOnHide]="true" [placeholder]="'Select User'" [virtualScroll]="true" itemSize="30"
                                    [ngClass]="{'clearance': FormSubmittedBRwFl && User?.errors?.required }" required>
                                </p-dropdown>
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label">Followup Till<sup class="text-danger">*</sup></label>
                                <ejs-datepicker [(value)]="FollowupDateReg" format="dd/MM/yyyy" ></ejs-datepicker>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-primary" style="margin-top: 28px" data-toggle="modal"
                                    (click)="GetSearchedReg(Follow.form.valid)">
                                    <span  class="glyphicon glyphicon-search"></span>&nbsp;Search
                                </button>
                            </div>
                            <div class="col-sm-5">
                                <fieldset style="margin-top: -6px;">
                                    <legend style="text-align: right;">Filter</legend>
                                    <div class="form-group">
                                        <div class="col-sm-12" style="margin-top: -31px;">
                                            <label class="control-label">Followup Type<span class="text-danger"></span></label>
                                            <p-multiSelect [options]="DistFollowup1" [(ngModel)]="DistFollowupSelect1" [virtualScroll]="true"
                                                itemSize="30" [styleClass]="'compacct-multiselect'" (onChange)='FilterDist1()' name="User"
                                                [defaultLabel]="userListTable.length?'Choose Followup Type' :'No Followup Type Found' "></p-multiSelect>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                       
                    </form>
                    <div class="no-padding">
                        <p-table [value]="userListTable" [paginator]="userListTable ? true : false" [rows]="100" [rowHover]="true"
                            [autoLayout]="true" sortMode="multiple" [rowsPerPageOptions]="[100,200,300]" [rowHover]="true"
                            [globalFilterFields]='userListTableDynmic'
                            #dt>
                            <ng-template pTemplate="caption">
                                <div class="row">
                    
                                    <div class="col-sm-3 pull-right" style="text-align: right">
                                        <input type="text" pInputText size="50" placeholder="Search"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                    </div>
                                </div>
                    
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:5em">Action</th>
                                    <th>Name</th>
                                    <th>Mobile</th>
                                    <th>Alternative No.</th>
                                    <th>WhatsApp No.</th>
                                    <th>Followup For</th>
                                    <th>Followup Type</th> 
                                    <th>Last Followup Remarks</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-col>
                                <tr>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button"
                                                data-toggle="dropdown" style="height:27px">
                                                <i class="fa fa-fw fa-bars"></i>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a (click)="followup(col)">
                                                        <i class="fa fa-commenting-o"> </i>Followup</a>
                                                </li>
                                                <li><a (click)="redirectPatientDetails(col)"><i class="fa fa-fw fa fa-clone"></i>View
                                                        Details</a>
                                                </li>
                                                <li><a (click)="Appointment()"><i class="fa fa-fw fa-calendar-times-o"></i>Appointment</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>{{col.Contact_Name ? col.Contact_Name : '-' }}</td>
                                    <td nowrap="nowrap"><a href="{{'tel:+91'+col.Mobile}}"><i class="fa fa-fw fa-phone-square"
                                                *ngIf="col.Mobile"></i>{{col.Mobile}}</a></td>
                                    <td nowrap="nowrap" style="text-align: center;"><a href="{{'tel:+91'+col.Mobile_2}}"><i
                                                class="fa fa-fw fa-phone-square" *ngIf="col.Mobile_2"></i>{{col.Mobile_2 ? col.Mobile_2
                                            :'-'}}</a></td>
                                    <td style="text-align: center;">{{col.Mobile_3_WP ? col.Mobile_3_WP : '-' }}</td>
                                    <td>{{col.Cost_Cen_Name ? col.Cost_Cen_Name :'-'}}</td>
                                    <td>{{col.Followup_Type ? col.Followup_Type :'-'}}</td>
                                    <td>{{col.Followup_Details ? col.Followup_Details :'-'}}</td>
                                </tr>
                            </ng-template>
                    
                        </p-table>
                    </div>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>

 <p-dialog  [(visible)]="FollowupModal" [modal]="true" [responsive]="true" [style]="{width: '75vw'}"  [maximizable]="true" [baseZIndex]="10000">
    <p-header><h3 style="margin-top: 0px; margin-bottom: -10px;">Followup Details</h3> <br> {{Fname}}</p-header>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="box-body ">
                        <div class="timelinescroll style-3">
                            <ul class="timeline ">
                                <li class="time-label" style="margin-bottom: -20px"
                                    *ngFor="let objMain of FollowUpList">
                                    <span class="" style="background-color:rgb(236, 205, 51)">{{objMain.Posted_On_C}}</span>
                                    <ul class="timeline" style="margin: 7px 0 30px 0">
                                        <li>
                                            <i class="fa fa-user bg-blue"></i>
                                            <div class="timeline-item">
                                                <h3 class="timeline-header"><a href="#">{{objMain.SentTo}}</a>
                                                </h3>
                                                <div class="timeline-body" *ngIf="objMain.Disposition_Name">
                                                    {{objMain.Disposition_Name}} , {{objMain.Secondary_Desposition_Name}}
                                                </div>
                                                <div class="timeline-body" *ngIf="objMain.Followup_Details">
                                                    Remarks :{{objMain.Followup_Details}}
                                                </div>
                                                <div class="timeline-footer" style="padding-bottom: 10px">
                                                    <a class="btn btn-primary btn-social  btn-xs"
                                                        *ngIf="objMain.PostedBy != objMain.SentTo">
                                                        <i class="fa fa-user"></i>&nbsp;{{objMain.SentTo}}
                                                    </a>
                                                    <a class="btn btn-danger btn-social  btn-xs" *ngIf="objMain.Current_Action">
                                                        Action Taken :<i class="fa fa-angle-double-right"></i>&nbsp;{{objMain.Current_Action}} On {{objMain.Posted_On|date:"dd/MMM/yyyy , h:mm a"}}
                                                    </a>
                                                    <a class="btn btn-dangerr btn-social  btn-xs"  *ngIf="objMain.Next_Followup" id="hover">
                                                        Next Followup :<i class="fa fa-angle-double-right"></i>&nbsp;{{objMain.Next_Followup|date:"dd/MMM/yyyy , h:mm a"}}
                                                    </a>
                                                    <br>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="box-body">
                        <form name="followupForm" #followupForm="ngForm" novalidate>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="control-label">Primary Disposition<sup class="text-danger">*</sup></label>
                                    <select class="form-control"
                                       name="actiontakenFollowUpCreation"
                                       #actiontakenFollowUpCreation="ngModel"
                                       [(ngModel)]="ObjFlow.Disposition_ID" 
                                       (change)="GetSEndDispo(ObjFlow.Disposition_ID)"
                                        [ngClass]="{'clearance':folloupFormSubmit && actiontakenFollowUpCreation?.errors?.required}"
                                        required>
                                        <option [ngValue]="undefined">Select</option>
                                        <option *ngFor=" let data of disposalList" value="{{data.Disposition_ID}}">
                                            {{data.Disposition_Name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label">Secondary Disposition<sup class="text-danger">*</sup></label>
                                    <p-dropdown [options]="Disposal2nd" name="Secondary" #Secondary="ngModel" [(ngModel)]="ObjFlow.Secondary_Desposition_ID" [showClear]="true"
                                        [emptyFilterMessage]="' No Secondary DispositionFound'" [filter]="true" filterBy="label,value.name" [resetFilterOnHide]="true"
                                        [placeholder]="'Select Secondary Disposition'" [virtualScroll]="true" itemSize="30" (onChange)="getDisable()"
                                        [ngClass]="{'clearance': folloupFormSubmit && Secondary?.errors?.required }" required>
                                    </p-dropdown>
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label">Remarks<sup class="text-danger"></sup></label>
                                    <textarea class="form-control" name="Remarks"#Remarks="ngModel" [disabled]="RemarksDis"
                                    [(ngModel)]="ObjFlow.Followup_Details" placeholder="Remarks">
                                </textarea>                     
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label">Next Followup<sup class="text-danger">*</sup></label>
                                    <ejs-datepicker [(value)]="FollowupDateReg2" format="dd/MM/yyyy" [min]="minumeDate" [enabled]="!RemarksDis"></ejs-datepicker>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button class="btn btn-primary pull-right" (click)="saveFollowUp(followupForm.form.valid)" >                                  
                                    <span class="fa fa-save"></span> Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog> 
