<p-toast key="compacct-toast" baseZIndex="99999">
</p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                            <div class="clearfix"></div>
                          <p-table [columns]="scrollableCols" [frozenColumns]="frozenCols" [value]="EmpSalaryListMICL" [scrollable]="true" scrollHeight="200px" frozenWidth="300px">
                                <ng-template pTemplate="colgroup" let-columns>
                                    <colgroup>
                                        <col *ngFor="let col of columns" style="width:300px">
                                    </colgroup>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th *ngFor="let col of columns">
                                            {{col.header}}
                                        </th>
                                    
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td *ngFor="let col of columns">
                                            <ng-container [ngSwitch]="col.field">
                                                    <span *ngSwitchCase="'Emp_Name'" > {{rowData.Emp_Name}}</span>
                                                    <span *ngSwitchCase="'Emp_Code'" > {{rowData.Emp_Code}}</span>
                                                    <span *ngSwitchCase="'Emp_Joining_Dt'" > {{rowData.Emp_Joining_Dt}}</span>
                                                    <span *ngSwitchCase="'Effective_From'" > <ejs-datepicker [format]="'dd/MMM/yyyy'" [(value)]='rowData.Effective_From' [ngClass]="{'clearance' : flag}"></ejs-datepicker></span>
                                                    <span *ngSwitchCase="'Basic_Salary'" > <input type="text" [name]="rowData.basicsalary" [(ngModel)]='rowData.Basic_Salary' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></span>
                                                    <span *ngSwitchCase="'HRA'" > <input type="text" [name]="rowData.basicsalary" [(ngModel)]='rowData.Basic_Salary' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></span>
                                                    <span *ngSwitchCase="'Medical_Allowance'" > <input type="text" [name]="rowData.basicsalary" [(ngModel)]='rowData.Basic_Salary' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></span>
                                                    <span *ngSwitchCase="'Special_Allowance'" > <input type="text" [name]="rowData.basicsalary" [(ngModel)]='rowData.Basic_Salary' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></span>
                                                    <span *ngSwitchCase="'Meal_Allownce'" ><input type="text" [name]="rowData.basicsalary" [(ngModel)]='rowData.Basic_Salary' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></span>
                                                    <span *ngSwitchCase="'City_Compensation_Allowance'" > <input type="text" [name]="rowData.basicsalary" [(ngModel)]='rowData.Basic_Salary' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></span>
                                                    <span *ngSwitchCase="'Educational_Allowance'" > <input type="text" [name]="rowData.basicsalary" [(ngModel)]='rowData.Basic_Salary' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></span>
                                                    <span *ngSwitchCase="'Total_Earning_Amout'" > <input type="text" [name]="rowData.basicsalary" [(ngModel)]='rowData.Basic_Salary' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></span>
                                                    <span *ngSwitchCase="'PF_Cal_Type'" ><input type="text" [name]="rowData.basicsalary" [(ngModel)]='rowData.Basic_Salary' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></span>
                                                    <span *ngSwitchCase="'PF_Cal_Amount'" ><input type="text" [name]="rowData.basicsalary" [(ngModel)]='rowData.Basic_Salary' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></span>
                                                    <span *ngSwitchCase="'PF_Extra_Contribution'" > <input type="text" [name]="rowData.basicsalary" [(ngModel)]='rowData.Basic_Salary' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></span>
                                                    <span *ngSwitchCase="'ESI_Percentage'" > <input type="text" [name]="rowData.basicsalary" [(ngModel)]='rowData.Basic_Salary' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></span>
                                                    <span *ngSwitchCase="'ESI_Amount'" > <input type="text" [name]="rowData.basicsalary" [(ngModel)]='rowData.Basic_Salary' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></span>
                                                    <span *ngSwitchCase="'Total_Deduction'" > <input type="text" [name]="rowData.basicsalary" [(ngModel)]='rowData.Basic_Salary' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></span>
                                                    <span *ngSwitchCase="'Total_CTC'" > <input type="text" [name]="rowData.basicsalary" [(ngModel)]='rowData.Basic_Salary' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></span>
                                                    <span *ngSwitchCase="'CTC'" > <input type="text" [name]="rowData.basicsalary" [(ngModel)]='rowData.Basic_Salary' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></span>
                                                    <span *ngSwitchCase="'Action'" ><button class="btn btn-primary custombutton" (click)='UpdateMaster(rowData)' type="button" [id]="rowData.Emp_ID" data-loading-text="<i class='fa fa-spinner fa-spin '></i>  Updating">
                                                        Update
                                                     </button> </span>
                                                </ng-container>
                                         </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <tr>    <td nowrap>{{rowData.Emp_Name}}</td>
    <td nowrap>{{rowData.Emp_Code}}</td>
    <td nowrap>{{rowData.Emp_Joining_Dt}}</td>
    <td nowrap><ejs-datepicker [format]="'dd/MMM/yyyy'" [(value)]='rowData.Effective_From' [ngClass]="{'clearance' : flag}"></ejs-datepicker></td>
    <td nowrap><input type="text" [name]="rowData.basicsalary" [(ngModel)]='rowData.Basic_Salary' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></td>
    <td nowrap><input type="text" [name]="rowData.hra" [(ngModel)]='rowData.HRA' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></td>
    <td nowrap><input type="text" [name]="rowData.ma" [(ngModel)]='rowData.Medical_Allowance' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></td>
    <td nowrap><input type="text" [name]="rowData.sa" [(ngModel)]='rowData.Special_Allowance' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></td>
    <td nowrap><input type="text" [name]="rowData.mall" [(ngModel)]='rowData.Meal_Allownce'  CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></td>
    <td nowrap><input type="text" [name]="rowData.cca" [(ngModel)]='rowData.City_Compensation_Allowance' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></td>
    <td nowrap><input type="text" [name]="rowData.ea" [(ngModel)]='rowData.Educational_Allowance' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" style="width: 95px;" /></td>
    <td nowrap><input type="text" [name]="rowData.te" [(ngModel)]='rowData.Total_Earning_Amout' CompacctDigitonly="true" (ngModelChange)="totalearnings()" class="form-control" [disabled]="true" style="width: 95px;" /></td>
    <td nowrap>
        <select style="width: 95px;" class="form-control" 
         name="rowData.PFCalcType" 
         [(ngModel)]="rowData.PF_Cal_Type"
         (ngModelChange)="PFChange(rowData)">
           <option  [ngValue]="undefined">Select</option>
           <option value ="%">PF 12% (Basic)</option>
           <option value ="PF Fixed">PF Fixed</option>
           <option value ="NO PF">NO PF</option>
        </select>
    </td>
    <td nowrap><input type="text" [name]="rowData.pfcala" [(ngModel)]='rowData.PF_Cal_Amount' (ngModelChange)="AfterPFCalChange(rowData)"
        [disabled]="true" CompacctDigitonly="true" class="form-control" style="width: 95px;" /></td>
    <td nowrap><input type="text" [name]="rowData.pfextra" [(ngModel)]='rowData.PF_Extra_Contribution' (ngModelChange)="totaldeduction()" CompacctDigitonly="true" class="form-control" style="width: 95px;" /></td>
    <td nowrap><input type="text" [name]="rowData.esiper" [(ngModel)]='rowData.ESI_Percentage' CompacctDigitonly="true" (ngModelChange)="ESICalChange(rowData)" class="form-control" style="width: 95px;" /></td>
    <td nowrap><input type="text" [name]="rowData.esiamt" [(ngModel)]='rowData.ESI_Amount' CompacctDigitonly="true" [disabled]="true" class="form-control" style="width: 95px;" /></td>
    <td nowrap><input type="text" [name]="rowData.td" [(ngModel)]='rowData.Total_Deduction' CompacctDigitonly="true" [disabled]="true" class="form-control" [disabled]="true" style="width: 95px;" /></td>
    <td nowrap><input type="text" [name]="rowData.tctc" [(ngModel)]='rowData.Total_CTC' CompacctDigitonly="true" class="form-control" [disabled]="true" style="width: 95px;" /></td>
    <td nowrap><input type="text" [name]="rowData.ctc" [(ngModel)]='rowData.CTC' CompacctDigitonly="true" class="form-control" [disabled]="true" style="width: 95px;" /></td>
    <td>
        <button class="btn btn-primary custombutton" (click)='UpdateMaster(rowData)' type="button" [id]="rowData.Emp_ID" data-loading-text="<i class='fa fa-spinner fa-spin '></i>  Updating">
           Update
        </button>
    </td>
</tr> -->