div.table-responsive.table-id > p-table > div > div {
    width: auto !important;
  }
  .box-body {
    padding-top: 10px !important;
    padding-left: 10px !important;
  }
  .ta-editor {
    min-height: 160px;
  }
  body .ui-widget {
    font-family: source sans pro, sans-serif !important;
  }
  textarea.form-control {
    height: auto;
  }
  .btn {
    border: red;
  }
  .box.boxboxDivide-primary {
    border-top-color: #f3efec;
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
  }
  .ui-table-auto-layout > .ui-table-wrapper {
    width: auto !important;
  
  }
  .pull-right {
    float: right!important;
    }
    .custombutton {
      margin-top: 28px;
      /* margin-left: 130px; */
    }
    .pull-right1 {
      margin-top: 28px;
    }
    /* .col-sm-2 {
      width: 40%;
  } */
  div.label-t {
    padding: 6px 12px;
    background: rgb(206 216 216 / 51%);
  }
  .text-red-active > td {
    color:red;
  }
  .custombutton2 {
    margin-top: 30px;
    /* margin-left: -35%; */
  }
  body .ui-tabview.ui-tabview-top .ui-tabview-nav {
    border-bottom: 1px solid #c1c1c1 !important;
    margin-bottom: 0px;
}
#ui-tabpanel-0>div>p-table>div>div.ui-table-wrapper.ng-star-inserted {
  width: auto !important;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav li a {
  float: none;
  display: inline-block;
  /* color: #333333; 
       padding: 0.571em 1em; 
       font-weight: 700; */
  margin-left: -25px;
}
body .ui-tabview.ui-tabview-top .ui-tabview-nav {
  margin-bottom: 0px;
}
.ui-tabview .ui-tabview-nav {
  white-space: nowrap;
  overflow-x: auto;
}

.ui-tabview .ui-tabview-nav li {
  display: inline-block;
  float: none;
}
.ui-tabview .ui-tabview-nav::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
.ui-tabview .ui-tabview-nav::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.ui-tabview .ui-tabview-nav::-webkit-scrollbar-thumb {
  background: #707b84;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.ui-tabview .ui-tabview-nav::-webkit-scrollbar-thumb:hover {
  background: #39729f;
}
.ui-tabview .ui-tabview-nav::-webkit-scrollbar-thumb:active {
  background: #39729f;
}
.ui-tabview .ui-tabview-nav::-webkit-scrollbar-track {
  background: #f2f5f8;
  border: 1px none #ffffff;
  border-radius: 17px;
}
.ui-tabview .ui-tabview-nav::-webkit-scrollbar-track:hover {
  background: #666666;
}
.ui-tabview .ui-tabview-nav::-webkit-scrollbar-track:active {
  background: #333333;
}
.ui-tabview .ui-tabview-nav::-webkit-scrollbar-corner {
  background: transparent;
}
.txt {
  cursor: pointer;
  color: rgb(0 0 255);
}
.txt:hover {
  text-decoration: underline;
}

p-tabview > div > ul{
  padding : 1px !important
}
  