<p-toast key="compacct-toast" baseZIndex="99999">
</p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<p-toast position="center" key="s" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="Save()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                    <p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[0]" leftIcon="glyphicon glyphicon-list-alt">
                            <form name="RSNSSearchForm" #RSNSSearchForm="ngForm" novalidate>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="control-label">Date</label>
                                        <app-compacct-daterangepicker (DaterangeObj)="getDateRange($event)">
                                        </app-compacct-daterangepicker>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">Cost Cent<sup class="text-danger">*</sup></label>
                                         <select class="form-control" name="CostCenID" #CostCenID="ngModel" [(ngModel)]="ObjBrowse.Cost_Cen_ID" [ngClass]="{'clearance': RSNSSearchFormSubmitted && CostCenID?.errors?.required}" (change)="GetBrowseGodown()" [attr.disabled]="$CompacctAPI.CompacctCookies.User_Type != 'A' ? true : null"><!-- [disabled]="Costbrowsedisableflag" -->
                                <option  [ngValue]="undefined">Select</option>
                                <option  *ngFor="let option of Browsecostcenlist" value="{{option.Cost_Cen_ID}}">
                                  {{option.Cost_Cen_Name}}
                                </option>
                          </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">Stock Point<sup class="text-danger">*</sup></label>
                                        <select class="form-control" name="godownid" #godownid="ngModel" [(ngModel)]="ObjBrowse.godown_id" [ngClass]="{'clearance': RSNSSearchFormSubmitted && godownid?.errors?.required}" [disabled]="Gbrowsedisableflag" required>
                              <option  [ngValue]="undefined">Select</option>
                              <option  *ngFor="let option of BrowseGodownList" value="{{option.godown_id}}">
                                {{option.godown_name}}
                              </option>
                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="col-sm-3">
                                            <button class="btn btn-primary" style="margin-top: 28px;margin-left: 85%;" data-toggle="modal" (click)="GetSearchedList(RSNSSearchForm.form.valid)" id="load" [disabled]="seachSpinner">
                                      <p-progressSpinner *ngIf="seachSpinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                                      <span *ngIf="!seachSpinner" class="glyphicon glyphicon-search"></span>&nbsp;Search
                                   </button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <div class="table-responsive no-padding">
                                <p-table [value]="Searchedlist" [paginator]="true" [rows]="100" [rowHover]="true" [autoLayout]="true" sortMode="multiple" [rowsPerPageOptions]="[100,200,300]" [globalFilterFields]="['Doc_No','Doc_Date','F_godown_name','To_godown_name','Issue_Qty','Material_Type']" [rowHover]="true"
                                    #dt5>
                                    <ng-template pTemplate="caption">
                                        <div class="row">
                                            <div class="col-sm-3 pull-right" style="text-align: right">
                                                <input type="text" pInputText size="50" placeholder="Search" (input)="dt5.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                            </div>
                                        </div>

                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width:5em">Action</th>
                                            <th>Doc No</th>
                                            <th>Doc Date</th>
                                            <th>Cost Centre</th>
                                            <th>Stock Point</th>
                                            <th>Total Qty</th>
                                            <th>Variance</th>
                                            <th>Material Type</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col>
                                        <tr>

                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                                                <i class="fa fa-fw fa-bars"></i>
                                                                <span class="caret"></span>
                                                            </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a (click)="Edit(col)">
                                                                <i class="fa fa-fw fa-pencil"></i> Edit
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a (click)="View(col)">
                                                                <i class="fa fa-fw fa-eye"></i> View
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a (click)="Delete(col)" *ngIf="$CompacctAPI.CompacctCookies.User_Type === 'A'">
                                                                <i class="fa fa-fw fa-trash"></i> Delete
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a (click)="exportoexcelaftersave(col.Doc_No,col.Doc_Date)">
                                                                <i class="fa fa-fw fa-download"></i> Export to excel
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>{{col.Doc_No }}</td>
                                            <td>{{col.Doc_Date | date: "dd/MMM/yyyy"}}</td>
                                            <td>{{col.Cost_Cen_Name}}</td>
                                            <td>{{col.godown_name}}</td>
                                            <td>{{col.Closing_Qty}}</td>
                                            <td>{{col.Varience_Qty}}</td>
                                            <td>{{col.Material_Type}}</td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="paginatorright" let-state>
                                        Showing {{state.first+1}} of {{(state.first+1) + state.rows}} of {{state.totalRecords}}
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[1]" leftIcon="glyphicon glyphicon-floppy-save">
                            <div class="panel-group">
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        <form name="rsnsClosingStockForm" #rsnsClosingStockForm="ngForm" novalidate>

                                            <div class="form-group">
                                                <div class="col-sm-2">
                                                    <label class="control-label">Date <sup class="text-danger">*</sup></label>
                                                    <ejs-datepicker strictMode='true' [format]="'dd/MMM/yyyy'" [enabled]='datepickerdisable' [(value)]='todayDate' name='kkkk'></ejs-datepicker>
                                                    <!-- <input class="form-control" name="Date" [disabled]="true" [ngModel]='todayDate  | date :"dd-MMM-yyyy"'>  [min]='minDate' [max]='maxDate'-->
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="control-label">Cost Cent<sup class="text-danger">*</sup></label>
                                                    <select class="form-control" name="Cost_Cen_ID" #Cost_Cen_ID="ngModel" [(ngModel)]="ObjrsnsClosingStock.Cost_Cen_ID" [ngClass]="{'clearance': rsnsClosingStockFormSubmitted && Cost_Cen_ID?.errors?.required}" (change)="GetGodown()" 
                                                    [attr.disabled]="$CompacctAPI.CompacctCookies.User_Type != 'A'"><!-- [attr.disabled]="ProductList.length? true : null" -->
                                            <option  [ngValue]="undefined">Select</option>
                                            <option  *ngFor="let option of costcenlist" value="{{option.Cost_Cen_ID}}">
                                              {{option.Cost_Cen_Name}}
                                            </option>
                                      </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="control-label">Stock Point<sup class="text-danger">*</sup></label>
                                                    <select class="form-control" name="godown_id" #godown_id="ngModel" [(ngModel)]="ObjrsnsClosingStock.godown_id" [ngClass]="{'clearance': rsnsClosingStockFormSubmitted && godown_id?.errors?.required}" [disabled]="Gdisableflag" required>
                                          <option  [ngValue]="undefined">Select</option>
                                          <option  *ngFor="let option of GodownList" value="{{option.godown_id}}">
                                            {{option.godown_name}}
                                          </option>
                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <!-- <div class="box-footer"> -->
                                                    <button class="btn btn-primary pull-right1" (click)="GetProductList(rsnsClosingStockForm.form.valid)" id="load" [disabled]="ProductList.length" [disabled]="ShowSpinner">
                             <p-progressSpinner *ngIf="ShowSpinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                         <span *ngIf="!ShowSpinner" class="glyphicon glyphicon-save"></span>&nbsp;Show Products In Stock
                     </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label class="control-label">Select Product Type</label>
                                    <p-multiSelect [options]="productListFilter" [(ngModel)]="SelectedProductType" [styleClass]="'compacct-multiselect'" name="ProductTypefilter" (onChange)="filterProduct()"></p-multiSelect>
                                </div>
                            </div>
                            <div class="table-responsive no-padding">
                                <p-table [value]="ProductList" [autoLayout]="true" sortMode="multiple" [globalFilterFields]="['Product_Type','Product_Description','Stock_Qty','Batch_No','Batch_Qty']" [rowHover]="true" #dt1>
                                    <ng-template pTemplate="caption">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <button class="btn btn-primary" style="margin-left: 800px;" (click)="SaveBeforeCheck()" id="load" [disabled]="Spinner">
                                                    <p-progressSpinner *ngIf="Spinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                                                <span *ngIf="!Spinner" class="glyphicon glyphicon-save"></span>{{buttonname}}
                                            </button>
                                            </div>
                                            <div class="col-sm-3 pull-right" style="text-align: right">
                                                <input type="text" pInputText size="50" placeholder="Search" (input)="dt1.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                            </div>

                                        </div>

                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Product Type</th>
                                            <th>Product Description</th>
                                            <th>Last Pur Rate</th>
                                            <th>Batch No</th>
                                            <th>Batch Qty</th>
                                            <th>UOM</th>
                                            <th>Closing Qty</th>
                                            <th>Variance</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col let-rowIndex="rowIndex">
                                        <tr>
                                            <td>{{col.Product_Type}}</td>
                                            <td>{{col.Product_Description }}</td>
                                            <td>{{col.Last_Pur_Rate}}</td>
                                            <td>{{col.Batch_No}}</td>
                                            <td>{{col.Batch_Qty}}</td>
                                            <td>{{col.UOM}}</td>
                                            <!-- <td>{{col.Current_Stock_In_Dept}}</td> -->
                                            <!-- <td>{{col.Qty}}</td> -->
                                            <td><input type="text" [name]="col.Product_ID+'1'" [(ngModel)]='col.Closing_Qty' (ngModelChange)='VarianceqtyChq(rowIndex)' [ngClass]="{'clearance' : flag}" CompacctDigitonly="true" class="form-control" style="width: 71px;"
                                                /></td>
                                            <td>{{col.Varience_Qty}}</td>
                                            <td><input type="text" [name]="col.Product_ID" [(ngModel)]='col.Remarks	' [disabled]="col.Batch_Qty == col.Closing_Qty" class="form-control" style="width: 150px;" /></td>
                                        </tr>
                                    </ng-template>

                                </p-table>
                            </div>
                            <!-- </form> -->

                            <hr class="box boxboxDivide-primary ng-scope">

                            <div class="box-footer">
                                <button class="btn btn-primary pull-right" (click)="SaveBeforeCheck()" id="load" [disabled]="Spinner">
                           <p-progressSpinner *ngIf="Spinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                       <span *ngIf="!Spinner" class="glyphicon glyphicon-save"></span>{{buttonname}}
                   </button>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- VIEW POPUP -->
<p-dialog header="Details" [appendTo]="'body'" [(visible)]="ViewPoppup" [modal]="true" [responsive]="true" [minY]="70" [maximizable]="true" [closeOnEscape]="true" [style]="{width: '80%', minWidth: '300px'}">
    <div class="form-group">
        <div class="col-sm-4">
            <label class="control-label">Doc No</label>
            <div class="label-t">{{ViewDoc_No}}</div>
        </div>

        <div class="col-sm-4">
            <label class="control-label">Date</label>
            <div class="label-t">{{Doc_date | date :"dd-MMM-yyyy"}}</div>

        </div>

        <div class="col-sm-4">
            <label class="control-label">Cost Cent Name</label>
            <div class="label-t">{{Cost_Cent_ID}}</div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">
            <label class="control-label">Stock Point</label>
            <div class="label-t">{{Godown_ID}}</div>

        </div>
        <div class="col-sm-4">
            <label class="control-label">Material Type</label>
            <div class="label-t">{{MaterialType_Flag}}</div>

        </div>
        <!-- <div class="col-sm-4">
  <label class="control-label">Remarks</label>
      <div  class="label-t">{{remarks ? remarks : '-'}}</div>

</div> -->
    </div>
    <div class="clearfix"></div>
    <div class="table-responsive table-id no-padding" style="overflow-x: hidden !important;">
        <p-table [value]="Viewlist" [globalFilterFields]='["Product_Type","Product_Description","Batch_No","Closing_Qty","Remarks"]' [rowHover]="true" [autoLayout]="true" #dt2>
            <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-sm-3 pull-right" style="text-align: right">
                        <input type="text" pInputText size="50" placeholder="Search" (input)="dt2.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Product ID</th>
                    <th>Product Type</th>
                    <th>Product Description</th>
                    <th>UOM</th>
                    <th>Batch No</th>
                    <th>Batch Qty</th>
                    <th>Closing Qty</th>
                    <th>Variance</th>
                    <th>Remarks</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-col let-rowIndex="rowIndex">
                <tr>
                    <td>{{col.Product_ID}}</td>
                    <td>{{col.Product_Type}}</td>
                    <td>{{col.Product_Description}}</td>
                    <td>{{col.UOM}}</td>
                    <td>{{col.Batch_No}}</td>
                    <!-- <td>{{col.Expiry_Date | date :"dd-MMM-yyyy hh:mm aa"}}</td> -->
                    <td>{{col.Total_Qty}}</td>
                    <td>{{col.Closing_Qty}}</td>
                    <td>{{col.Varience_Qty}}</td>
                    <td>{{col.Remarks}}</td>

                </tr>
                <!-- <tr *ngIf='rowIndex === (productlist.length - 1)'>
                    <td colspan="5" class="text-right">Total</td>
                    <td>{{getTotalValue('batch_Qty')}}</td>
                    <td>{{getTotalValue('Closing_Qty')}}</td>
                </tr> -->
            </ng-template>
        </p-table>
    </div>


    <p-footer>
        <button type="button" (click)="ViewPoppup = false" class="btn btn-default">
     <i class="fa fa-close"></i>&nbsp;  Close
   </button>
    </p-footer>
</p-dialog>