<p-toast key="compacct-toast" baseZIndex="99999"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                    <p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[0]" leftIcon="glyphicon glyphicon-list-alt" >
                            <form name="JournalSearchForm" #JournalSearchForm="ngForm" novalidate>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="control-label">Date </label>
                                        <app-compacct-daterangepicker
                                        (DaterangeObj)="getDateRange($event)">
                                        </app-compacct-daterangepicker>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">CostCentre <sup class="text-danger">*</sup></label>
                                        <select class="form-control" name="Cost_Cen_ID" #Cost_Cen_ID="ngModel" [(ngModel)]="objsearch.Cost_Cen_ID" [ngClass]="{'clearance': JournalSearchFormSubmit && Cost_Cen_ID?.errors?.required}" required>
                                                  <option  [ngValue]="undefined">Select</option>
                                           <option *ngFor = "let option of costHeadList" [value] ="option.Cost_Cen_ID">
                                              {{option.Cost_Cen_Name}}
                                            </option>
                                      </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">Voucher Type<sup class="text-danger">*</sup></label>
                                        <select class="form-control" 
                                        name="VoucherType" 
                                        #VoucherType="ngModel" 
                                        [(ngModel)]="objsearch.Voucher_Type_ID">
                                        <option  [ngValue]="undefined">Select</option>
                                           <option *ngFor = "let option of VoucherTypeList" [value] ="option.Voucher_Type_ID">
                                              {{option.Voucher_Type}}
                                            </option>
                                      </select>
                                    </div>
    
                                    <!-- <div class="col-sm-3"> -->
                                    <div>
                                        <button class="btn btn-primary custombutton" data-toggle="modal" (click)="ShowSearchData(JournalSearchForm.form.valid)" id="load" [disabled]="seachSpinner">
                                              <p-progressSpinner *ngIf="seachSpinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                                              <span *ngIf="!seachSpinner" class="glyphicon glyphicon-search"></span> Search
                                           </button>
                                    </div>
                                    <!-- </div> -->
                                </div>
            
                            </form> 
                            <div class="table-responsive no-padding">
                                <p-table [value]="AlljournalData" *ngIf='AlljournalData.length' #dt1 [paginator]="AlljournalData.length ? true : false" [rows]="10"
                                    [loading]="seachSpinner" [rowHover]="true" [autoLayout]="true" sortMode="multiple" [rowHover]="true"
                                    [globalFilterFields]='DynamicHeader'>
                                    <ng-template pTemplate="caption">
                                        <div class="row">
                                            <div class="col-sm-3 pull-right" style="text-align: right">
                                                <input type="text" pInputText size="50" placeholder="Search"
                                                    (input)="dt1.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                            </div>
                                        </div>
    
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width:5em">Action</th>
                                            <th *ngFor="let option of DynamicHeader">{{option.replace('_',' ')}}</th>
                                           </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col>
                                        <tr>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button"
                                                        data-toggle="dropdown" style="height:27px">
                                                        <i class="fa fa-fw fa-bars"></i>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                          <a (click)="EditJournal(col)">
                                                              <i class="fa fa-print" aria-hidden="true"></i>
                                                              Edit
                                                          </a>
                                                        </li>
                                                        <li>
                                                            <a (click)="DeleteJournal(col)">
                                                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                                Delete
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <ng-container *ngFor="let option of DynamicHeader">
                                                <td>{{col[option]}}</td>
                                            </ng-container>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="paginatorright" *ngIf="AlljournalData.length" let-state>
                                        Showing {{ state.first + 1 }} of
                                        {{ state.first + 1 + state.rows }} of
                                        {{ state.totalRecords }}
                                    </ng-template>
                                </p-table>
                            </div>   
                        </p-tabPanel>
                            <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[1]" leftIcon="glyphicon glyphicon-floppy-save">
                                <form name="journalForm" #journalForm="ngForm" novalidate>
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <label class="control-label">Voucher No<sup class="text-danger"></sup></label>
                                            <input class="form-control"
                                                    name="Voucher_No"
                                                    #Voucher_No="ngModel"
                                                    [(ngModel)]="objjournal.Voucher_No"
                                                    placeholder="Voucher No"
                                                    disabled>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Voucher Date<sup class="text-danger">*</sup></label>
                                             <ejs-datepicker  [(value)]="voucherdata" [format]="'dd/MMM/yyyy'" ></ejs-datepicker>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Cost Cent Trn<sup class="text-danger">*</sup></label>
                                            <select class="form-control"
                                            name="Cost_Cen_ID_Trn"
                                            #Cost_Cen_ID_Trn="ngModel"
                                           [(ngModel)]="objjournal.Cost_Cen_ID_Trn"
                                           [ngClass]="{'clearance': journalFormSubmitted && Cost_Cen_ID_Trn?.errors?.required}"
                                            required
                                            >
                                            <option  [ngValue]="undefined">Select</option>
                                            <option *ngFor="let option of costHeadList" value="{{option.Cost_Cen_ID}}">
                                                {{option.Cost_Cen_Name}}
                                                </option>
                                    </select>
                                        </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <label class="control-label">Ledger &nbsp;<span class="text-danger">*</span></label>
                                                <p-dropdown [options]="LedgerList" name="Ledger_ID" [(ngModel)]="objjournal.Ledger_ID"
                                                [showClear]="true" [emptyFilterMessage]="' No Ledger Found'" (onChange)="getsubLedgertop(objjournal.Ledger_ID)"
                                                [filter]="true" filterBy="label,value" [resetFilterOnHide]="true"
                                                [placeholder]="'Select Ledger'" [virtualScroll]="true" #Ledger_ID="ngModel"
                                                [styleClass]="journalFormSubmitted && Ledger_ID.errors?.required ? 'clearance': ''" required>
                                            </p-dropdown>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Sub Ledger &nbsp;<span *ngIf = "SubLedgerList.length" class="text-danger">*</span></label>
                                                <p-dropdown [options]="SubLedgerList" name="Sub_Ledger_ID" [(ngModel)]="objjournal.Sub_Ledger_ID"
                                                [showClear]="true" [emptyFilterMessage]="' No Ledger Found'"
                                                [filter]="true" filterBy="label,value.name" [resetFilterOnHide]="true"
                                                [placeholder]="'Select Ledger'" [virtualScroll]="true" itemSize="30" #Sub_Ledger_ID="ngModel"
                                                [styleClass]="journalFormSubmitted && Sub_Ledger_ID.errors?.required  &&  validcheck()? 'clearance': ''" [required]="validcheck()">
                                            </p-dropdown>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Cost Head</label>
                                                <select class="form-control"
                                                name="Cost_Head_ID"
                                                #Cost_Head_ID="ngModel"
                                               [(ngModel)]="objjournal.Cost_Head_ID"
                                               
                                                >
                                                <option  [ngValue]="undefined">Select</option>
                                                <option *ngFor="let option of costHeadDataList" value="{{option.Cost_Head_ID}}">
                                                    {{option.Cost_Head_Name}}
                                                    </option>
                                         
                                        </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <div class="col-sm-6">
                                                    <label class="control-label">Amount DR/CR<sup class="text-danger">*</sup></label>
                                                        <input class="form-control"
                                                                name="Amount"
                                                                #Amount="ngModel"
                                                                [(ngModel)]="objjournal.Amount"
                                                                placeholder="Amount"
                                                                (change)="getTotalDRCR()"
                                                                CompacctDigitonly="true"
                                                                [ngClass]="{'clearance': journalFormSubmitted && Amount?.errors?.required}"
                                                                required>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="control-label">DR/CR
                                                    </label>
                                                   <select class="form-control"
                                                           name="DrCrdata"
                                                           #DrCrdata="ngModel"
                                                           [(ngModel)]="objjournal.DrCrdata"
                                                           (change)="getTotalDRCR()"
                                                          >
                                                        <option  value= "DR">
                                                           DR
                                                           </option>
                                                           <option  value= "CR">
                                                            CR
                                                            </option>
                                                   </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Naration<sup class="text-danger"></sup></label>
                                                <input class="form-control"
                                                        name="Naration"
                                                        #Naration="ngModel"
                                                        [(ngModel)]="objjournal.Naration"
                                                        placeholder="Naration"
                                                        >
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Project
                                                </label>
                                               <select class="form-control"
                                                        name="Project_ID"
                                                        #Project_ID="ngModel"
                                                        [(ngModel)]="objjournal.Project_ID"
                                                      >
                                                       <option  [ngValue]="undefined">Select</option>
                                                       <option *ngFor="let option of projectDataList" value="{{option.Project_ID}}">
                                                        {{option.Project_Name}}
                                                        </option>
                                                </select>
                                            </div>
                                            </div>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <label class="control-label">Bank TRN Type
                                                </label>
                                               <select class="form-control"
                                                       name="Bank_TRN_Type"
                                                       disabled
                                                      >
                                                       <option  [ngValue]="undefined">Select</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">NEFT Date
                                                </label>
                                                <ejs-datepicker [(value)]="NEFTDate"  [format]="'dd/MMM/yyyy'" [enabled]="false"></ejs-datepicker>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">NEFT No
                                                </label>
                                                <input class="form-control"
                                                name="NEFT_No"
                                                placeholder="NEFT No"
                                                disabled
                                                >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <label class="control-label">Bank Name
                                                </label>
                                                <input class="form-control"
                                                name="Bank_Name"
                                                placeholder="Bank Name"
                                                disabled
                                                >
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Bank Branch Name
                                                </label>
                                                <input class="form-control"
                                                name="Bank_Branch_Name"
                                                placeholder="Bank Branch Name"
                                                disabled
                                                >
                                            </div>
                                            <div class="col-sm-4">
                                                
                                            </div>
                                        </div>
                                    </form>
                                    <hr class="box boxboxDivide-primary">
                                    <form name="journallowerForm" #journallowerForm="ngForm" novalidate>
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                <label class="control-label">Ledger &nbsp;<span class="text-danger">*</span></label>
                                                <p-dropdown [options]="LedgerList" name="Ledger_ID_lower" [(ngModel)]="objjournalloweer.Ledger_ID"
                                                [showClear]="true" [emptyFilterMessage]="' No Ledger Found'" (onChange)="getsubLedger(objjournalloweer.Ledger_ID)"
                                                [filter]="true" filterBy="label,value.name" [resetFilterOnHide]="true"
                                                [placeholder]="'Select Ledger'" [virtualScroll]="true" itemSize="30" #Ledger_ID_lower="ngModel"
                                                [styleClass]="journallowerFormSubmitted && Ledger_ID_lower.errors?.required ? 'clearance': ''" required>
                                            </p-dropdown>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Sub Ledger &nbsp;<span *ngIf = "SubLedgerListlow.length" class="text-danger">*</span></label>
                                                <p-dropdown [options]="SubLedgerListlow" name="Sub_Ledger_ID_Lower" [(ngModel)]="objjournalloweer.Sub_Ledger_ID"
                                                [showClear]="true" [emptyFilterMessage]="' No Ledger Found'" 
                                                [filter]="true" filterBy="label,value.name" [resetFilterOnHide]="true"
                                                [placeholder]="'Select Ledger'" [virtualScroll]="true" itemSize="30" #Sub_Ledger_ID_Lower="ngModel"
                                                [styleClass]="journallowerFormSubmitted && Sub_Ledger_ID_Lower.errors?.required && validchecklow()? 'clearance': ''" [required] = "validchecklow()">
                                            </p-dropdown>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">Cost Head</label>
                                                <select class="form-control"
                                                name="cost_Head"
                                                #cost_Head="ngModel"
                                               [(ngModel)]="objjournalloweer.Cost_Head_ID"
                                              
                                              >
                                                <option  [ngValue]="undefined">Select</option>
                                                <option *ngFor="let option of costHeadDataList" value="{{option.Cost_Head_ID}}">
                                                    {{option.Cost_Head_Name}}
                                                    </option>
                                        </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                               <!-- <div class="col-sm-4">
                                                <label class="control-label">Document type
                                                </label>
                                               <select class="form-control"
                                                       name="Document_type"
                                                       disabled
                                                      >
                                                       <option  [ngValue]="undefined">Select</option>
                                                </select>
                                               </div>
                                               <div class="col-sm-4">
                                                <label class="control-label">Ref Document
                                                </label>
                                               <select class="form-control"
                                                       name="Ref_Document"
                                                       disabled
                                                      >
                                                       <option  [ngValue]="undefined">Select</option>
                                                </select>
                                               </div> -->
                                               <div class="col-sm-3">
                                                <label class="control-label">Ref Doc No</label>
                                                <input class="form-control"
                                                        name="Ref_Doc_No"
                                                        #Ref_Doc_No="ngModel"
                                                        [(ngModel)]="objjournalloweer.Ref_Doc_No"
                                                        placeholder="Ref Doc No"
                                                       >
                                                </div>
                                                <div class="col-sm-3">
                                                <label class="control-label">Ref Doc Date<sup class="text-danger">*</sup></label>
                                                <ejs-datepicker  [(value)]="RefDocDate" [format]="'dd/MMM/yyyy'" ></ejs-datepicker>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="control-label">HSN NO</label>
                                                    <input class="form-control"
                                                            name="HSN_NO"
                                                            #HSN_NO="ngModel"
                                                            [(ngModel)]="objjournalloweer.HSN_NO"
                                                            placeholder="HSN NO"
                                                           >
                                                </div> 
                                               <div class="col-sm-3">
                                                <div class="col-sm-6">
                                                    <label class="control-label">Amount<sup class="text-danger">*</sup></label>
                                                        <input class="form-control"
                                                                name="Amountlower"
                                                                #Amountlower="ngModel"
                                                                [(ngModel)]="objjournalloweer.Amount"
                                                                placeholder="Amount"
                                                                CompacctDigitonly="true"
                                                                [ngClass]="{'clearance': journallowerFormSubmitted && Amountlower?.errors?.required}"
                                                                required>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="control-label">DR/CR
                                                    </label>
                                                   <select class="form-control"
                                                           name="DrCrdatalow"
                                                           #DrCrdatalow="ngModel"
                                                           [(ngModel)]="objjournalloweer.DrCrdata"
                                                          >
                                                        <option  value= "DR">
                                                           DR
                                                           </option>
                                                           <option  value= "CR">
                                                            CR
                                                            </option>
                                                   </select>
                                                </div>
                                               </div>
                                            </div>
                                           
                                             <div class="form-group">
                                                <div class="col-sm-4">
                                                    <label class="control-label">GST Per</label>
                                                    <input class="form-control"
                                                            name="GST_Per"
                                                            #GST_Per="ngModel"
                                                            [(ngModel)]="objjournalloweer.GST_Per"
                                                            placeholder="GST Per"
                                                            CompacctDigitonly="true"
                                                            >
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="control-label">ITC Eligibility</label>
                                                   <select class="form-control"
                                                        name="ITC_Eligibility"
                                                        #ITC_Eligibility="ngModel"
                                                        [(ngModel)]="objjournalloweer.ITC_Eligibility"
                                                        
                                                        >
                                                          <option  [ngValue]="undefined">Select</option>
                                                          <option  Value="Input Services">Input Services</option>
                                                          <option  Value="Output Services">Output Services</option>
                                                </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <button class="btn btn-primary custombutton" (click)="lowerAdd(journallowerForm.form.valid)">
                                                        <span class="glyphicon glyphicon-plus"></span>Add
                                                    </button>
                                                </div>
                                             </div>
                                           
                                    </form>
                                    <div class="table table-responsive" style="margin-top: 13px;">
                                    <table class="table table-bordered">
                                            <thead>
                                                <tr style="background-color:#3c8dbc;color:white;">
                                                    <th>Sl. No.</th>
                                                    <th>Ledger</th>
                                                    <th>SubLedger Name</th>
                                                    <th>Cost Head Name</th>
                                                     <th>Amount (DR)</th>
                                                    <th>Amount (CR)</th>
                                                    <th>Ref Doc No</th>
                                                    <th>Ref Doc Date</th>
                                                     <th>HSN NO</th>
                                                     <th>ITC Eligibility</th>
                                                    <th>GST Per</th>
                                                   <th></th>
                                                  </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor='let obj of lowerList let i = index' >
                                                   <td>{{i + 1}}</td>
                                                   <td>{{obj.Ledger_Name}}</td>
                                                   <td>{{obj.Sub_Ledger_Name}}</td>
                                                   <td>{{obj.Cost_Head_Name}}</td>
                                                   <td>{{obj.DR_Amt ? obj.DR_Amt : ''}}</td>
                                                   <td>{{obj.CR_Amt ? obj.CR_Amt : ''}}</td>
                                                   <td>{{obj.Ref_Doc_No}}</td>
                                                   <td>{{getDate(obj.Ref_Doc_Date) | date : 'dd/MMM/yyyy'}}</td>
                                                   <td>{{obj.HSN_NO}}</td>
                                                   <td>{{obj.ITC_Eligibility}}</td>
                                                   <td>{{obj.GST_Per ? obj.GST_Per : ""}}</td>
                                                   
                                                   <td><button (click)="DeleteProduct(i)" class="btn danger"><i class="fa fa-trash"></i></button></td>
                                               </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-xs-6">
                                        <table class="table">
                                            <tbody><tr>
                                                <th style="width:30%">Total DR Amount:</th>
                                                <td>{{totalDR ? totalDR : ""}}</td>
                                            </tr>
                                            <tr>
                                                <th>Total CR Amount:</th>
                                                <td>{{totalCR ? totalCR : ""}}</td>
                                            </tr>                                         
                                        </tbody></table>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="btn btn-primary pull-right"
                                         id="load"
                                         (click)="saveJournal(journalForm.form.valid)"
                                        [disabled]="Spinner || (totalDR != totalCR) || !lowerList.length? true : false">
                                        <p-progressSpinner *ngIf="Spinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                                    <span *ngIf="!Spinner" class="glyphicon glyphicon-save"></span>{{buttonname}}
                                </button>
                                    </div>
                                </p-tabPanel>
                        </p-tabView>
                    
                </div>
            </div>
        </div>
    </div>
</div>