.createPatient {
  padding: 0 5px !important;
  border-radius: 3px !important;
  margin-top: 5px !important;
}
/* .productTable .ui-table-auto-layout > .ui-table-wrapper {
  width: 100% !important;
  min-height: 170px !important;
}
#ui-tabpanel-0 > div > p-table > div > div.ui-table-wrapper.ng-star-inserted {
  width: auto !important;
} */
.custombutton {
  margin-top: 25px;
}
.ui-dialog .ui-dialog-content {
  padding: 0 .75em !important;
}
.cdk-overlay-container {
  z-index: 9999999999999 !important;
}
.table.bidopen>thead>tr>th {
  padding: 4px !important;
}
div.label-t{
  padding: 6px 12px;
    background: #f7f7f7;
}
.refresh-btn {
  position: absolute;
    right: 1em;
    z-index: 99999;
    top: 1em;
}

.productTable .ui-table-auto-layout > .ui-table-wrapper {
  width: 100% !important;
  min-height: 170px !important;
}
#ui-tabpanel-0 > div > p-table > div > div.ui-table-wrapper.ng-star-inserted {
  width: auto !important;
}
span.input-group-addon.custmaddon {
  border-radius: 0;
  border-color: #ffffff;
  background-color: #fff;
}
.waiter{
  opacity: 0.5;
}
