<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                    <p-tabView [activeIndex]="tabIndexToView">
                        <form name="ProfoundForm" #ProfoundForm="ngForm" novalidate>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">Appointment Date</label>
                                    <app-compacct-daterangepicker (DaterangeObj)="getDateRange($event)" [HardCodeDateOpt]="initDate">
                                    </app-compacct-daterangepicker>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary custombutton" data-toggle="modal" (click)="GetSearchedList()" id="load" [disabled]="seachSpinner">
                                <p-progressSpinner *ngIf="seachSpinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                                <span *ngIf="!seachSpinner" class="glyphicon glyphicon-search"></span>&nbsp;Search
                                    </button>
                                </div>
                                <div class="col-sm-2" *ngIf="Searchedlist.length">
                                    <button class="btn btn-success custombutton pull-left" data-toggle="modal" (click)="exportoexcel('perceptive')" id="load2">
                           
                            <span  class="glyphicon glyphicon-save-file"></span>&nbsp;Export To Excel
                        </button>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                        </form>
                        <div class="table-responsive no-padding">
                            <p-table [value]="Searchedlist" [paginator]="true" [rows]="100" [rowHover]="true" [autoLayout]="true" sortMode="multiple" [rowsPerPageOptions]="[100,200,300]" [globalFilterFields]="['Contact_Name','Mobile','Appo_Dt','Doctor_Name','PT_LEFT', 'PT_RIGHT']"
                                [rowHover]="true" #dt>
                                <ng-template pTemplate="caption">
                                    <div class="row">
                                        <div class="col-sm-3 pull-right" style="text-align: right">
                                            <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                        </div>
                                    </div>

                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width:5em">Action</th>
                                        <th>Patient Name</th>
                                        <th>Mobile</th>
                                        <th>Appointment Date</th>
                                        <th>Audiologist Name</th>
                                        <th>Pure Tone Left</th>
                                        <th>Pure Tone Right</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-col>
                                    <tr>

                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                                            <i class="fa fa-fw fa-bars"></i>
                                                            <span class="caret"></span>
                                                        </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a (click)="redirectPatientDetails(col)">
                                                            <i class="fa fa-fw fa-eye"></i> View Patient
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a (click)="PrintBill(col)">
                                                            <i class="fa fa-fw fa-print"></i> Print Page1
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a (click)="PrintBill2(col)">
                                                            <i class="fa fa-fw fa-print"></i> Print Page2
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>{{col.Contact_Name ? col.Contact_Name : '-' }}</td>
                                        <td>{{col.Mobile ? col.Mobile : '-'}}</td>
                                        <td>{{col.Appo_Dt | date: "dd/MMM/yyyy"}}</td>
                                        <td>{{col.Doctor_Name ? col.Doctor_Name : '-'}}</td>
                                        <td>{{col.PT_LEFT ? col.PT_LEFT : '-'}}</td>
                                        <td>{{col.PT_RIGHT ? col.PT_RIGHT : '-' }}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="paginatorright" let-state>
                                    Showing {{state.first+1}} of {{(state.first+1) + state.rows}} of {{state.totalRecords}}
                                </ng-template>
                            </p-table>
                        </div>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>