<p-toast key="compacct-toast" baseZIndex="99999"></p-toast>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal" style="margin-top: 8px;">
                <div class="box-body">
<div class="form-group">
<div class="col-sm-4">
    <label class="control-label">Select ISM </label>
    <select class="form-control" name="ism" #ism="ngModel" [(ngModel)]="Select_ISM" (change)="getmonthdaydate()">
          <option  [ngValue]="undefined">Select</option>
          <option  *ngFor="let option of IsmList" value="{{option.Member_ID}}">
            {{option.Member_Name}}
          </option>
    </select>
</div>
</div>
<br>
<div class="form-group">
<div class="col-lg-12">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="table-responsive no-padding" style="height:70vh">
                    <table class="table table-bordered">
                        <thead style="position: sticky;top: 0">
                            <tr>
                                <!-- <th rowspan="2" style="background-color:rgb(97, 121, 165) !important ; color:white">Sl No.</th> -->
                                <th rowspan="2" style="background-color:rgb(94, 103, 120) !important ; color:white">BDA <br> Call ID</th>
                                <th class="header-width" style="background-color:rgb(70, 93, 136) !important ; color:white">
                                    <div class="col-sm-12">
                                        <!-- <label for="monthpicker">Month Picker</label> -->
                                        <input type="month" name="month" [(ngModel)]="Month_Name" (change)="getmonthdaydate()" style="background-color: rgb(70, 93, 136);
                                        color: #ffff;">
                                    </div>
                                </th>
                                <th *ngFor="let col of MonthdayDatelist" style="background-color:rgb(96, 129, 190) !important ; color:white">
                                    <tr>{{col.WeekDay}} </tr>
                                </th>
                            </tr>
                            <tr>
                                <th style="background-color:#7f7d7d !important ; color:white">BDA Name</th>
                                <th *ngFor="let Data of dateNumber ;let ind = index;" style="background-color:rgb(111, 119, 136) !important ; color:white">
                                    <tr><a class="btn btn-sm" style="color:white" (click)='ChangeAllRow(ind)'>{{Data.date}}</a></tr>
                                </th>
                            </tr>
                        </thead>
                        <tbody data-spy="scroll">
                                <tr *ngFor="let row of employeelist;let i = index;"> <!--let odd = odd;"[class.even]="odd" -->
                                <!-- <td>{{ i + 1 }}</td> -->
                                <td>{{ row.User_ID }}</td>
                                <td>{{ row.Member_Name }}</td>
                                <td *ngFor="let col of row.monthData;let i2 = index" (click)="getdialog(i,row,i2)" (contextmenu)="onrightclick(i,row,i2)" [class]="col">
                                    {{col}}
                                </td>
                                <!-- [class]='getClass()' contextmenu id="noContextMenu" (dblclick)-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- <div class="col-lg-8">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-body" style="background-color: gainsboro;">
                <div class="form-group">
                    <div class="col-sm-2">
                        <label>Legend</label>
                    </div>
                    <div class="col-sm-3">
                        <div class="label-t" style="background: rgb(67 162 47);">P</div>&nbsp;
                        <label>Present</label>
                    </div>
                    <div class="col-sm-3">
                        <div class="label-t" style="background-color: #ff4141;">A</div>&nbsp;
                        <label>Absent</label>
                    </div>
                    <div class="col-sm-3">
                        <div class="label-t" style="background-color: rgb(244 121 38);">LP</div>&nbsp;
                        <label>Late Present</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="box-footer">
    <button class="btn btn-primary pull-right" (click)="saveAttendance()" id="load" [disabled]="Spinner">
        <p-progressSpinner *ngIf="Spinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
        <span *ngIf="!Spinner" class="glyphicon glyphicon-save"></span>{{buttonname}}
        </button>
</div>
</div>
</div>
</div>
</div>
</div>



<!-- FOR ONE EMPLOYEE (ONE CELL) -->
<p-dialog header="Update Attendance" [appendTo]="'body'" [(visible)]="display" [modal]="true" [responsive]="true" [minY]="70" [closeOnEscape]="true" [style]="{ width: '35%', minWidth: '350px' }">
    <form name="attendancestatusForm" #attendancestatusForm="ngForm" novalidate>
        <div class="col-sm-12">
            <label>Employee Name:</label>&nbsp; {{employeename}}
        </div>
        <div class="col-sm-12">
            <label>Date:</label>&nbsp; {{Doc_date | date :"dd/MMM/yyyy"}}

        </div>
        <div class="col-sm-12">
            <label>Attendance Type <sup class="text-danger">*</sup></label>&nbsp;
            <select name="atten" #atten="ngModel" [(ngModel)]="Attendance_Status" [ngClass]="{'clearance': attendancestatusFormSubmitted && atten?.errors?.required}">
           <option  [ngValue]="undefined">Select</option>
           <option *ngFor = "let option of AttenTypelist" value="{{option.Atten_Type_ID}}">
             {{option.Atten_Type}}
            </option>
           </select>
        </div>
        <hr>
        <p-footer>
            <div class="text-right">
                <button type="button" (click)="display = false" class="btn btn-default"><i class="fa fa-time"></i>&nbsp; Close</button>&nbsp;
                <button type="button" (click)="SaveAttendanceType()" class="btn btn-success">
           <i class="fa fa-check"></i>&nbsp;  Done
         </button>
            </div>
        </p-footer>
    </form>
</p-dialog>

<!-- FOR ALL EMPLOYEE (ONE COLUMN)-->
<p-dialog header={{DayName}} [appendTo]="'body'" [(visible)]="displayALLEmployee" [modal]="true" [responsive]="true" [minY]="70" [closeOnEscape]="true" [style]="{ width: '30%', minWidth: '300px' }">
    <div class="col-sm-12">
        <label>Date:</label>&nbsp; {{Doc_date_AllEmp | date :"dd/MMM/yyyy"}}

    </div>
    <div class="col-sm-12">
        <label>Attendance Type <sup class="text-danger">*</sup></label>&nbsp;
        <select name="atten" #atten="ngModel" [(ngModel)]="Attendance_Status_ALlEmployee" [ngClass]="{'clearance': attendancestatusFormSubmitted && atten?.errors?.required}">
           <option  [ngValue]="undefined">Select</option>
           <option *ngFor = "let option of AttenTypelist" value="{{option.Atten_Type_ID}}">
             {{option.Atten_Type}}
            </option>
           </select>
    </div>
    <hr>
    <p-footer>
        <div class="text-right">
            <button type="button" (click)="displayALLEmployee = false" class="btn btn-default"><i class="fa fa-time"></i>&nbsp; Close</button>&nbsp;
            <button type="button" (click)="SaveForALLEmployee()" class="btn btn-success">
           <i class="fa fa-check"></i>&nbsp;  Done
         </button>
        </div>
    </p-footer>
</p-dialog>
