<p-toast key="compacct-toast" baseZIndex="99999"></p-toast>
<p-toast position="center" baseZIndex="99999" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6" *ngIf="Is_View && !is_Active">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6" *ngIf="is_Active && !Is_View">
                <button type="button" pButton (click)="onConfirm2()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                    <p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[0]" leftIcon="glyphicon glyphicon-list-alt">

                            <div class="table-responsive no-padding productTable">
                                <p-table #dt [value]="BrowseList" [globalFilterFields]="['Product_ID','Product_Type','Product_Sub_Type','Cat_Name','Product_Description','MOC_Description','Capacity_Size_Desc','Product_Feature_Desc','Grade_Description','Remarks','HSN_NO','GST_Percentage','UOM','Mfg_Company']"
                                    [paginator]="BrowseList.length ? true:false" [rows]="100" [rowHover]="true" [autoLayout]="true" sortMode="multiple" [rowsPerPageOptions]="[100,300,500]" [rowHover]="true">
                                    <ng-template pTemplate="caption">
                                        <div class="row">
                                            <div class="col-sm-3 pull-right" style="text-align: right;">
                                                <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                            </div>
                                        </div>

                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width:5em">Action</th>
                                            <th>Product Code</th>
                                            <th>Make (Multiple)</th>
                                            <th>Product Description</th>
                                            <th>Product Type</th>
                                            <th>Product Sub Type</th>
                                            <th>GST Category</th>
                                            <th>Material of Cons.</th>
                                            <th>Capacity</th>
                                            <th>Product Feature</th>
                                            <th>Grade</th>
                                            <th>Remarks</th>
                                            <th>HSN Code</th>
                                            <th>GST Percentage</th>
                                            <th>UOM</th>
                                            <!-- <th>Make (Multiple)</th> -->
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col>
                                        <tr [class]='col.Is_Visiable == "N" ? "text-red-active" : ""'>

                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                                                                <i class="fa fa-fw fa-bars"></i>
                                                                                <span class="caret"></span>
                                                                            </button>
                                                    <ul class="dropdown-menu">
                                                        <li *ngIf="col.Is_Visiable == 'Y'">
                                                            <a (click)="Edit(col)">
                                                                <i class="fa fa-fw fa-pencil"></i> Edit
                                                            </a>
                                                        </li>
                                                        <li *ngIf="col.Is_Visiable == 'N'">
                                                            <a (click)="Active(col)">
                                                                <i class="fa fa-power-off"></i> Active
                                                            </a>
                                                        </li>
                                                        <li *ngIf="col.Is_Visiable == 'Y'">
                                                            <a (click)="Inactive(col)">
                                                                <i class="fa fa-times"></i> Inactive
                                                            </a>
                                                        </li>
                                                        <!-- <li>
                                                            <a (click)="Delete(col)">
                                                                <i class="fa fa-fw fa-trash"></i> Delete
                                                            </a>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>{{col.Product_ID}}</td>
                                            <td>{{col.Mfg_Company}}</td>
                                            <td>{{col.Product_Description}}</td>
                                            <td>{{col.Product_Type}}</td>
                                            <td>{{col.Product_Sub_Type}}</td>
                                            <td>{{col.Cat_Name}}</td>
                                            <td>{{col.MOC_Description ? col.MOC_Description : '-'}}</td>
                                            <td>{{col.Capacity_Size_Desc ? col.Capacity_Size_Desc : '-'}}</td>
                                            <td>{{col.Product_Feature_Desc}}</td>
                                            <td>{{col.Grade_Description ? col.Grade_Description : '-'}}</td>
                                            <td>{{col.Remarks ? col.Remarks : '-'}}</td>
                                            <td>{{col.HSN_NO ? col.HSN_NO : '-'}}</td>
                                            <td>{{col.Cat_Name}}</td>
                                            <td>{{col.UOM}}</td>
                                            <!-- <td>{{col.Mfg_Company ? col.Mfg_Company : '-' }}</td> -->
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="paginatorright" let-state>
                                        Showing {{state.first+1}} of {{(state.first+1) + state.rows}} of {{state.totalRecords}}
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[1]" leftIcon="glyphicon glyphicon-floppy-save">
                            <form name="MasterProductmForm" #MasterProductmForm="ngForm" novalidate>
                                <div class="form-group"style="padding: 1em;">
                                    <h5 style="
                                        padding: 0.5em 1em;
                                        background: #c1c1c185;
                                        border-top: 5px solid #3c8dbc;
                                        border-bottom: 1px solid #c6c6c6;
                                        margin-top: 15px;
                                        ">
                                        <i class="fa fa-fw fa-fax">
                                        </i> &nbsp;<strong>Product Details :</strong></h5>
                                        <app-compacct-product-details
                                        [requirPro]="MasterProductmFormSubmitted"
                                        (ProDetailsObj)="getProDetailsData($event)"
                                        #Product>
                                       </app-compacct-product-details>
                            
                                </div>
                                <div class="form-group"style="padding: 1em;">
                                    <h5 style="
                                    padding: 0.5em 1em;
                                    background: #c1c1c185;
                                    border-top: 5px solid #3c8dbc;
                                    border-bottom: 1px solid #c6c6c6;
                                    margin-top: 15px;
                                    ">
                                    <i class="fa fa-fw fa-fax">
                                    </i> &nbsp;<strong>Additional Info.</strong></h5> 
                                    
                                    <div class="col-sm-4">
                                        <label class="control-label">Material of Cons.</label>
                                        <div class="pull-right">
                                            <button (click)="ViewMoc()" class="btn btn-primary  createPatient"><i class="fa fa-fw  fa-eye"></i> View</button> &nbsp;
                                            <button (click)="MocPopup()" class="btn btn-primary  createPatient"><i class="fa fa-fw  fa-plus"></i> Create</button>
                                        </div>
                                        <select class="form-control" name="moc" #moc="ngModel" [(ngModel)]="ObjMasterProductm.MOC_ID" [ngClass]="{'clearance': MasterProductmFormSubmitted && moc.errors?.required}">
                                                              <option  [ngValue]="undefined">Select</option>
                                                          <option *ngFor="let option of MocList" [ngValue]="option.MOC_ID">
                                                              {{option.MOC_Description}}
                                                              </option>
                                                      </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Capacity/Size</label>
                                        <div class="pull-right">
                                            <button (click)="ViewCapacity()" class="btn btn-primary  createPatient"><i class="fa fa-fw  fa-eye"></i> View</button> &nbsp;
                                            <button (click)="CapacityPopup()" class="btn btn-primary  createPatient"><i class="fa fa-fw  fa-plus"></i> Create</button>
                                        </div>
                                        <select class="form-control" name="capacity" #capacity="ngModel" [(ngModel)]="ObjMasterProductm.Capacity_Size_ID" [ngClass]="{'clearance': MasterProductmFormSubmitted && capacity.errors?.required}">
                                                    <option  [ngValue]="undefined">Select</option>
                                                <option *ngFor="let option of CapacitySizeList" [ngValue]="option.Capacity_Size_ID">
                                                    {{option.Capacity_Size_Desc}}
                                                    </option>
                                            </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Product Feature<sup class="text-danger">*</sup></label>
                                        <div class="pull-right">
                                            <button (click)="ViewProFeature()" class="btn btn-primary  createPatient"><i class="fa fa-fw  fa-eye"></i> View</button> &nbsp;
                                            <button (click)="ProFeaturePopup()" class="btn btn-primary  createPatient"><i class="fa fa-fw  fa-plus"></i> Create</button>
                                        </div>
                                        <select class="form-control" name="productfeature" #productfeature="ngModel" [(ngModel)]="ObjMasterProductm.Product_Feature_ID" [ngClass]="{'clearance': MasterProductmFormSubmitted && productfeature.errors?.required}" required>
                                            <option  [ngValue]="undefined">Select</option>
                                                <option *ngFor="let option of ProductFeatureList" [ngValue]="option.Product_Feature_ID">
                                                    {{option.Product_Feature_Desc}}
                                                    </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Grade</label>
                                        <div class="pull-right">
                                            <button (click)="ViewGrade()" class="btn btn-primary  createPatient"><i class="fa fa-fw  fa-eye"></i> View</button> &nbsp;
                                            <button (click)="GradePopup()" class="btn btn-primary  createPatient"><i class="fa fa-fw  fa-plus"></i> Create</button>
                                        </div>

                                        <select class="form-control" name="grade" #grade="ngModel" [(ngModel)]="ObjMasterProductm.Grade_ID" [ngClass]="{'clearance': MasterProductmFormSubmitted && grade.errors?.required}">
                                                              <option  [ngValue]="undefined">Select</option>
                                                          <option *ngFor="let option of GradeList" [ngValue]="option.Grade_ID">
                                                              {{option.Grade_Description}}
                                                              </option>
                                                      </select>
                                    </div>
                                </div>
                                <div class="form-group"style="padding: 1em;">
                                    <h5 style="
                                    padding: 0.5em 1em;
                                    background: #c1c1c185;
                                    border-top: 5px solid #3c8dbc;
                                    border-bottom: 1px solid #c6c6c6;
                                    margin-top: 15px;
                                    ">
                                    <i class="fa fa-fw fa-fax">
                                    </i> &nbsp;<strong>Financial Details:</strong></h5>
                                    <app-compacct-financial-details
                                            [requirFinancial]="MasterProductmFormSubmitted"
                                            [Edit]="ObjFinancialComponentData"
                                            (FinacialDetailsObj)="FinancialDetailsData($event)"
                                            #FinacialDetails>
                                    </app-compacct-financial-details>
                                </div>
                                <div class="form-group"style="padding: 1em;">
                                    <h5 style="
                                    padding: 0.5em 1em;
                                    background: #c1c1c185;
                                    border-top: 5px solid #3c8dbc;
                                    border-bottom: 1px solid #c6c6c6;
                                    margin-top: 15px;
                                    ">
                                    <i class="fa fa-fw fa-fax">
                                    </i> &nbsp;<strong>TAX & Custom Duty:</strong></h5> 
                                    <app-compacctgstandcustomduty
                                    [requirGst]="MasterProductmFormSubmitted"
                                    (GstandCustonDutyObj)="getGstAndCustDutyData($event)"
                                    #GstAndCustomDuty
                                    [labelChange]="LAbelName">
                                    </app-compacctgstandcustomduty>
                                </div>
                                <div class="form-group"style="padding: 1em;">
                                    <h5 style="
                                    padding: 0.5em 1em;
                                    background: #c1c1c185;
                                    border-top: 5px solid #3c8dbc;
                                    border-bottom: 1px solid #c6c6c6;
                                    margin-top: 15px;
                                    ">
                                    <i class="fa fa-fw fa-fax">
                                    </i> &nbsp;<strong>UOM</strong></h5> 
                                  
                                    <div class="col-sm-4">
                                        <label class="control-label">UOM<sup class="text-danger">*</sup></label>
                                        <input class="form-control" name="uom" #uom="ngModel" [(ngModel)]="ObjMasterProductm.UOM" placeholder="UOM" [ngClass]="{'clearance': MasterProductmFormSubmitted && uom.errors?.required}" required>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label" *ngIf="buttonname === 'Create'">Make (Multiple)<sup class="text-danger">*</sup></label>
                                        <label class="control-label" *ngIf="buttonname != 'Create'">Make <sup class="text-danger">*</sup></label>
                                        <div class="pull-right">
                                            <button (click)="ViewMakeMul()" class="btn btn-primary  createPatient"><i class="fa fa-fw  fa-eye"></i> View</button> &nbsp;
                                            <button (click)="MakeMulPopup()" class="btn btn-primary  createPatient"><i class="fa fa-fw  fa-plus"></i> Create</button>
                                        </div>
                                        <p-multiSelect *ngIf="buttonname === 'Create'" itemSize="30" [options]="MakeList" [styleClass]="'compacct-multiselect'" name="make" #make="ngModel" [(ngModel)]="Product_Mfg_Comp_ID" [filter]="true" filterBy="label,value.name" [resetFilterOnHide]="true" [disabled]="makedisabled" [ngClass]="{'clearance': MasterProductmFormSubmitted && make.errors?.required}"
                                            required>
                                        </p-multiSelect>
                                        <select *ngIf="buttonname != 'Create'" 
                                        class="form-control" 
                                        name="make1" 
                                        #make1="ngModel" [(ngModel)]="MakeEdit" [ngClass]="{'clearance': MasterProductmFormSubmitted && make1.errors?.required}" required>
                                            <option  [ngValue]="undefined">Select</option>
                                                <option *ngFor="let option of MakeList" value={{option.Product_Mfg_Comp_ID}}>
                                                    {{option.Mfg_Company}}
                                                </option>
                                            </select>
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div> 
                                <div class="form-group">
                                    <div class="col-sm-6" style="margin-left:15px;">
                                        <label class="control-label">File Upload</label>
                                        <p-fileUpload #fileInput *ngIf="!PDFViewFlag" name="aFile" accept="image/*,application/pdf" customUpload="true" [chooseLabel]="'Browse'" [showUploadButton]="false" (onSelect)="FetchPDFFile($event)" url="/Harbauer_Master_Product_mechanical/Upload_Doc">
                                            <!-- <ng-template let-aFile pTemplate='aFile'>
                                                <div class="ui-fileupload-row">
                                                    <div><img [src]="aFile.type.includes('image') ? aFile.objectURL :'/PDF_Logo/PDF-logo.png'" width="50"></div>
                                                    <div>{{aFile.name}}</div>
                                                    <div>{{aFile.size}} bytes</div>
                                                    <div>
                                                        <button type="button" class="btn btn-danger" (click)="onClear($event,aFile)"><i class="fa fa-fw fa-close"></i></button>
                                                    </div>
                                                </div>
                                            </ng-template> -->
                                        </p-fileUpload>
                                        <a [href]="ProductPDFLink" *ngIf="PDFViewFlag" style="display: block;"><img src="/PDF_Logo/PDF-logo.png" class='img-rounded pdf' style="width:40px; height:50px " alt="PDF"></a>
                                        <!-- <p-fileUpload name="myfile[]" customUpload="true" multiple="multiple" (uploadHandler)="onUpload($event)" accept=""image/*,.csv,.xml,.doc,.docx,.pdf""></p-fileUpload> -->
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <button class="btn btn-primary pull-right" type="button" (click)="SaveMasterProductM(MasterProductmForm.form.valid)" id="load" [disabled]="Spinner">
                                                            <p-progressSpinner *ngIf="Spinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                                                        <span *ngIf="!Spinner" class="glyphicon glyphicon-save"></span>{{buttonname}}
                                                    </button>
                                </div>
                            </form>
                        </p-tabPanel>

                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CREATE -->
<p-dialog [header]="'Create Product Type'" [appendTo]="'body'" [visible]="ProTypeModal" [closeOnEscape]="true" [closable]="false" [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '200px' }" style="text-align: center;" [minY]="70"
    [maximizable]="true" [baseZIndex]="10000">
    <div class="form-horizontal">
        <form name="ProductTypeForm" #ProductTypeForm="ngForm" novalidate>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="control-label">Product Type<sup class="text-danger">*</sup
  ></label>
                    <input type="text" class="form-control" name="PT" #PT="ngModel" [(ngModel)]="ProductTypeName" placeholder="Product Type" allow-pattern="([a-z ]|\.)" [ngClass]="{
          clearance: ProductTypeFormSubmitted && PT?.errors?.required
        }" required />
                </div>
            </div>

        </form>
    </div>
    <p-footer>
        <button type="button" (click)="ProTypeModal = false" class="btn btn-default">
  CANCEL
</button>
        <button type="submit" name="bill" class="btn btn-primary pull-right custombutton" (click)="CreateProductType(ProductTypeForm.form.valid)" id="load2" [disabled]="Spinner">
<p-progressSpinner
  *ngIf="Spinner"
  [style]="{ width: '15px', height: '15px' }"
  strokeWidth="8"
  animationDuration=".5s"
></p-progressSpinner>
<span
  *ngIf="!Spinner"
  class="glyphicon glyphicon-save"
></span
>&nbsp;CREATE
</button>
    </p-footer>
</p-dialog>
<p-dialog [header]="'Create Product Sub Type'" [appendTo]="'body'" [visible]="ProSubTypeModal" [closeOnEscape]="true" [closable]="false" [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '200px' }" style="text-align: center;" [minY]="70"
    [maximizable]="true" [baseZIndex]="10000">
    <div class="form-horizontal">
        <form name="ProductSubTypeForm" #ProductSubTypeForm="ngForm" novalidate>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="control-label">Product Sub Type<sup class="text-danger">*</sup
  ></label>
                    <input type="text" class="form-control" name="PST" #PST="ngModel" [(ngModel)]="ProductSubTypeName" placeholder="Product Sub Type" allow-pattern="([a-z ]|\.)" [ngClass]="{
          clearance: ProductSubTypeFormSubmitted && PST?.errors?.required
        }" required />
                </div>
            </div>

        </form>
    </div>
    <p-footer>
        <button type="button" (click)="ProSubTypeModal = false" class="btn btn-default">
  CANCEL
</button>
        <button type="submit" name="bill" class="btn btn-primary pull-right custombutton" (click)="CreateProductSubType(ProductSubTypeForm.form.valid)" id="load2" [disabled]="Spinner">
<p-progressSpinner
  *ngIf="Spinner"
  [style]="{ width: '15px', height: '15px' }"
  strokeWidth="8"
  animationDuration=".5s"
></p-progressSpinner>
<span
  *ngIf="!Spinner"
  class="glyphicon glyphicon-save"
></span
>&nbsp;CREATE
</button>
    </p-footer>
</p-dialog>
<p-dialog [header]="'Create MOC'" [appendTo]="'body'" [visible]="CreateMocModal" [closeOnEscape]="true" [closable]="false" [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '200px' }" style="text-align: center;" [minY]="70" [maximizable]="true"
    [baseZIndex]="10000">
    <div class="form-horizontal">
        <form name="CreateMocForm" #CreateMocForm="ngForm" novalidate>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="control-label">Material of Cons.<sup class="text-danger">*</sup
  ></label>
                    <input type="text" class="form-control" name="createmoc" #createmoc="ngModel" [(ngModel)]="MaterialofCons" placeholder="Material of Cons." allow-pattern="([a-z ]|\.)" [ngClass]="{
          clearance: CreateMocFormSubmitted && createmoc?.errors?.required
        }" required />
                </div>
            </div>

        </form>
    </div>
    <p-footer>
        <button type="button" (click)="CreateMocModal = false" class="btn btn-default">
  CANCEL
</button>
        <button type="submit" name="bill" class="btn btn-primary pull-right custombutton" (click)="CreateMoc(CreateMocForm.form.valid)" id="load2" [disabled]="Spinner">
<p-progressSpinner
  *ngIf="Spinner"
  [style]="{ width: '15px', height: '15px' }"
  strokeWidth="8"
  animationDuration=".5s"
></p-progressSpinner>
<span
  *ngIf="!Spinner"
  class="glyphicon glyphicon-save"
></span
>&nbsp;CREATE
</button>
    </p-footer>
</p-dialog>
<p-dialog [header]="'Create Capacity/Size'" [appendTo]="'body'" [visible]="CapacityModal" [closeOnEscape]="true" [closable]="false" [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '200px' }" style="text-align: center;" [minY]="70"
    [maximizable]="true" [baseZIndex]="10000">
    <div class="form-horizontal">
        <form name="CapacityForm" #CapacityForm="ngForm" novalidate>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="control-label">Capacity/Size<sup class="text-danger">*</sup
  ></label>
                    <input type="text" class="form-control" name="capacitysize" #capacitysize="ngModel" [(ngModel)]="CapacityName" placeholder="Capacity/Size" allow-pattern="([a-z ]|\.)" [ngClass]="{
          clearance: CapacityFormSubmitted && capacitysize?.errors?.required
        }" required />
                </div>
            </div>

        </form>
    </div>
    <p-footer>
        <button type="button" (click)="CapacityModal = false" class="btn btn-default">
  CANCEL
</button>
        <button type="submit" name="bill" class="btn btn-primary pull-right custombutton" (click)="CreateCapacity(CapacityForm.form.valid)" id="load2" [disabled]="Spinner">
<p-progressSpinner
  *ngIf="Spinner"
  [style]="{ width: '15px', height: '15px' }"
  strokeWidth="8"
  animationDuration=".5s"
></p-progressSpinner>
<span
  *ngIf="!Spinner"
  class="glyphicon glyphicon-save"
></span
>&nbsp;CREATE
</button>
    </p-footer>
</p-dialog>
<p-dialog [header]="'Create Product Feature'" [appendTo]="'body'" [visible]="ProFeatureModal" [closeOnEscape]="true" [closable]="false" [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '200px' }" style="text-align: center;" [minY]="70"
    [maximizable]="true" [baseZIndex]="10000">
    <div class="form-horizontal">
        <form name="ProFeatureForm" #ProFeatureForm="ngForm" novalidate>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="control-label">Product Feature<sup class="text-danger">*</sup
  ></label>
                    <input type="text" class="form-control" name="profeature" #profeature="ngModel" [(ngModel)]="ProFeature" placeholder="Product Feature" allow-pattern="([a-z ]|\.)" [ngClass]="{
          clearance: ProFeatureFormSubmitted && profeature?.errors?.required
        }" required />
                </div>
            </div>

        </form>
    </div>
    <p-footer>
        <button type="button" (click)="ProFeatureModal = false" class="btn btn-default">
  CANCEL
</button>
        <button type="submit" name="bill" class="btn btn-primary pull-right custombutton" (click)="CreateProFeature(ProFeatureForm.form.valid)" id="load2" [disabled]="Spinner">
<p-progressSpinner
  *ngIf="Spinner"
  [style]="{ width: '15px', height: '15px' }"
  strokeWidth="8"
  animationDuration=".5s"
></p-progressSpinner>
<span
  *ngIf="!Spinner"
  class="glyphicon glyphicon-save"
></span
>&nbsp;CREATE
</button>
    </p-footer>
</p-dialog>
<p-dialog [header]="'Create Grade'" [appendTo]="'body'" [visible]="GradeModal" [closeOnEscape]="true" [closable]="false" [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '200px' }" style="text-align: center;" [minY]="70" [maximizable]="true"
    [baseZIndex]="10000">
    <div class="form-horizontal">
        <form name="GradeForm" #GradeForm="ngForm" novalidate>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="control-label">Grade<sup class="text-danger">*</sup
  ></label>
                    <input type="text" class="form-control" name="gradename" #gradename="ngModel" [(ngModel)]="GradeName" placeholder="Grade" allow-pattern="([a-z ]|\.)" [ngClass]="{
          clearance: GradeFormSubmitted && gradename?.errors?.required
        }" required />
                </div>
            </div>

        </form>
    </div>
    <p-footer>
        <button type="button" (click)="GradeModal = false" class="btn btn-default">
  CANCEL
</button>
        <button type="submit" name="bill" class="btn btn-primary pull-right custombutton" (click)="CreateGrade(GradeForm.form.valid)" id="load2" [disabled]="Spinner">
<p-progressSpinner
  *ngIf="Spinner"
  [style]="{ width: '15px', height: '15px' }"
  strokeWidth="8"
  animationDuration=".5s"
></p-progressSpinner>
<span
  *ngIf="!Spinner"
  class="glyphicon glyphicon-save"
></span
>&nbsp;CREATE
</button>
    </p-footer>
</p-dialog>
<p-dialog [header]="'Create Make (Multiple)'" [appendTo]="'body'" [visible]="MakeMulModal" [closeOnEscape]="true" [closable]="false" [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '200px' }" style="text-align: center;" [minY]="70" [maximizable]="true"
    [baseZIndex]="10000">
    <div class="form-horizontal">
        <form name="MakeMulForm" #MakeMulForm="ngForm" novalidate>
            <div class="form-group">
                <div class="col-sm-12">
                    <label class="control-label">Make (Multiple)<sup class="text-danger">*</sup
  ></label>
                    <input type="text" class="form-control" name="makemulname" #makemulname="ngModel" [(ngModel)]="MakeMulName" placeholder="Make (Multiple)" [ngClass]="{
          clearance: MakeMulFormSubmitted && makemulname?.errors?.required
        }" required />
                </div>
            </div>

        </form>
    </div>
    <p-footer>
        <button type="button" (click)="MakeMulModal = false" class="btn btn-default">
  CANCEL
</button>
        <button type="submit" name="bill" class="btn btn-primary pull-right custombutton" (click)="CreateMakeMul(MakeMulForm.form.valid)" id="load2" [disabled]="Spinner">
<p-progressSpinner
  *ngIf="Spinner"
  [style]="{ width: '15px', height: '15px' }"
  strokeWidth="8"
  animationDuration=".5s"
></p-progressSpinner>
<span
  *ngIf="!Spinner"
  class="glyphicon glyphicon-save"
></span
>&nbsp;CREATE
</button>
    </p-footer>
</p-dialog>

<!-- VIEWS -->
<!-- Product Type -->
<p-dialog [header]="'View'" [appendTo]="'body'" [(visible)]="ViewProTypeModal" [closeOnEscape]="true" [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '200px' }" style="text-align: center;" [minY]="70" [maximizable]="true"
    [baseZIndex]="10000">
    <div class="table-responsive no-padding">
        <p-table [value]="ProductTypeList">
            <!-- <p-table [value]="vieworgList" [globalFilterFields]="['Tender_Organization']" [rowHover]="true" [autoLayout]="true" #dt>
             <ng-template pTemplate="caption">
                <div class="row">
                    <div class="col-sm-3 pull-right" style="text-align: right">
                        <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                    </div>
                </div>

            </ng-template> -->
            <ng-template pTemplate="header">
                <tr>
                    <th>Product Type</th>
                    <th>Delete</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-col let-i="rowIndex">
                <tr>

                    <td>{{col.Product_Type}}</td>
                    <td><button class="btn btn-sm btn-danger" (click)="deleteProType(col)"><i class="fa fa-trash"></i></button></td>
            </ng-template>
        </p-table>
    </div>
    <p-footer>
        <button type="button" (click)="ViewProTypeModal = false" class="btn btn-default">
  CANCEL
</button>
    </p-footer>
</p-dialog>
<!-- Product Sub Type -->
<p-dialog [header]="'View'" [appendTo]="'body'" [(visible)]="ViewProSubTModal" [closeOnEscape]="true" [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '200px' }" style="text-align: center;" [minY]="70" [maximizable]="true"
    [baseZIndex]="10000">
    <div class="table-responsive no-padding">
        <p-table [value]="ProductSubTypeList">

            <ng-template pTemplate="header">
                <tr>
                    <th>Product Sub Type</th>
                    <th>Delete</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-col let-i="rowIndex">
                <tr>

                    <td>{{col.Product_Sub_Type}}</td>
                    <td><button class="btn btn-sm btn-danger" (click)="deleteProSubT(col)"><i class="fa fa-trash"></i></button></td>
            </ng-template>
        </p-table>
    </div>
    <p-footer>
        <button type="button" (click)="ViewProSubTModal = false" class="btn btn-default">
  CANCEL
</button>
    </p-footer>
</p-dialog>
<!-- Material Of Cons. -->
<p-dialog [header]="'View'" [appendTo]="'body'" [(visible)]="ViewMocModal" [closeOnEscape]="true" [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '200px' }" style="text-align: center;" [minY]="70" [maximizable]="true"
    [baseZIndex]="10000">
    <div class="table-responsive no-padding">
        <p-table [value]="MocList">

            <ng-template pTemplate="header">
                <tr>
                    <th width="50%">Material of Cons.</th>
                    <th>Delete</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-col let-i="rowIndex">
                <tr>

                    <td>{{col.MOC_Description}}</td>
                    <td><button class="btn btn-sm btn-danger" (click)="deleteMoc(col)"><i class="fa fa-trash"></i></button></td>
            </ng-template>
        </p-table>
    </div>
    <p-footer>
        <button type="button" (click)="ViewMocModal = false" class="btn btn-default">
  CANCEL
</button>
    </p-footer>
</p-dialog>
<!-- Capacity / Size -->
<p-dialog [header]="'View'" [appendTo]="'body'" [(visible)]="ViewCapacityModal" [closeOnEscape]="true" [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '200px' }" style="text-align: center;" [minY]="70" [maximizable]="true"
    [baseZIndex]="10000">
    <div class="table-responsive no-padding">
        <p-table [value]="CapacitySizeList">

            <ng-template pTemplate="header">
                <tr>
                    <th>Capacity / Size</th>
                    <th>Delete</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-col let-i="rowIndex">
                <tr>

                    <td>{{col.Capacity_Size_Desc}}</td>
                    <td><button class="btn btn-sm btn-danger" (click)="deleteCapacity(col)"><i class="fa fa-trash"></i></button></td>
            </ng-template>
        </p-table>
    </div>
    <p-footer>
        <button type="button" (click)="ViewCapacityModal = false" class="btn btn-default">
  CANCEL
</button>
    </p-footer>
</p-dialog>
<!-- Product Feature -->
<p-dialog [header]="'View'" [appendTo]="'body'" [(visible)]="ViewProFeatureModal" [closeOnEscape]="true" [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '200px' }" style="text-align: center;" [minY]="70" [maximizable]="true"
    [baseZIndex]="10000">
    <div class="table-responsive no-padding">
        <p-table [value]="ProductFeatureList">

            <ng-template pTemplate="header">
                <tr>
                    <th width="50%">Product Feature</th>
                    <th>Delete</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-col let-i="rowIndex">
                <tr>

                    <td>{{col.Product_Feature_Desc}}</td>
                    <td><button class="btn btn-sm btn-danger" (click)="deleteProFeature(col)"><i class="fa fa-trash"></i></button></td>
            </ng-template>
        </p-table>
    </div>
    <p-footer>
        <button type="button" (click)="ViewProFeatureModal = false" class="btn btn-default">
  CANCEL
</button>
    </p-footer>
</p-dialog>
<!-- Grade -->
<p-dialog [header]="'View'" [appendTo]="'body'" [(visible)]="ViewGradeModal" [closeOnEscape]="true" [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '200px' }" style="text-align: center;" [minY]="70" [maximizable]="true"
    [baseZIndex]="10000">
    <div class="table-responsive no-padding" style="overflow-x: hidden !important;">
        <p-table [value]="GradeList">

            <ng-template pTemplate="header">
                <tr>
                    <th>Grade</th>
                    <th>Delete</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-col let-i="rowIndex">
                <tr>

                    <td>{{col.Grade_Description}}</td>
                    <td><button class="btn btn-sm btn-danger" (click)="deleteGrade(col)"><i class="fa fa-trash"></i></button></td>
            </ng-template>
        </p-table>
    </div>
    <p-footer>
        <button type="button" (click)="ViewGradeModal = false" class="btn btn-default">
  CANCEL
</button>
    </p-footer>
</p-dialog>
<!-- Make (Multiple) -->
<p-dialog [header]="'View'" [appendTo]="'body'" [(visible)]="ViewMakeMulModal" [closeOnEscape]="true" [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '200px' }" style="text-align: center;" [minY]="70" [maximizable]="true"
    [baseZIndex]="10000">
    <div class="table-responsive no-padding" style="overflow-x: hidden !important;">
        <p-table [value]="MakeList">

            <ng-template pTemplate="header">
                <tr>
                    <th>Make (Multiple)</th>
                    <th>Delete</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-col let-i="rowIndex">
                <tr>

                    <td>{{col.Mfg_Company}}</td>
                    <td><button class="btn btn-sm btn-danger" (click)="deleteMakeMul(col)"><i class="fa fa-trash"></i></button></td>
            </ng-template>
        </p-table>
    </div>
    <p-footer>
        <button type="button" (click)="ViewMakeMulModal = false" class="btn btn-default">
  CANCEL
</button>
    </p-footer>
</p-dialog>