#ui-tabpanel-0 > div > p-table > div > div.ui-table-wrapper.ng-star-inserted {
    width: auto !important;
  }
  .ui-table-auto-layout > .ui-table-wrapper {
    width: auto !important;
    min-height: 170px !important;
  }
  .custombutton {
    margin-top: 25px;
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .Outlet{
    display: inline-block !important;
  }
  div.label-t {
    padding: 6px 12px;
    background: rgb(206 216 216 / 51%);
  }
  div.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
  }

.imgset{
  margin-bottom: 10px;
}

.table-header {
  color: #ffffff !important;
  background-color: #3c8dbc !important;
}
th{
  text-align: center;
}
table, th, td {
  border: 1px solid #ffffff !important;
  padding: 5px;
}
.mrg{
  margin-left: 5px;
}
.labelTin{
  margin-left: 500px;
  font-size: 17px;
}