<p-toast key="compacct-toast" baseZIndex="99999"></p-toast>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-header with-border">
                    <button class="btn btn-primary btn-sm" style="margin-right:0.5em" (click)='OpenSaleFieldModal("LEAD MANAGER")'>
                  <span class="glyphicon glyphicon-plus"></span> Create LEAD MANAGER
                </button>
                    <button class="btn btn-primary btn-sm" style="margin-right:0.5em" (click)='OpenSaleFieldModal("RM")'>
                    <span class="glyphicon glyphicon-plus"></span> Create RM
                  </button>
                    <button class="btn btn-primary btn-sm" style="margin-right:0.5em" (click)='OpenSaleFieldModal("SALES HEAD")'>
                    <span class="glyphicon glyphicon-plus"></span> Create SALES HEAD
                  </button>
                    <button class="btn btn-primary btn-sm" (click)='OpenSaleFieldModal("TELE SALES")'>
                    <span class="glyphicon glyphicon-plus"></span> Create TELE SALES
                  </button>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-sm-12 text-right" style="margin: 0.5em 0;">
                            <span class='pull-left'>Tree View Tools</span>
                            <button type="button" class="btn btn-xs btn-microsoft" style="margin-right: 0.2em;" title="Expand all" (click)="expandAll()"><i class="fa fa-fw fa-expand"></i></button>
                            <button type="button" class="btn btn-xs btn-microsoft" style="margin-right: 0.2em;" title="Collapse all" (click)="collapseAll()"><i class="fa fa-fw fa-compress"></i></button>
                            <button type="button" class="btn btn-xs btn-microsoft" style="margin-right: 0.2em;" title="View Change" (click)="ToggleView()"><i class="fa fa-fw fa-arrows"></i></button>
                        </div>
                        <div class="col-sm-12">
                            <p-tree scrollHeight="300px" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)" [value]="TreeDataList" [loading]="loading" layout="{{layoutString}}"></p-tree>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- DYNAMIC POPUP  -->
<p-dialog [header]="'Create '+ CreateFieldModalTitle" [appendTo]="'body'" [visible]="CreateFieldModal" [closeOnEscape]="true" [closable]="false" [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '300px' }" style="text-align: center;"
    [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <form name="CreateSalesUpdate" #CreateSalesUpdate="ngForm" novalidate>
        <div class="form-group">
            <div class="col-sm-12">
                <label class="control-label">{{IntroducerTitle}}&nbsp;<span class="text-danger"
                    >*</span
                  ></label
                >
                <p-dropdown
                  [options]="IntroducerList"
                  name="Introducer"
                  [(ngModel)]="ObjSaleField.Intro_Member_ID"
                  [showClear]="true"
                  [emptyFilterMessage]="' No Introducer Found'"
                  [filter]="true"
                  filterBy="label,value.name"
                  [placeholder]="'Select Introducer'"
                  [virtualScroll]="true"
                  itemSize="30"
                  #Introducer="ngModel"
                  [styleClass]="
                  CreateFieldModalFormSubmitted && Introducer.errors?.required
                      ? 'clearance'
                      : ''
                  "
                  [required]="true"
                >
                </p-dropdown>
              </div>
            <div class="col-sm-12">
                <label class="control-label">{{CreateFieldModalTitle}} Name<sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" [placeholder]="CreateFieldModalTitle+' Name'" name="studName" #studName="ngModel" [(ngModel)]="ObjSaleField.Member_Name" [ngClass]="{clearance:CreateFieldModalFormSubmitted && studName.errors?.required}" required>
            </div>
            <div class="col-sm-12">
                <label class="control-label">User Name<sup class="text-danger">*</sup></label>
                <input type="text" class="form-control" placeholder="User name" name="User_Name" #User_Name="ngModel" [(ngModel)]="ObjSaleField.User_Name" [ngClass]="{clearance:CreateFieldModalFormSubmitted && User_Name.errors?.required}" required>
            </div>
            <div class="col-sm-12">
                <label class="control-label">Password<sup class="text-danger">*</sup></label>
                <input type="password" placeholder="Password" class="form-control" name="pass" #pass="ngModel" [(ngModel)]="ObjSaleField.Password" [ngClass]="{clearance: CreateFieldModalFormSubmitted && pass.errors?.required}" maxlength="10" required>
            </div>


        </div>
    </form>

    <p-footer>
        <button type="button" (click)="CreateFieldModal = false" class="btn btn-default">
      CANCEL
    </button>
        <button type="button" class="btn btn-primary" (click)="SaveUpdateField(CreateSalesUpdate.form.valid)">
      SAVE
    </button>
    </p-footer>
</p-dialog>