.ui-table-auto-layout > .ui-table-wrapper ,  div.table-responsive.table-id > p-table > div > div {
    width: auto !important;
    
  }
   .custombutton {
      margin-top: 25px;
    }
    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .cdk-overlay-container {
      z-index: 9999999999999 !important;
    }
    .createPatient {
      padding: 0 5px !important;
      border-radius: 3px !important;
      margin-top: 5px !important;
    }
    div.label-t {
      padding: 6px 12px;
      background: rgb(206 216 216 / 51%);
    }