div.label-t {
    padding: 6px 12px;
    background: rgb(206, 216, 216);
}

.box-body {
    padding-top: 10px !important;
    padding-left: 10px !important;
}
.custombutton2 {
    margin-top: 30px;
    margin-left: 15px;
}