div.table-responsive.table-id > p-table > div > div {
    width: auto !important;
  }
.box-body {
    padding-top: 10px !important;
    padding-left: 10px !important;
}
.custombutton {
    margin-top: 25px;
  }
  body > .ui-paginator{
    margin-top: 0 !important;
  }
  .status-contain{
    width: 35%;
    margin: 0 5px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
  }
  body .ui-dataview .ui-dataview-content{
    padding: 0 !important;
  }
  .car-details{
    background: #8080801f;
  }
  .custm-bad{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
  }
  fieldset
  {
      border: 1px solid #ddd !important;
      margin: 0;
      min-width: 0;
      padding: 10px;
      position: relative;
      border-radius:4px;
      background-color:#f5f5f5;
      padding-left:10px!important;
  }

      legend
      {
          font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  width: fit-content;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0px 10px 0px 10px;
  background-color: #ffffff;
      }