<p-toast key="compacct-toast" baseZIndex="99999"></p-toast>

 <div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                    <p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[0]" leftIcon="glyphicon glyphicon-list-alt" >
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <label class="control-label">Assign To<sup class="text-danger">*</sup></label>
                                    <select class="form-control"
                                            name="forwardlead"
                                            #forwardlead='ngModel'
                                            [ngClass]="{'clearance': leadtransactionSubmit && forwardlead?.errors?.required}"
                                            [(ngModel)]="QueryStringUserID"
                                            (change)='GetAllLead()'
                                            [disabled]='FromQueryString'
                                            required>
                                            <option *ngIf='$CompacctAPI.CompacctCookies.User_Type === "A"'  [ngValue]="undefined">Select</option>
                                            <option *ngFor = "let option of user" [value] ="option.User_ID">
                                               {{option.Member_Name}}
                                             </option>
                                    </select>
                                  </div>
                                  <button class="btn btn-primary custombutton" style="margin-right: 1.5em;" (click)='openLeadModal()'>
                                    <span class="fa fa-fw fa-user-plus"></span>&nbsp;Create Lead 
                                  </button>
                            </div>
                            <div *ngIf="BackupLeadList.length" class="form-group" style="padding:15px">
                                <fieldset class="col-md-12">
                                    <legend>Filter</legend>
    
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label class="control-label">Lead <span class="text-danger"></span></label>
                                            <p-multiSelect [options]="LeadFilterList" (onChange)='GlobalFilterChange1()' [(ngModel)]="SelectedLeadFilterList1" [styleClass]="'compacct-multiselect'" name="PinList" [resetFilterOnHide]="true"></p-multiSelect>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label">Lead Date <span class="text-danger"></span></label>
                                            <p-multiSelect [options]="LeadDateFilterList" (onChange)='GlobalFilterChange1()' [(ngModel)]="SelectedLeadDateFilterList1" [styleClass]="'compacct-multiselect'" name="LeadDate" [resetFilterOnHide]="true"></p-multiSelect>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label">Status <span class="text-danger"></span></label>
                                            <p-multiSelect [options]="StatusFilterList" (onChange)='GlobalFilterChange1()' [(ngModel)]="SelectedStatusFilterList1" [styleClass]="'compacct-multiselect'" name="Status" [resetFilterOnHide]="true"></p-multiSelect>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label">Assign To <span class="text-danger"></span></label>
                                            <p-multiSelect [options]="AssignToFilterList" (onChange)='GlobalFilterChange1()' [(ngModel)]="SelectedAssignToFilterList1" [styleClass]="'compacct-multiselect'" name="Assign" [resetFilterOnHide]="true"></p-multiSelect>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>   
                            <div class="table-responsive table-id">
                            <p-table #dt
                                     [columns]="clms"
                                     [value]='TableLeadList'
                                     [globalFilterFields]="FilterColLeadList"
                                     [paginator]="true" [rows]="10" [rowHover]="true"
                                     [autoLayout]="true" sortMode="multiple"
                                     [rowsPerPageOptions]="[10,20,30]"
                                     [rowHover]="true">
                                       <ng-template pTemplate="caption">
                                           <div class="row">
                                                <div class="col-sm-3 pull-right" style="text-align: right">
                                                        <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                                    </div>
                                                <div class="col-sm-3 pull-right" >
                                                  <button class="btn btn-success" data-toggle="modal" (click)="exportoexcel('leads')">
                                                    <span  class="glyphicon glyphicon-save-file"></span>&nbsp;Export To Excel
                                                     </button>
                                                </div>
                                           </div>

                                        </ng-template>

                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th>Action</th>
                                                <th *ngFor="let clms of columns" [pSortableColumn]="clms.field">
                                                    {{clms.header}}
                                                    <p-sortIcon [field]="clms.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                                </th>
                                                <!-- <th>Company Name</th>
                                                <th>Contact Person</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th>Mobile</th>
                                                <th>Address</th>
                                                <th>Sales Stage</th>
                                                <th>Source</th>
                                                <th>Assigned To</th> -->

                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-col>
                                            <tr>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                                            <i class="fa fa-fw fa-bars"></i>
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <a (click)="RedirectLeadDetails(col)"> <i class="fa fa-pencil"> </i>Edit</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td>{{col.Org_Name}}</td>
                                                <td>{{col.Lead_Date}}</td>
                                                <td>{{col.Contact_Name}}</td>
                                                <td>{{col.Mobile ? col.Mobile : '-' }}</td>
                                                <td>{{col.Email ? col.Email : '-'}}</td>
                                                <td>{{col.Phone ? col.Phone : '-'}}</td>
                                                <td>{{col.Address ? col.Address : '-'}}</td>

                                                <td><span class="custm-bad" [ngClass]='GetStatusWiseColor(col.Status)'>{{col.Status ? col.Status : '-'}}</span></td>
                                                <td>{{col.Enq_Source_Name ? col.Enq_Source_Name : '-'}}</td>
                                                <td>{{col.Assign_To_Name ? col.Assign_To_Name : '-'}}</td>
                                            </tr>
                                        </ng-template>

                                    <ng-template pTemplate="paginatorright" let-state>
                                            Showing {{state.first+1}} of {{(state.first+1) + state.rows}} of  {{state.totalRecords}}
                                    </ng-template>
                            </p-table>
                            </div> 
                        </p-tabPanel>
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[1]" leftIcon="glyphicon glyphicon-floppy-save">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <label class="control-label">Assign To<sup class="text-danger">*</sup></label>
                                    <select class="form-control"
                                            name="forwardlead"
                                            #forwardlead='ngModel'
                                            [ngClass]="{'clearance': leadtransactionSubmit && forwardlead?.errors?.required}"
                                            [(ngModel)]="QueryStringUserID"
                                            (change)='GetAllLead()'
                                            [disabled]='FromQueryString'
                                            required>
                                            <option *ngIf='$CompacctAPI.CompacctCookies.User_Type === "A"'  [ngValue]="undefined">Select</option>
                                            <option *ngFor = "let option of user" [value] ="option.User_ID">
                                               {{option.Member_Name}}
                                             </option>
                                    </select>
                                  </div>
                                  <button class="btn btn-primary custombutton" style="margin-right: 1.5em;" (click)='openLeadModal()'>
                                    <span class="fa fa-fw fa-user-plus"></span>&nbsp;Create Lead 
                                  </button>
                            </div>
                            <div *ngIf="BackupLeadList.length" class="form-group" style="padding:15px">
                                <fieldset class="col-md-12">
                                    <legend>Filter</legend>
    
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <label class="control-label">Lead <span class="text-danger"></span></label>
                                            <p-multiSelect [options]="LeadFilterList" (onChange)='GlobalFilterChange2()' [(ngModel)]="SelectedLeadFilterList2" [styleClass]="'compacct-multiselect'" name="PinList"></p-multiSelect>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label">Status <span class="text-danger"></span></label>
                                            <p-multiSelect [options]="StatusFilterList" (onChange)='GlobalFilterChange2()' [(ngModel)]="SelectedStatusFilterList2" [styleClass]="'compacct-multiselect'" name="Status"></p-multiSelect>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label">Assign To <span class="text-danger"></span></label>
                                            <p-multiSelect [options]="AssignToFilterList" (onChange)='GlobalFilterChange2()' [(ngModel)]="SelectedAssignToFilterList2" [styleClass]="'compacct-multiselect'" name="Assign"></p-multiSelect>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="control-label">Grid Status Filter <span class="text-danger"></span></label>
                                            <p-multiSelect [options]="StatusList" (onChange)='GlobalFilterChange2()' [(ngModel)]="SelectedGridStatusFilterList2" [styleClass]="'compacct-multiselect'" name="Status"></p-multiSelect>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>   
                            <div style="overflow: scroll;width: 100%;height: 500px;display: flex;" >
                                   <div class='status-contain' *ngFor='let status of DisplayGridStatusList'>
                                    <p-dataView #dv [value]="getStatusWIseList(status)" [loading]='GridLoader' [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="brand"
                                    [sortField]="sortField" [sortOrder]="sortOrder" layout='list'>
                                    <p-header>
                                        <div class="row">
                                            <div class="col-sm-12 text-center">
                                                <button class="btn" [ngClass]='GetStatusWiseColor(status.Status)' style="text-align: center;line-height: 2em;border-radius: 5px;">
                                                    {{status.Status}}
                                                </button>
                                                <!-- <div class="ui-g-12 ui-md-6" style="text-align:right">
                                                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                                                </div> -->
                                            </div>
                                            <!-- <div class="ui-g">
                                                <div class="ui-g-12 ui-md-6">
                                                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                                                </div>
                                                <div class="ui-g-12 ui-md-6 filter-container">
                                                    <div style="position:relative">
                                                        <input type="search" class="form-control" placeholder="Search by brand" (keyup)="dv.filter($event.target.value)">
                                                    </div>
                                                </div>
                                               
                                            </div> -->
                                        </div>
                                    </p-header>
                                    <ng-template let-lead pTemplate="listItem">
                                        <div class="ui-g-12">
                                            <div class="car-details" style="border-bottom: 1px dotted #00000036;">
                                                <div>
                                                   
                                                    <div class="ui-g">
                                                        <div class="ui-g-12">Company Name : <b>{{lead.Org_Name}}</b></div>
                                                        <div class="ui-g-12">Contact Person : <b>{{lead.Contact_Name}}</b></div>
                                                        <div class="ui-g-12">Phone : <b>{{lead.Mobile}}</b></div>
                                                        <div class="ui-g-12">Lead Created By : <b>{{lead.Lead_Created_By}}</b></div>
                                                        <div class="ui-g-12">Last Followup Date : <b>{{lead.Lead_Date === '1900-01-01T00:00:00' ? (lead.Lead_Date | date : "dd/MMM/yyyy") : '-'}}</b></div>
                                                        <div class="ui-g-12">Next Followup Date : <b>{{lead.Next_Followup === '1900-01-01T00:00:00' ? (lead.Next_Followup | date : "dd/MMM/yyyy") : '-'}}</b></div>
                                                        <div class="ui-g-12">
                                                            <button class="btn pull-right btn-warning btn-xs"  (click)="RedirectLeadDetails(lead)"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;More...</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-lead pTemplate="gridItem">
                                        <div style="padding:.5em" class="ui-g-12 ui-md-3">
                                            <p-panel [header]="lead.Org_Name" [style]="{'text-align':'center'}">
                                                
                                                <div class="car-detail">{{lead.Contact_Name}} - {{lead.Mobile}}</div>
                                                <hr class="ui-widget-content" style="border-top:0">
                                                <button style="margin-top:0" class="btn pull-right btn-xs"  (click)="RedirectLeadDetails(lead)"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;More...</button>
                                                
                                            </p-panel>
                                        </div>
                                    </ng-template>
                                </p-dataView>
                                   </div>
                               </div>
                        </p-tabPanel>
                    </p-tabView>
              </div>
            </div>
        </div>
    </div>
</div>

<!-- CREATE LEAD -->
<p-dialog header="CREATE LEAD" [appendTo]="'body'" [visible]="LeadCreateModal" [closeOnEscape]="true" [closable]="false" [modal]="true" [responsive]="true" [style]="{ width: '75%', minWidth: '200px' }" style="text-align: center;" [minY]="70" [maximizable]="true"
    [baseZIndex]="10000">
    <form name="myform" class="form-horizontal" #myform="ngForm" novalidate>                            
        <div class="form-group">
          <h5 style="
                                        padding: 0.5em 2em;
                                        background: #c1c1c185;
                                        border-top: 5px solid #3c8dbc;
                                        border-bottom: 1px solid #c6c6c6;
                                        margin-top: 15px;
                                        ">
            <i class="fa fa-fw fa-fax">
            </i> &nbsp;<strong>Lead Details : </strong>
          </h5>
          <div class="col-sm-6">
            <label class="control-label">Company Name<sup class="text-danger">*</sup></label>
            <input class="form-control"
                   name="Organization"
                   #Organization='ngModel'
                   [(ngModel)]="leadtransation.Org_Name"
                   placeholder="Company Name"
                   [ngClass]="{'clearance':leadtransactionSubmit && Organization?.errors?.required}"
                   required>
          </div>
          <div class="col-sm-6">
            <label class="control-label">Address<sup class="text-danger">*</sup></label>
            <input rows="1" class="form-control"
                   name="Address"
                   #Address='ngModel'
                   [(ngModel)]="autocomplete"
                   Compacct-Place
                   (setAddress)="getAddressOnChange($event)"
                   placeholder="Address"
                   required>
          </div>
          <div class="col-sm-3">
            <label class="control-label">Date<sup class="text-danger">*</sup></label>
            <div class="input-group date">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="date" class="form-control" 
               name="leadate" #leadate='ngModel'
                [ngModel]="LeadDateNepal | date:'yyyy-MM-dd'"
                 (ngModelChange)="LeadDateNepal = $event" 
              [ngClass]="{'clearance': leadtransactionSubmit &&  leadate?.errors?.required}"
                 required>
            </div>
          </div>
          <div class="col-sm-3">
            <label class="control-label">Landmark</label>
            <input class="form-control"
                   name="Landmark"
                   #Landmark='ngModel'
                   [(ngModel)]="leadtransation.Landmark"
                   placeholder="Landmark"
                   [ngClass]="{'clearance':leadtransactionSubmit && Landmark?.errors?.required}">
          </div>
          <div class="col-sm-3">
            <label class="control-label">Lead Priority <sup class="text-danger">*</sup><sup class="text-danger"></sup></label>
            <select class="form-control"
                    name="Priority"
                    #Priority='ngModel'
                    [ngClass]="{'clearance': leadtransactionSubmit && Priority?.errors?.required}"
                    [(ngModel)]="leadtransation.Lead_Priority"
                    required>
              <option value="">Select</option>
              <option value="Hot">Hot</option>
              <option value="Warm">Warm</option>
              <option value="Cold">Cold</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label class="control-label">Industry <sup class="text-danger">*</sup><sup class="text-danger"></sup></label>
            <select class="form-control"
                    name="Industry"
                    #Industry='ngModel'
                    [ngClass]="{'clearance': leadtransactionSubmit && Industry?.errors?.required}"
                    [(ngModel)]="leadtransation.Sub_Ledger_Cat_ID"
                    required>
              <option  [ngValue]="undefined">Select</option>
              <option *ngFor = "let option of customertype" [value] ="option.Sub_Ledger_Cat_ID">
                 {{option.Sub_Ledger_Cat_Name}}
               </option>
            </select>
          </div>
          <div class="col-sm-3">
            <label class="control-label">Source<sup class="text-danger"></sup></label>
            <select class="form-control"
                    name="enquerysource"
                    #enquerysource='ngModel'
                    [ngClass]="{'clearance': leadtransactionSubmit && enquerysource?.errors?.required}"
                    [(ngModel)]="leadtransation.Enq_Source_ID">
              <option value="">Select</option>
              <option  [ngValue]="undefined">Select</option>
              <option *ngFor = "let option of EnqSourceModel" [value] ="option.Enq_Source_ID">
                 {{option.Enq_Source_Name}}
               </option>
            </select>
          </div>
          <!-- <div class="col-sm-6" *ngIf="leadtransation.Enq_Source_ID == 252">
            <label class="control-label">Client Reference </label>
            <p-dropdown [options]="ReferencebyCustomer" name="Sub_Ledger_ID_Ref"
             [(ngModel)]="leadtransation.Sub_Ledger_ID_Ref" [showClear]="true" [emptyFilterMessage]="' No Reff Found'" [filter]="true" filterBy="label,value.name" [placeholder]="'Select Reff'" [virtualScroll]="true" itemSize="30" #Sub_Ledger_ID_Ref="ngModel"
            >
            </p-dropdown>
            
          </div> -->
          <div class="col-sm-3">
            <label class="control-label">Website<sup class="text-danger"></sup></label>
            <input class="form-control"
                   name="Website"
                   #Website='ngModel'
                   [ngClass]="{'clearance': leadtransactionSubmit && Website?.errors?.required}"
                   [(ngModel)]="leadtransation.Website"
                   placeholder="Website"
                   type="url">

          </div>



        </div>
        <div class="form-group">
          <h5 style="
                                        padding: 0.5em 2em;
                                        background: #c1c1c185;
                                        border-top: 5px solid #3c8dbc;
                                        border-bottom: 1px solid #c6c6c6;
                                        margin-top: 15px;
                                        ">
            <i class="fa fa-fw fa-fax">
            </i> &nbsp;<strong>Social Media Links : </strong>
          </h5>
          <div class="col-sm-4">
            <label class="control-label">Facebook Link<sup class="text-danger"></sup></label>
            <input class="form-control"
                   name="Facebook"
                   #Facebook='ngModel'
                   [ngClass]="{'clearance': leadtransactionSubmit && Facebook?.errors?.required}"
                   [(ngModel)]="leadtransation.Social_FaceBook_Link"
                   placeholder="Facebook Link"
                   type="url">

          </div>
          <div class="col-sm-4">
            <label class="control-label">Instagram Link<sup class="text-danger"></sup></label>
            <input class="form-control"
                   name="Instagram"
                   #Instagram='ngModel'
                   [ngClass]="{'clearance': leadtransactionSubmit && Instagram?.errors?.required}"
                   [(ngModel)]="leadtransation.Social_Instagram_Link"
                   placeholder="Instagram Link"
                   type="url">

          </div>
          <div class="col-sm-4">
            <label class="control-label">Linkedin Link<sup class="text-danger"></sup></label>
            <input class="form-control"
                   name="Linkedin"
                   #Linkedin='ngModel'
                   [ngClass]="{'clearance': leadtransactionSubmit && Linkedin?.errors?.required}"
                   [(ngModel)]="leadtransation.Social_Linkedin_Link"
                   placeholder="Linkedin Link"
                   type="url">

          </div>

        </div>
        <div class="form-group">
          <h5 style="
                                        padding: 0.5em 2em;
                                        background: #c1c1c185;
                                        border-top: 5px solid #3c8dbc;
                                        border-bottom: 1px solid #c6c6c6;
                                        margin-top: 15px;
                                        ">
            <i class="fa fa-fw fa-fax">
            </i> &nbsp;<strong>Contacts Info : </strong>
          </h5>

          <div class="col-sm-3">
            <label class="control-label">Contact Person<sup class="text-danger">*</sup></label>
            <input class="form-control"
                   name="contactperson"
                   #contactperson='ngModel'
                   [ngClass]="{'clearance': leadtransactionSubmit && contactperson?.errors?.required}"
                   [(ngModel)]="leadtransation.Contact_Name"
                   placeholder="Contact Person Name"
                   allow-pattern="[a-z ]"
                   required>

          </div>
          <div class="col-sm-3">
            <label class="control-label">Designation<sup class="text-danger">*</sup></label>
            <select class="form-control"
                    name="Designation"
                    #Designation='ngModel'
                    [ngClass]="{'clearance': leadtransactionSubmit && Designation?.errors?.required}"
                    [(ngModel)]="leadtransation.Desig"
                    required>
              <option value="">Select</option>
              <option value="Manager">Manager</option>
              <option value="Sales Person">Sales Person</option>
              <option value="Enployee">Enployee</option>
            </select>

          </div>
          <div class="col-sm-3">
            <label class="control-label">Phone<sup class="text-danger">*</sup></label>
            <input class="form-control"
                   name="mobile1"
                   #mobile1='ngModel'
                   [ngClass]="{
                    clearance:
                      (leadtransactionSubmit && mobile1.errors?.required) ||
                      (mobile1.errors?.minlength && mobile1.touched)
                  }"
                   [(ngModel)]="leadtransation.Mobile"
                   placeholder="Mobile Number"
                   minlength="10" maxlength="10"
                   required  CompacctDigitonly="true">
          </div>
          <div class="col-sm-3">
            <label class="control-label">Email<sup class="text-danger"></sup></label>
            <input class="form-control"
                   type="email"
                   name="emailid"
                   #emailid='ngModel'
                   [ngClass]="{'clearance':(leadtransactionSubmit && emailid?.errors?.required) || emailid?.errors?.email}"
                   [(ngModel)]="leadtransation.Email"
                   placeholder="Email Address">
          </div>
          <div class="col-sm-5">
            <label class="control-label">Land Line</label>
            <div class="input-group" style="width:100%">
              <select class="form-control"
                      name="prefix"
                      #prefix='ngModel'
                      [(ngModel)]="leadtransation.Landline_Extension">
                <option value="">Select</option>
              </select>
              <span class="input-group-addon" style="border-color: #ffffff; padding:0px"></span>
              <input class="form-control"
                     name="landLine"
                     #landLine='ngModel'
                     [(ngModel)]="leadtransation.Phone"
                     placeholder="Phone Number"
                     allow-pattern="\d|/|-|\s">
            </div>
           
          </div>

        
        </div>
        <div class="form-group">
          <h5 style="
                                        padding: 0.5em 2em;
                                        background: #c1c1c185;
                                        border-top: 5px solid #3c8dbc;
                                        border-bottom: 1px solid #c6c6c6;
                                        margin-top: 15px;
                                        ">
            <i class="fa fa-fw fa-fax">
            </i> &nbsp;<strong>Lead Info : </strong>
          </h5>

          <div class="col-sm-4">
            <label class="control-label">Assign To<sup class="text-danger">*</sup></label>
            <select class="form-control"
                    name="forwardlead"
                    #forwardlead='ngModel'
                    [ngClass]="{'clearance': leadtransactionSubmit && forwardlead?.errors?.required}"
                    [(ngModel)]="leadtransation. Assign_To"
                    required>
                    <option  [ngValue]="undefined">Select</option>
                    <option *ngFor = "let option of user" [value] ="option.User_ID">
                       {{option.Member_Name}}
                     </option>
            </select>
          </div>
          <div class="col-sm-4">
            <label class="control-label">Product Groups<sup class="text-danger"></sup></label>
           
            <p-multiSelect [options]="ProductTypeLists" [(ngModel)]="SelectedProductTypeList" [styleClass]="'compacct-multiselect'" name="PinList"></p-multiSelect>
            <!-- <div ng-dropdown-multiselect=""
                 options="ProductTypeLists"
                 selected-model="ProductTypeidlist"
                 extra-settings="categoryfetch"
                 checkboxes="true"> 
            </div> -->
          </div>
          <div class="col-sm-4">
            <label class="control-label">Existing</label><br />
            <p-radioButton name="groupname" 
            #groupname='ngModel' value="Competitor" (onClick)='Cleardata3()' label="Competitor" [(ngModel)]="ExistingLead"></p-radioButton>
            <p-radioButton name="groupname" #groupname='ngModel' value="Trader" (onClick)='Cleardata3()' label="Trader" [(ngModel)]="ExistingLead"></p-radioButton>
            <p-radioButton name="groupname" #groupname='ngModel' value="Other" (onClick)='Cleardata3()' label="Other" [(ngModel)]="ExistingLead"></p-radioButton>
            <!-- <md-radio-group [(ngModel)]="ExistingLead" ng-change="Cleardata3()">
              <label class="radio-inline"> <md-radio-button value="Competitor" class="md-primary">Competitor</md-radio-button></label>
              <label class="radio-inline"><md-radio-button value="Trader" class="md-primary">Trader</md-radio-button></label>
              <label class="radio-inline"><md-radio-button value="Other" class="md-primary">Other</md-radio-button></label>
            </md-radio-group> -->
          </div>
          <div class="col-sm-4" *ngIf="ExistingLead === 'Competitor'">
            <label class="control-label">Competitor<sup class="text-danger">*</sup></label>
            <input class="form-control"
                   name="Competitor"
                   #Competitor='ngModel'
                   [ngClass]="{'clearance': leadtransactionSubmit && Competitor?.errors?.required}"
                   [(ngModel)]="leadtransation.Existing_Name"
                   placeholder="Competitor"
                   allow-pattern="[a-z ]"
                   required>
          </div>
          <div class="col-sm-4" *ngIf="ExistingLead === 'Trader'">
            <label class="control-label">Trader<sup class="text-danger">*</sup></label>
            <input class="form-control"
                   name="Trader"                                           
                   #Trader='ngModel'
                   [ngClass]="{'clearance': leadtransactionSubmit && Trader?.errors?.required}"
                   [(ngModel)]="leadtransation.Existing_Name"
                   placeholder="Trader"
                   allow-pattern="[a-z ]"
                   required>
          </div>
          <div class="col-sm-4" *ngIf="ExistingLead === 'Other'">
            <label class="control-label">Other<sup class="text-danger">*</sup></label>
            <input class="form-control"
                   name="Other"
                   #Other='ngModel'
                   [ngClass]="{'clearance': leadtransactionSubmit && Other?.errors?.required}"
                   [(ngModel)]="leadtransation.Existing_Name"
                   placeholder="Other"
                   allow-pattern="[a-z ]"
                   required>
          </div>
          <div class="col-sm-4">
            <label class="control-label">Competition Activity<sup class="text-danger"></sup></label>
            <textarea class="form-control"
                      name="Competitor_Activity"
                      #Competitor_Activity='ngModel'
                      rows="1"
                      [ngClass]="{'clearance': leadtransactionSubmit && Competitor_Activity?.errors?.required}"
                      [(ngModel)]="leadtransation.Competition_Activity"
                      placeholder="Competitor Activity"> </textarea>

          </div>
          <!-- <div class="col-sm-3">
            <label class="control-label">Status<sup class="text-danger">*</sup></label>
            <select class="form-control"
                    name="leadstatus"
                    #leadstatus='ngModel'
                    [ngClass]="{'clearance': leadtransactionSubmit && leadstatus?.errors?.required}"
                    [(ngModel)]="leadtransation.Status"
                    required>
                    <option  [ngValue]="undefined">Select</option>
                    <option *ngFor = "let option of LeadStatusList" [value] ="option.Status">
                       {{option.Status}}
                     </option>
            </select>
          </div> -->
        </div>
        <div class="form-group">
            <h5 style="
            padding: 0.5em 2em;
            background: #c1c1c185;
            border-top: 5px solid #3c8dbc;
            border-bottom: 1px solid #c6c6c6;
            margin-top: 15px;
            ">
            <i class="fa fa-fw fa-fax">
            </i> &nbsp;<strong>Task Info : </strong>
            </h5>
            <div class="col-sm-4">
                <label class="control-label">Subject <sup class="text-danger">*</sup><sup class="text-danger"></sup></label>
                <select class="form-control"
                        name="Subject_ID"
                        #Subject_ID='ngModel'
                        [ngClass]="{'clearance': leadtransactionSubmit && Subject_ID?.errors?.required}"
                        [(ngModel)]="leadtransation.Subject_ID"
                        required>
                        <option [ngValue]="undefined">Select</option>
                        <option *ngFor="let option of SubjectList" [ngValue]="option.Subject_ID">{{option.Subject}}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Task From Date<sup class="text-danger">*</sup></label>
                <input type="date" class="form-control" id="Next-Followup-2" name="NextFollowup3" #NextFollowup3='ngModel' [ngModel]="TaskFromDate | date:'yyyy-MM-dd'" (ngModelChange)="TaskFromDate = $event" 
                 [ngClass]="{'clearance': leadtransactionSubmit &&  NextFollowup3?.errors?.required}"
                    required>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Task To Date<sup class="text-danger">*</sup></label>
                <input type="date" class="form-control" id="Next-Followup-2" name="NextFollowup2" #NextFollowup2='ngModel' [ngModel]="TaskToDate | date:'yyyy-MM-dd'" 
                (ngModelChange)="TaskToDate = $event"  [ngClass]="{'clearance': leadtransactionSubmit &&  NextFollowup2?.errors?.required}"
                    required>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Priority <sup class="text-danger">*</sup><sup class="text-danger"></sup></label>
                <select class="form-control"
                        name="Priority"
                        #Priority='ngModel'
                        [ngClass]="{'clearance': leadtransactionSubmit && Priority?.errors?.required}"
                        [(ngModel)]="leadtransation.Task_Priority"
                        required>
                  <option value="">Select</option>
                  <option value="High">High</option>
                  <option value="Medium">Medium</option>
                  <option value="Low">Low</option>
                </select>
              </div>
        </div>
        </form>

    <p-footer>
        <button type="button" (click)="LeadCreateModal = false" class="btn btn-default">
            CLOSE
        </button>
        <button class="btn btn-primary" (click)='saveLead(myform.form.valid)'>Save</button>
    </p-footer>
</p-dialog>
