<p-toast key="compacct-toast" baseZIndex="99999"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true" baseZIndex="99999">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>

        <!-- <div class="ui-g ui-fluid" *ngIf="Final && !NotFinal">
          <div class="ui-g-6">
              <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
          </div>
          <div class="ui-g-6">
              <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
          </div>
      </div> -->
      <div class="ui-g ui-fluid">
        <div class="ui-g-6">
            <button type="button" pButton (click)="onReject()" label="Ok" class="ui-button-danger" style="margin-left: 70px;"></button>
        </div>
    </div>

    </ng-template>
</p-toast>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                <p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">
                    <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[0]" leftIcon="glyphicon glyphicon-hourglass">
                        <div class="col-sm-3" *ngIf="ApprovalList.length">
                            <label class="control-label">Employee Name <span class="text-danger"></span></label>
                            <p-multiSelect [options]="DistEmpName" [(ngModel)]="SelectedDistEmpName" itemSize="30" (onChange)='FilterDist()' [styleClass]="'compacct-multiselect'" name="empname"></p-multiSelect>
                        </div>
                      <div class="clearfix"></div>
                      <div class="table-responsive no-padding" style="overflow-x: hidden !important;">
                        <p-table [value]="ApprovalList" [globalFilterFields]='["Emp_Name","Leave_Type","Apply_From_Date","Apply_To_Date","Remarks","Issued_From_Date","Issued_To_Date","Approved_Status_Business_Manager","Approved_Note_Business_Manager","Approved_Status_Reporting_Manager","Approved_Note_Reporting_Manager"]' [rowHover]="true" [autoLayout]="true" #dt>
                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col-sm-3 pull-right" style="text-align: right">
                                        <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                    </div>
                                </div> <br>

                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th nowrap="nowrap">Action</th>
                                    <th>Loan Application No</th>
                                    <th nowrap="nowrap">Emp Name</th>
                                    <th nowrap="nowrap">Application Date</th>
                                    <th nowrap="nowrap">Applied Amount</th>
                                    <th nowrap="nowrap">No of EMI Applied</th>
                                    <th nowrap="nowrap">From Month & Date</th>
                                    <th nowrap="nowrap">Approval 1</th>
                                    <th nowrap="nowrap">Remarks of Approval 1</th>
                                    <th nowrap="nowrap">Approval 2</th>
                                    <th nowrap="nowrap">Remarks of Approval 2</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-col let-rowIndex="rowIndex">
                                <tr>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                                            <i class="fa fa-fw fa-bars"></i>
                                                            <span class="caret"></span>
                                                        </button>
                                            <ul class="dropdown-menu">
                                                 <li>
                                                    <a (click)="ApprovedPopup(col)">
                                                        <i class="glyphicon glyphicon-ok"></i> Approved / Disapproved
                                                    </a>
                                                </li>
                                                <li *ngIf="col.Document_Link">
                                                    <a (click)="ShowDocument(col)">
                                                        <i class="fa fa-file-text-o"></i> Show Document
                                                    </a>
                                                </li>
                                               
                                            </ul>
                                        </div>
                                    </td>
                                    <td>{{col.Loan_ID ? col.Loan_ID:"-"}}</td>
                                    <td>{{col.Emp_Name ? col.Emp_Name:"-"}}</td> 
                                    <td>{{col.Application_Date  | date : 'dd/MMM/yyyy'}}</td>
                                    <td>{{col.Loan_Amount}}</td>
                                    <td>{{col.No_Of_EMI}}</td>
                                    <td>{{col.EMI_Start_Month  | date : 'dd/MMM/yyyy'}}</td>
                                    <td>{{col.Approval_Status_1 ? col.Approval_Status_1:"-"}}</td>
                                    <td>{{col.Approved_Note_Reporting_Manager ? col.Approved_Note_Reporting_Manager : "-"}}</td>
                                    <td>{{col.Approval_Status_2 ? col.Approval_Status_2:"-"}}</td>
                                    <td>{{col.Approved_Note_Business_Manager ? col.Approved_Note_Business_Manager : "-"}}</td>

                                </tr>
                                    <!-- <td colspan="3" class="text-center">-</td>
                                    <td>{{getTotalValue('Confirm_Amount')}}</td>
                                    <td>{{getTotalValue('Confirm_Amount_With_GST')}}</td> 
                                </tr> -->
                            </ng-template>
                        </p-table>
                      </div>
                    </p-tabPanel>
                    <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[1]" leftIcon="glyphicon glyphicon-list-alt">
                        <div class="col-sm-3" *ngIf="ApprovedApprovalList.length">
                            <label class="control-label">Employee Name <span class="text-danger"></span></label>
                            <p-multiSelect [options]="DistEmpNameTab2" [(ngModel)]="SelectedDistEmpNameTab2" itemSize="30" (onChange)='FilterDistTab2()' [styleClass]="'compacct-multiselect'" name="empnametab2"></p-multiSelect>
                        </div>
                        <div class="clearfix"></div>
                    <div class="no-padding">
                        <p-table [value]="ApprovedApprovalList"
                        [paginator]="ApprovedApprovalList.length ? true : false"
                        *ngIf='ApprovedApprovalList.length'
                        [paginator]="true" 
                        [rows]="100" 
                        [rowHover]="true" 
                        [autoLayout]="true" 
                        sortMode="multiple" 
                        [rowsPerPageOptions]="[100,200,300]" 
                        [globalFilterFields]='DynamicHeaderforTabSecond'
                            [rowHover]="true" #dt2>
                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col-sm-3 pull-right" style="text-align: right">
                                        <input type="text" pInputText size="50" placeholder="Search" (input)="dt2.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                    </div>
                                </div>

                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:5em">Action</th>
                                    <th nowrap="nowrap" *ngFor="let option of DynamicHeaderforTabSecond | slice:2">{{option.replaceAll('_',' ')}}</th> 
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-col>
                                <tr>

                                    <td>
                                         <div class="dropdown">
                                            <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                                            <i class="fa fa-fw fa-bars"></i>
                                                            <span class="caret"></span>
                                                        </button>
                                            <ul class="dropdown-menu">
                                                <li *ngIf="col.Document_Link">
                                                    <a (click)="ShowDocument(col)">
                                                        <i class="fa fa-file-text-o"></i> Show Document
                                                    </a>
                                                </li>
                                            </ul>
                                        </div> 
                                    </td>
                                    <ng-container *ngFor="let option of DynamicHeaderforTabSecond | slice:2">
                                        <td nowrap="nowrap">{{col[option]}}</td>
                                    </ng-container>
                                    
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="paginatorright" let-state>
                                Showing {{state.first+1}} of {{(state.first+1) + state.rows}} of {{state.totalRecords}}
                            </ng-template>
                        </p-table>
                    </div>

                    </p-tabPanel>
                    <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[2]" leftIcon="glyphicon glyphicon-list-alt">
                        <div class="col-sm-3" *ngIf="DisApprovedApprovalList.length">
                            <label class="control-label">Employee Name <span class="text-danger"></span></label>
                            <p-multiSelect [options]="DistEmpNameTab3" [(ngModel)]="SelectedDistEmpNameTab3" itemSize="30" (onChange)='FilterDistTab3()' [styleClass]="'compacct-multiselect'" name="empnametab3"></p-multiSelect>
                        </div>
                        <div class="clearfix"></div>
                    <div class="no-padding">
                        <p-table [value]="DisApprovedApprovalList"
                        [paginator]="DisApprovedApprovalList.length ? true : false"
                        *ngIf='DisApprovedApprovalList.length'
                        [paginator]="true" 
                        [rows]="100" 
                        [rowHover]="true" 
                        [autoLayout]="true" 
                        sortMode="multiple" 
                        [rowsPerPageOptions]="[100,200,300]" 
                        [globalFilterFields]='DynamicHeaderforTabThird'
                            [rowHover]="true" #dt3>
                            <ng-template pTemplate="caption">
                                <div class="row">
                                    <div class="col-sm-3 pull-right" style="text-align: right">
                                        <input type="text" pInputText size="50" placeholder="Search" (input)="dt3.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                    </div>
                                </div>

                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <!-- <th style="width:5em">Action</th> -->
                                    <th nowrap="nowrap" *ngFor="let option of DynamicHeaderforTabThird | slice:2">{{option.replaceAll('_',' ')}}</th> 
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-col>
                                <tr>

                                    <!--<td>
                                         <div class="dropdown">
                                            <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                                            <i class="fa fa-fw fa-bars"></i>
                                                            <span class="caret"></span>
                                                        </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a (click)="CreateGRN(col)">
                                                            <i class="fa fa-fw fa-pencil"></i> Create GRN 
                                                    </a>
                                                </li>
                                                <li>
                                                    <a (click)="PrintPRDB(col.RDB_No)">
                                                        <i class="fa fa-fw fa-print"></i> Print
                                                    </a>
                                                </li>
                                            </ul>
                                        </div> 
                                    </td>-->
                                    <ng-container *ngFor="let option of DynamicHeaderforTabThird | slice:2">
                                        <td nowrap="nowrap">{{col[option]}}</td>
                                    </ng-container>
                                    
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="paginatorright" let-state>
                                Showing {{state.first+1}} of {{(state.first+1) + state.rows}} of {{state.totalRecords}}
                            </ng-template>
                        </p-table>
                    </div>

                    </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Approved / DisApproved Po View -->
<p-dialog header="Leave Application Details" appendTo="body" [(visible)]="DetailsModal" [modal]="true" [responsive]="true" [style]="{ width: '80%', minWidth: '300px' }" style="text-align: center;" [minY]="80" 
[maximizable]="true" [baseZIndex]="10000">
<!-- <div class="panel panel-primary" style="margin-bottom:0;border-radius: 4px;">                                   
    <div class="panel-body">
              <div class="box-body">
                <div class="form-group">
                <div class="col-sm-4">
                    <label class="control-label">Name</label>
                    <div class="label-t" >{{ShowObj.Emp_Name ? ShowObj.Emp_Name : "-"}}</div>
                </div>
                <div class="col-sm-4">
                    <label class="control-label">Department</label>
                    <div class="label-t" >{{ShowObj.Dept_Name ? ShowObj.Dept_Name : "-"}}</div>
                </div>
                <div class="col-sm-4">
                    <label class="control-label">Type of Leave</label>
                    <div class="label-t" >{{ShowObj.Leave_Type ? ShowObj.Leave_Type : "-"}}</div>
                </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label">No. of Days</label>
                        <div class="label-t" >{{ShowObj.No_Of_Days_Apply ? ShowObj.No_Of_Days_Apply : "-"}}</div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Leave Apply From</label>
                        <div class="label-t" >{{ShowObj.Apply_From_Date | date : 'dd/MMM/yyyy'}}</div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Leave Apply To</label>
                        <div class="label-t" >{{ShowObj.Apply_To_Date | date : 'dd/MMM/yyyy'}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label">Present Balance</label>
                        <div class="label-t" >{{ShowObj.Balance ? ShowObj.Balance : "-"}}</div>
                    </div>
                </div>
              </div>  
    </div> 
</div><br>  -->
<div>
<label>Application Data :</label>
<br>
   <ng-container>
    <table class="table table-bordered">
   <thead>
        <tr>
            <th>Loan Application No</th>
            <th>Employee Name</th>
            <th>Application Date</th>
            <th>Loan Amount</th>
            <th>No of EMI Applied</th>
            <th>From Month & Date</th>
            <th>Remarks</th>
        </tr>
   </thead>
   <tbody>
        <tr *ngFor="let col of LoanAppDatalist">
            <td>{{col.Loan_ID}}</td>
            <td>{{col.Emp_Name}}</td>
            <td>{{col.Application_Date | date : 'dd/MMM/yyyy'}}</td>
            <td>{{col.Loan_Amount}}</td>
            <td>{{col.No_Of_EMI ? col.No_Of_EMI : '-'}}</td>
            <td>{{col.EMI_Start_Month | date : 'dd/MMM/yyyy'}}</td>
            <td>{{col.Remarks ? col.Remarks : '-'}}</td>
        </tr>
   </tbody>
 </table>
</ng-container> 
</div>  
<div>
    <label>Current Ongoing Loan :</label>
    <br>
    <ng-container>
        <table class="table table-bordered">
       <thead>
            <tr>
                <th>Loan Application No</th>
                <th>Employee Name</th>
                <th>Sanction Date</th>
                <th>Sanction Amount</th>
                <th>Sanction EMI Nos.</th>
                <th>Sanction EMI Amount</th>
                <th>Pending EMI</th>
                <th>Remarks</th>
            </tr>
       </thead>
       <tbody>
            <tr *ngFor="let col of OngoingLoanlist">
                <td>{{col.Loan_ID}}</td>
                <td>{{col.Emp_Name}}</td>
                <td>{{col.Sanction_Date | date : 'dd/MMM/yyyy'}}</td>
                <td>{{col.Sanction_Loan_Amount}}</td>
                <td>{{col.No_Of_EMI_Sanctioned ? col.No_Of_EMI_Sanctioned : '-'}}</td>
                <td>{{col.EMI_Amount_Sanctioned}}</td>
                <td>{{col.Pending_EMI}}</td>
                <td>{{col.Remarks ? col.Remarks : '-'}}</td>
            </tr>
       </tbody>
     </table>
   </ng-container>  
</div>
<br>
<form name="ApproveForm" #ApproveForm="ngForm" novalidate>
<div class="form-group">
    <div class="col-sm-3"> 
        <label class="control-label">Sanction Date  <sup class="text-danger">*</sup></label>
        <ejs-datepicker name="sanctiondate" #sanctiondate="ngModel" [format]="'dd/MMM/yyyy'" [(ngModel)]='Sanction_Date'
        [ngClass]="{'clearance': ApproveFormSubmit && sanctiondate?.errors?.required}" [required]="true"></ejs-datepicker>
    </div>
    <div class="col-sm-3">
        <label class="control-label">Sanction Loan Amount  <sup class="text-danger">*</sup></label>
        <input name="sloanamt" #sloanamt="ngModel" CompacctDigitonly="true" [(ngModel)]='Sanction_Loan_Amount' class="form-control" (ngModelChange)="CalculateEmi()"
        [ngClass]="{'clearance': ApproveFormSubmit && sloanamt?.errors?.required}" required/>
    </div> 
    <div class="col-sm-3">
        <label class="control-label">Sanction No. of EMI  <sup class="text-danger">*</sup></label>
        <input name="snoemi" #snoemi="ngModel" CompacctDigitonly="true" [(ngModel)]='Sanction_EMI' class="form-control" (ngModelChange)="CalculateEmi()"
        [ngClass]="{'clearance': ApproveFormSubmit && snoemi?.errors?.required}" required/>
    </div> 
    <div class="col-sm-3">
        <label class="control-label">EMI Amount  <sup class="text-danger">*</sup></label>
        <input name="emiamt" #control="ngModel" CompacctDigitonly="true" [(ngModel)]='EMI_Amount' class="form-control" 
        [ngClass]="{'clearance': ApproveFormSubmit && control?.errors?.required}" required/>
    </div> 
</div>
<div class="form-group">
    <div class="col-sm-3">
        <label class="control-label">EMI Stars From <sup class="text-danger">*</sup></label>
        <ejs-datepicker name="emistartdate" #emistartdate="ngModel" [format]="'dd/MMM/yyyy'" [(ngModel)]='EMI_Start_From_Date_Month'
        [ngClass]="{'clearance': ApproveFormSubmit && emistartdate?.errors?.required}" [required]="true"></ejs-datepicker>
    </div>
    <div class="col-sm-3" *ngIf="Bussidisabled && !Reportdisabled">
        <label class="control-label">Remarks of Approval 2  <sup class="text-danger">*</sup></label>
        <input type="text" name="BMremarks" #BMremarks="ngModel"  [(ngModel)]='Approved_Note_Business_Manager' class="form-control" 
        [ngClass]="{'clearance': ApproveFormSubmit && BMremarks?.errors?.required}" required/>
    </div>
    <div class="col-sm-3" *ngIf="Reportdisabled && !Bussidisabled">
        <label class="control-label">Remarks of Approval 1  <sup class="text-danger">*</sup></label>
        <input type="text" name="RMremarks" #RMremarks="ngModel" [(ngModel)]='Approved_Note_Reporting_Manager' class="form-control" 
        [ngClass]="{'clearance': ApproveFormSubmit && RMremarks?.errors?.required}" required/>
    </div>
    <div class="col-sm-3">
        <label class="control-label">A/C Voucher No </label>
        <input name="acvouno" #acvouno="ngModel" [(ngModel)]='Ac_Voucher_No' class="form-control" 
        [ngClass]="{'clearance': ApproveFormSubmit && acvouno?.errors?.required}" />
    </div> 
    <div class="col-sm-4" >
        <label class="control-label">Upload Document</label>
        <p-fileUpload #fileInput 
                    name="aFile566" 
                    accept=".pdf, .png, .jpg, .jpeg, .xls, .xlsx" 
                    [customUpload]="true" 
                    [chooseLabel]="'Browse'" 
                    [showUploadButton]="false" 
                    [disabled]="documenturllink ? true : false"
                    (onSelect)="handleFileSelect($event)">
        </p-fileUpload>
    </div>
</div>
</form>
    <p-footer> 
        <button type="button" (click)="disapprove(ApproveForm.form.valid)" class="btn btn-danger"><i class="pi pi-times"></i>DisApproved</button>
        <button type="button"  (click)="approve(ApproveForm.form.valid)" class="btn btn-success"><i class=" pi pi-check"></i>Approved</button>    
    </p-footer>
</p-dialog>

