<p-toast key="compacct-toast" baseZIndex="99999"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
           <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>


<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                    <p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">
                        <p-tabPanel headerStyleClass="compacct-tabs" header="Appointment"
                            leftIcon="glyphicon glyphicon-user">

                            <form name="DoctorsAppointmentNewSpecialTest" #DoctorsAppointmentNewSpecialTestForm="ngForm" novalidate>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="control-label">Name<sup class="text-danger">*</sup></label>
                                        <input class="form-control"
                                        name="Name"
                                        #Name="ngModel" 
                                        [(ngModel)]="ObjSpecialTest.Name"
                                        placeholder="Write Your Name"
                                        disabled
                                        > 
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">Patient ID<sup class="text-danger">*</sup></label>
                                        <input class="form-control"
                                        name="PatientID"
                                        #PatientID="ngModel"
                                        [(ngModel)]="ObjSpecialTest.PatientID" 
                                        CompacctDigitonly="true"
                                        placeholder="Type Patient ID"
                                        disabled
                                        > 
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">Sex<sup class="text-danger">*</sup></label>
                                        <select class="form-control"
                                        name="Sex"
                                        #Sex="ngModel"
                                        [(ngModel)]="ObjSpecialTest.Sex"
                                        disabled
                                         >
                                         <option  [ngValue]="undefined">Select</option>
                                         <option  *ngFor="let option of GenderList" value="{{option}}">
                                             {{option}}
                                         </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">Age<sup class="text-danger">*</sup></label>
                                        <input class="form-control"
                                        name="Age"
                                        #Age="ngModel"
                                        [(ngModel)]="ObjSpecialTest.Age" 
                                        CompacctDigitonly="true"
                                        placeholder="Put Your Age"
                                        disabled
                                        > 
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <label class="control-label">Date<sup class="text-danger">*</sup></label>
                                        <div class="label-t">{{Appo_Date ? (Appo_Date | date: "dd/MMM/yyyy") : '-'}}</div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">Reffered By<sup class="text-danger">*</sup></label>
                                        <input class="form-control"
                                        name="RefferedBy"
                                        #RefferedBy="ngModel"
                                        [(ngModel)]="ObjSpecialTest.RefferedBy" 
                                        placeholder="Type Reffered By"
                                        disabled
                                        > 
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">Centre<sup class="text-danger">*</sup></label>                                 
                                        <p-dropdown [options]="CentreList"
                                                name="Centre" 
                                                #Centre="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Centre"
                                                [showClear]="true" 
                                                [emptyFilterMessage]="' No Centre Found'" 
                                                [filter]="true" filterBy="label,value.name" 
                                                [resetFilterOnHide]="true" 
                                                [placeholder]="'Select Centre'" 
                                                [virtualScroll]="true"
                                                itemSize="30"
                                                [required]="true"
                                                disabled> 
                                        </p-dropdown>
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                                <hr class="box boxboxDivide-primary">

                                <div class="row">
                                    <label class="labelSISI"> 1. SHORT INCREMENT SENSITIVITY INDEX (SISI)</label>
                                    <table style="width:100%">
                                        <tr>
                                            <th class="table-header">FREQUENCY</th>
                                            <th class="table-header">RIGHT EAR (In %)</th>
                                            <th class="table-header">LEFT EAR (In %)</th>
                                        </tr>
                                        <tr>
                                            <th style="width: 200px;">500Hz</th>
                                            <td>
                                                <input class="form-control"
                                                name="Sisi_Right_Ear_500Hz"
                                                #Sisi_Right_Ear_500Hz="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Sisi_Right_Ear_500Hz"
                                                placeholder="Write Here..."
                                                > 
                                            </td>
                                            <td>
                                                <input class="form-control"
                                                name="Sisi_Left_Ear_500Hz"
                                                #Sisi_Left_Ear_500Hz="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Sisi_Left_Ear_500Hz"
                                                placeholder="Write Here..."
                                                > 
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="width: 200px;">1000Hz</th>
                                            <td>
                                                <input class="form-control"
                                                name="Sisi_Right_Ear_1000Hz"
                                                #Sisi_Right_Ear_1000Hz="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Sisi_Right_Ear_1000Hz"
                                                placeholder="Write Here..."
                                                > 
                                            </td>
                                            <td>
                                                <input class="form-control"
                                                name="Sisi_Left_Ear_1000Hz"
                                                #Sisi_Left_Ear_1000Hz="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Sisi_Left_Ear_1000Hz"
                                                placeholder="Write Here..."
                                                > 
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="width: 200px;">2000Hz</th>
                                            <td>
                                                <input class="form-control"
                                                name="Sisi_Right_Ear_2000Hz"
                                                #Sisi_Right_Ear_2000Hz="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Sisi_Right_Ear_2000Hz"
                                                placeholder="Write Here..."
                                                > 
                                            </td>
                                            <td>
                                                <input class="form-control"
                                                name="Sisi_Left_Ear_2000Hz"
                                                #Sisi_Left_Ear_2000Hz="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Sisi_Left_Ear_2000Hz"
                                                placeholder="Write Here..."
                                                > 
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="width: 200px;">4000Hz</th>
                                            <td>
                                                <input class="form-control"
                                                name="Sisi_Right_Ear_4000Hz"
                                                #Sisi_Right_Ear_4000Hz="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Sisi_Right_Ear_4000Hz"
                                                placeholder="Write Here..."
                                                > 
                                            </td>
                                            <td>
                                                <input class="form-control"
                                                name="Sisi_Left_Ear_4000Hz"
                                                #Sisi_Left_Ear_4000Hz="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Sisi_Left_Ear_4000Hz"
                                                placeholder="Write Here..."
                                                > 
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="row">
                                    <table style="width:100%">
                                        <tr>
                                            <th colspan="2" class="table-header">INTERPRETATION (SISI)</th>
                                        </tr>
                                        <tr>
                                            <th style="width: 100px;">Right Ear</th>
                                            <td>
                                                <select class="form-control"
                                                name="Sisi_Right_Ear_INTERPRETATION"
                                                #Sisi_Right_Ear_INTERPRETATION="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Sisi_Right_Ear_INTERPRETATION"
                                                >
                                                 <option  [ngValue]="undefined">Select</option>
                                                 <option  *ngFor="let option of SisiList" value="{{option}}">
                                                     {{option}}
                                                 </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th  style="width: 100px;">Left Ear</th>
                                            <td>
                                                <select class="form-control"
                                                name="Sisi_Left_Ear_INTERPRETATION"
                                                #Sisi_Left_Ear_INTERPRETATION="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Sisi_Left_Ear_INTERPRETATION"
                                                >
                                                 <option  [ngValue]="undefined">Select</option>
                                                 <option  *ngFor="let option of SisiList" value="{{option}}">
                                                     {{option}}
                                                 </option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <hr class="box boxboxDivide-primary">

                                <div class="row">
                                    <label class="labelSISI"> 2. TONE DECAY TEST (TDT)</label>
                                    <table style="width:100%">
                                        <tr>
                                            <th class="table-header">FREQUENCY</th>
                                            <th class="table-header">RIGHT EAR</th>
                                            <th class="table-header">LEFT EAR</th>
                                        </tr>
                                        <tr>
                                            <th style="width: 200px;">500Hz</th>
                                            <td>
                                                <select class="form-control"
                                                name="TDT_Right_Ear_500Hz"
                                                #TDT_Right_Ear_500Hz="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.TDT_Right_Ear_500Hz"
                                                >
                                                 <option  [ngValue]="undefined">Select</option>
                                                 <option  *ngFor="let option of VeList" value="{{option}}">
                                                     {{option}}
                                                 </option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control"
                                                name="TDT_Left_Ear_500Hz"
                                                #TDT_Left_Ear_500Hz="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.TDT_Left_Ear_500Hz"
                                                >
                                                 <option  [ngValue]="undefined">Select</option>
                                                 <option  *ngFor="let option of VeList" value="{{option}}">
                                                     {{option}}
                                                 </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="width: 200px;">1000Hz</th>
                                            <td>
                                                <select class="form-control"
                                                name="TDT_Right_Ear_1000Hz"
                                                #TDT_Right_Ear_1000Hz="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.TDT_Right_Ear_1000Hz"
                                                >
                                                 <option  [ngValue]="undefined">Select</option>
                                                 <option  *ngFor="let option of VeList" value="{{option}}">
                                                     {{option}}
                                                 </option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control"
                                                name="TDT_Left_Ear_1000Hz"
                                                #TDT_Left_Ear_1000Hz="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.TDT_Left_Ear_1000Hz"
                                                >
                                                 <option  [ngValue]="undefined">Select</option>
                                                 <option  *ngFor="let option of VeList" value="{{option}}">
                                                     {{option}}
                                                 </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="width: 200px;">2000Hz</th>
                                            <td>
                                                <select class="form-control"
                                                name="TDT_Right_Ear_2000Hz"
                                                #TDT_Right_Ear_2000Hz="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.TDT_Right_Ear_2000Hz"
                                                >
                                                 <option  [ngValue]="undefined">Select</option>
                                                 <option  *ngFor="let option of VeList" value="{{option}}">
                                                     {{option}}
                                                 </option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control"
                                                name="TDT_Left_Ear_2000Hz"
                                                #TDT_Left_Ear_2000Hz="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.TDT_Left_Ear_2000Hz"
                                                >
                                                 <option  [ngValue]="undefined">Select</option>
                                                 <option  *ngFor="let option of VeList" value="{{option}}">
                                                     {{option}}
                                                 </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="width: 200px;">4000Hz</th>
                                            <td>
                                                <select class="form-control"
                                                name="TDT_Right_Ear_4000Hz"
                                                #TDT_Right_Ear_4000Hz="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.TDT_Right_Ear_4000Hz"
                                                >
                                                 <option  [ngValue]="undefined">Select</option>
                                                 <option  *ngFor="let option of VeList" value="{{option}}">
                                                     {{option}}
                                                 </option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control"
                                                name="TDT_Left_Ear_4000Hz"
                                                #TDT_Left_Ear_4000Hz="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.TDT_Left_Ear_4000Hz"
                                                >
                                                 <option  [ngValue]="undefined">Select</option>
                                                 <option  *ngFor="let option of VeList" value="{{option}}">
                                                     {{option}}
                                                 </option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="row">
                                    <table style="width:100%">
                                        <tr>
                                            <th colspan="2" class="table-header">INTERPRETATION (TDT)</th>
                                        </tr>
                                        <tr>
                                            <th style="width: 100px;">Right Ear</th>
                                            <td>
                                                <select class="form-control"
                                                name="TDT_Right_Ear_INTERPRETATION"
                                                #TDT_Right_Ear_INTERPRETATION="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.TDT_Right_Ear_INTERPRETATION"
                                                >
                                                 <option  [ngValue]="undefined">Select</option>
                                                 <option  *ngFor="let option of TdtList" value="{{option}}">
                                                     {{option}}
                                                 </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th  style="width: 100px;">Left Ear</th>
                                            <td>
                                                <select class="form-control"
                                                name="TDT_Left_Ear_INTERPRETATION"
                                                #TDT_Left_Ear_INTERPRETATION="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.TDT_Left_Ear_INTERPRETATION"
                                                >
                                                 <option  [ngValue]="undefined">Select</option>
                                                 <option  *ngFor="let option of TdtList" value="{{option}}">
                                                     {{option}}
                                                 </option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <hr class="box boxboxDivide-primary">

                                <div class="row">
                                    <label class="labelSISI"> 3. SPEECH IN NOISE TEST (SPIN)</label>
                                    <table style="width:100%">
                                        <tr>
                                            <th class="table-header">Ear</th>
                                            <th class="table-header">SRT/SDT</th>
                                            <th class="table-header">SIS/SDS</th>
                                            <th class="table-header">SPIN % (0dBSNR)</th>
                                        </tr>
                                        <tr>
                                            <th style="width: 200px;">RIGHT EAR</th>
                                            <td>
                                                <input class="form-control"
                                                name="Spin_Right_Ear_SRT_SDT"
                                                #Spin_Right_Ear_SRT_SDT="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Spin_Right_Ear_SRT_SDT"
                                                placeholder="Write Here..."
                                                > 
                                            </td>
                                            <td>
                                                <input class="form-control"
                                                name="Spin_Right_Ear_SIS_SDS"
                                                #Spin_Right_Ear_SIS_SDS="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Spin_Right_Ear_SIS_SDS"
                                                placeholder="Write Here..."
                                                > 
                                            </td>
                                            <td>
                                                <input class="form-control"
                                                name="Spin_Right_Ear_SPIN"
                                                #Spin_Right_Ear_SPIN="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Spin_Right_Ear_SPIN"
                                                placeholder="Write Here..."
                                                > 
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="width: 200px;">LEFT EAR</th>
                                            <td>
                                                <input class="form-control"
                                                name="Spin_Left_Ear_SRT_SDT"
                                                #Spin_Left_Ear_SRT_SDT="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Spin_Left_Ear_SRT_SDT"
                                                placeholder="Write Here..."
                                                > 
                                            </td>
                                            <td>
                                                <input class="form-control"
                                                name="Spin_Left_Ear_SIS_SDS"
                                                #Spin_Left_Ear_SIS_SDS="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Spin_Left_Ear_SIS_SDS"
                                                placeholder="Write Here..."
                                                > 
                                            </td>
                                            <td>
                                                <input class="form-control"
                                                name="Spin_Left_Ear_SPIN"
                                                #Spin_Left_Ear_SPIN="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Spin_Left_Ear_SPIN"
                                                placeholder="Write Here..."
                                                > 
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="row">
                                    <table style="width:100%">
                                        <tr>
                                            <th colspan="2" class="table-header">INTERPRETATION (SPIN)</th>
                                        </tr>
                                        <tr>
                                            <th style="width: 100px;">Right Ear</th>
                                            <td>
                                                <select class="form-control"
                                                name="Spin_Right_Ear_INTERPRETATION"
                                                #Spin_Right_Ear_INTERPRETATION="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Spin_Right_Ear_INTERPRETATION"
                                                >
                                                 <option  [ngValue]="undefined">Select</option>
                                                 <option  *ngFor="let option of SpinList" value="{{option}}">
                                                     {{option}}
                                                 </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th  style="width: 100px;">Left Ear</th>
                                            <td>
                                                <select class="form-control"
                                                name="Spin_Left_Ear_INTERPRETATION"
                                                #Spin_Left_Ear_INTERPRETATION="ngModel" 
                                                [(ngModel)]="ObjSpecialTest.Spin_Left_Ear_INTERPRETATION"
                                                >
                                                 <option  [ngValue]="undefined">Select</option>
                                                 <option  *ngFor="let option of SpinList" value="{{option}}">
                                                     {{option}}
                                                 </option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <hr class="box boxboxDivide-primary">

                                <div class="row mrg"> 
                                    <label class="control-label">RECOMMENDATION:</label>
                                    <br>
                                    <p-checkbox 
                                    label="Consult Back to Doctor"
                                    value="Consult Back to Doctor"
                                    name="RECOMMENDATION"
                                    [(ngModel)]="CheckBoxRECOMMENDATION"
                                    inputId="RC1">
                                    </p-checkbox>
                                    <br>
                                    <p-checkbox 
                                    label="To be Correlated with Clinical Findings" 
                                    value="To be Correlated with Clinical Findings" 
                                    name="RECOMMENDATION"
                                    [(ngModel)]="CheckBoxRECOMMENDATION"
                                    inputId="RC2">
                                    </p-checkbox>
                                    <br>
                                    <p-checkbox 
                                    label="Counselling"
                                    value="Counselling"
                                    name="RECOMMENDATION"
                                    [(ngModel)]="CheckBoxRECOMMENDATION"
                                    inputId="RC3">
                                    </p-checkbox>
                                    <br>
                                    <p-checkbox 
                                    label="Follow Up"
                                    value="Follow Up"
                                    name="RECOMMENDATION"
                                    [(ngModel)]="CheckBoxRECOMMENDATION"
                                    inputId="RC4">
                                    </p-checkbox>
                                </div>
                                <hr class="box boxboxDivide-primary">

                                <div class="form-group">
                                    <update-consultancy #consultancy (saveData)="updateConsultancysave($event)"></update-consultancy>
                                </div>

                                <div class="form-group" style="padding: 1em;">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-2">
                                        <button *ngIf="buttonValid" class="btn btn-primary pull-right" (click)="saveDocAppo(DoctorsAppointmentNewSpecialTestForm.form.valid)"  id="load"   [disabled]="">
                                            <p-progressSpinner *ngIf="Spinner"[style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                                          <span *ngIf="!Spinner" class="glyphicon glyphicon-save">{{buttonname}}</span>
                                        </button>
                                    </div> 
                                </div> 

                            </form>

                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>


