<p-toast key="compacct-toast" baseZIndex="99999"></p-toast>
<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="form-horizontal">
        <div class="box-body">
          <p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">
            <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[0]" leftIcon="glyphicon glyphicon-list-alt">
               <p-table [value]="AllData" [paginator]="AllData.length ? true : false" [rows]="10"
                  [rowHover]="true" [autoLayout]="true" sortMode="multiple"
                  [rowsPerPageOptions]="[10,20,30]" [globalFilterFields]="BrowseSerchDym"
                  [rowHover]="true" #dt>
                  <ng-template pTemplate="caption">
                    <div class="row">
                       <div class="col-sm-3 pull-right" style="text-align: right">
                         <input type="text" pInputText size="50" placeholder="Search"
                             (input)="dt.filterGlobal($event.target.value, 'contains')"
                             class="searchInput form-control">
                       </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                       <th style="width:5em">Action</th>
                       <th>Employee Name</th>
                       <th>Employee Code</th>
                       <th>Date Of Joining</th>
                       <th>Designation</th>
                       <th>JOH Values Rating</th>
                       <th>Business Goals Rating</th>
                       <th>Final Rating</th>
                       <th>Reporting Manager</th>
                       <th>Review Period</th>
                       <th>Reviewer</th>
                       <th>Appraisee Comments</th>
                       <th>Appraiser’s Remarks</th>
                       <th>Reviewer's Remarks</th>
                       <th>Last Annual CTC</th>
                       <th>Revised Annual CTC</th>
                       <th>Last In hand salary (Monthly)</th>
                       <th>In hand salary after increment (Monthly)</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-col>
                    <tr>
                        <td>
                           <div class="dropdown">
                              <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                          <i class="fa fa-fw fa-bars"></i>
                                          <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                  <li>
                                      <a (click)="Edit(col)">
                                          <i class="fa fa-fw fa-edit"></i>Edit
                                      </a>
                                  </li>
                              </ul>
                          </div>
                        </td>
                        <td>{{col.Emp_Name}}</td>
                        <td>{{col.Emp_Code}}</td>
                        <td>{{col.DOJ|date:"dd/MMM/yyyy"}}</td>
                        <td>{{col.Designation}}</td>
                        <td>{{col.JOH_Values_Rating}}</td>
                        <td>{{col.Business_Goals_Rating}}</td>
                        <td>{{col.Final_Rating}}</td>
                        <td>{{col.Reporting_Manager}}</td>
                        <td>{{col.Review_Period}}</td>
                        <td>{{col.Reviewer}}</td>
                        <td>{{col.Appraisee_Comments}}</td>
                        <td>{{col.Appraiser_Remarks ? col.Appraiser_Remarks : "-"}}</td>
                        <td>{{col.Reviewer_Remarks ? col.Reviewer_Remarks : "-"}}</td>
                        <td>{{col.Last_Annual_CTC}}</td>
                        <td>{{col.Revised_Annual_CTC}}</td>
                        <td>{{col.Last_In_hand_salary_Mothly}}</td>
                        <td>{{col.In_hand_salary_after_increment_Monthly}}</td>
                    </tr>
                  </ng-template>
               </p-table>
            </p-tabPanel>
            <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[1]" leftIcon="glyphicon glyphicon-floppy-save">
               <form name="userForm" #userForm="ngForm" novalidate>
                   <div class="form-group">
                       <div class="col-sm-4">
                          <label class="control-label">Employee<sup class="text-danger">*</sup></label>
                          <p-dropdown [options]="EmplyList" name="Employee1" #Employee1="ngModel"
                             [(ngModel)]="ObjAppraisal.Emp_ID" [showClear]="true"
                             [emptyFilterMessage]="'No Employee Found'" [filter]="true"
                             filterBy="label,value.name" [placeholder]="'Select Employee '"
                             (onChange)="getCodeAll()" [virtualScroll]="true" itemSize="30"
                             [resetFilterOnHide]="true"
                             [styleClass]="userFormSubmitted &&  Employee1.errors?.required ? 'clearance' :''"
                             [disabled]="Edit_Emp" required>
                          </p-dropdown>
                       </div>
                       <div class="col-sm-4">
                         <label class="control-label">Employee Code<sup class="text-danger"></sup></label>
                         <div class="label-t">{{ObjAppraisal.Emp_Code ? ObjAppraisal.Emp_Code : "-"}}
                         </div>
                       </div>
                       <div class="col-sm-4">
                          <label class="control-label">Date Of Joining</label>
                          <div class="input-group date">
                             <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                             </div>
                             <div class="label-t">{{ObjAppraisal.DOJ ? (ObjAppraisal.DOJ|date:"dd/MMM/yyyy") : '-'}}</div>
                          </div>
                       </div>
                   </div>
                   <div class="form-group">
                      <div class="col-sm-4">
                        <label class="control-label">Designation</label>
                        <div class="label-t">{{ObjAppraisal.Designation ? ObjAppraisal.Designation : "-"}}</div>
                      </div>
                      <div class="col-sm-4">
                         <label class="control-label">Review Period<sup class="text-danger">*</sup></label>
                         <p-dropdown [options]="revYerList" name="yearList" #yearList="ngModel"
                            [(ngModel)]="ObjAppraisal.Review_Period" [showClear]="true"
                            [emptyFilterMessage]="'No Year Found'" [filter]="true"
                            filterBy="label,value.name" [placeholder]="'Select Year '"
                            [virtualScroll]="true" itemSize="30"  [resetFilterOnHide]="true"
                            [styleClass]="userFormSubmitted &&  yearList.errors?.required ? 'clearance' :''"
                            required>
                         </p-dropdown>
                      </div>
                      <div class="col-sm-4">
                        <label class="control-label">Reviewer<sup class="text-danger">*</sup></label>
                        <p-dropdown [options]="ReviewerList" name="revList" #revList="ngModel"
                           [(ngModel)]="ObjAppraisal.Reviewer" [showClear]="true"
                           [emptyFilterMessage]="'No Reviewer Found'" [filter]="true"
                           filterBy="label,value.name" [placeholder]="'Select Reviewer '"
                           [virtualScroll]="true" itemSize="30"  [resetFilterOnHide]="true"
                           [styleClass]="userFormSubmitted &&  revList.errors?.required ? 'clearance' :''"
                           required>
                        </p-dropdown>
                      </div>
                   </div>
                   <div class="form-group">
                      <div class="col-sm-4">
                         <label class="control-label">Reporting Manager<sup class="text-danger">*</sup></label>
                         <p-dropdown [options]="RepManagerList" name="repManager" #repManager="ngModel"
                            [(ngModel)]="ObjAppraisal.Reporting_Manager" [showClear]="true"
                            [emptyFilterMessage]="'No Reporting Manager Found'" [filter]="true"
                            filterBy="label,value.name" [placeholder]="'Select Reporting Manager '"
                            [virtualScroll]="true" itemSize="30"  [resetFilterOnHide]="true"
                            [styleClass]="userFormSubmitted &&  repManager.errors?.required ? 'clearance' :''"
                            required>
                         </p-dropdown>
                      </div>
                      <div class="col-sm-4">
                         <label class="control-label">JOH Values Rating<sup class="text-danger">*</sup></label>
                         <input class="form-control" name="ValusRating" #ValusRating="ngModel"
                            [(ngModel)]="ObjAppraisal.JOH_Values_Rating" placeholder="JOH Values Rating"
                            CompacctDigitonly="true"
                            [ngClass]="{'clearance': userFormSubmitted && ValusRating?.errors?.required}"
                            required>
                      </div>
                      <div class="col-sm-4">
                        <label class="control-label">Business Goals Rating<sup class="text-danger">*</sup></label>
                        <input class="form-control" name="BusinessRating" #BusinessRating="ngModel"
                          [(ngModel)]="ObjAppraisal.Business_Goals_Rating" placeholder="Business Goals Rating"
                          CompacctDigitonly="true"
                          [ngClass]="{'clearance': userFormSubmitted && BusinessRating?.errors?.required}"
                          required>
                      </div>
                   </div>
                   <div class="form-group">
                      <div class="col-sm-4">
                         <label class="control-label">Final Rating<sup class="text-danger">*</sup></label>
                         <input class="form-control" name="Final_Rating" #Final_Rating="ngModel"
                            [(ngModel)]="ObjAppraisal.Final_Rating" placeholder="Final Rating"
                            CompacctDigitonly="true"
                            [ngClass]="{'clearance': userFormSubmitted && Final_Rating?.errors?.required}"
                            required>
                      </div>
                      <div class="col-sm-4">
                        <label class="control-label">Appraisee Comments<sup class="text-danger">*</sup></label>
                        <input class="form-control" name="Appraisee" #Appraisee="ngModel"
                            [(ngModel)]="ObjAppraisal.Appraisee_Comments"
                            placeholder="Appraisee Comments"
                            [ngClass]="{'clearance': userFormSubmitted && Appraisee?.errors?.required}"
                            required>
                      </div>
                      <div class="col-sm-4">
                         <label class="control-label">Appraiser’s Remarks</label>
                         <textarea class="form-control" name="Appraisers" #Appraisers="ngModel"
                            [(ngModel)]="ObjAppraisal.Appraiser_Remarks"
                            placeholder="Appraiser’s Remarks"></textarea>
                      </div>
                   </div>
                   <div class="form-group">
                      <div class="col-sm-4">
                        <label class="control-label">Reviewer's Remarks</label>
                        <textarea class="form-control" name="Reviewers" #Reviewers="ngModel"
                            [(ngModel)]="ObjAppraisal.Reviewer_Remarks"
                            placeholder="Reviewer's Remarks"></textarea>
                      </div>
                      <div class="col-sm-4">
                        <label class="control-label">Last Monthly CTC<sup class="text-danger">*</sup></label>
                        <input class="form-control" name="Last_Annual" #Last_Annual="ngModel"
                            CompacctDigitonly="true" [(ngModel)]="ObjAppraisal.Last_Annual_CTC"
                            placeholder="Last Annual CTC"
                            [ngClass]="{'clearance': userFormSubmitted && Last_Annual?.errors?.required}"
                            required>
                      </div>
                      <div class="col-sm-4">
                        <label class="control-label">Revised Monthly CTC<sup class="text-danger">*</sup></label>
                        <input class="form-control" name="Revised_Annual" #Revised_Annual="ngModel"
                            CompacctDigitonly="true" [(ngModel)]="ObjAppraisal.Revised_Annual_CTC"
                            placeholder="Revised Annual CTC"
                            [ngClass]="{'clearance': userFormSubmitted && Revised_Annual?.errors?.required}"
                            required>
                      </div>
                   </div>
                   <div class="form-group">
                      <div class="col-sm-4">
                        <label class="control-label">Last In hand salary (Monthly)<sup class="text-danger">*</sup></label>
                        <input class="form-control" name="Last_In_hand" #Last_In_hand="ngModel"
                            CompacctDigitonly="true"
                            [(ngModel)]="ObjAppraisal.Last_In_hand_salary_Mothly"
                            placeholder="Last In hand salary (Monthly)"
                            [ngClass]="{'clearance': userFormSubmitted && Last_In_hand?.errors?.required}"
                            required>
                      </div>
                      <div class="col-sm-4">
                         <label class="control-label">In hand salary after increment (Monthly)<sup class="text-danger">*</sup></label>
                         <input class="form-control" name="In_hand_salary" #In_hand_salary="ngModel"
                             CompacctDigitonly="true"
                             [(ngModel)]="ObjAppraisal.In_hand_salary_after_increment_Monthly"
                             placeholder="In hand salary after increment (Monthly)"
                             [ngClass]="{'clearance': userFormSubmitted && In_hand_salary?.errors?.required}"
                             required>
                      </div>
                      <div class="col-sm-4">
                        <label class="control-label">Upload File</label>
                        <span class="btn btn-xs btn-danger pull-right" (click)="ClearUploadInpt(UploadFile)"
                          *ngIf="file"><i class="fa fa-close"></i></span>
                        <div>
                          <p-fileUpload mode="basic" name="filedoc" #UploadFile chooseLabel="BROWSE" uploadLabel="UPLOAD"
                            accept="image/*" [customUpload]="true" (onSelect)="fileSelect()"
                            *ngIf="upload" (uploadHandler)="onBasicUpload(UploadFile)">
                          </p-fileUpload>
                          <button name="pan" *ngIf="!upload" pButton pRipple type="button"
                            label="Show Document" (click)="showDoc()"></button>
                        </div>
                      </div>
                   </div>
                   <div class="form-group">
                     <button  class="btn btn-primary pull-right" (click)="saveData(userForm.form.valid)" id="load">
                         <p-progressSpinner *ngIf="Spinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                         <span *ngIf="!Spinner" class="glyphicon glyphicon-save"></span>{{buttonname}}
                       </button>
                 </div>
               </form>
            </p-tabPanel>
         </p-tabView>   
        </div>
      </div>
    </div>
  </div>
</div>