.box-body {
    padding-top: 10px !important;
    padding-left: 10px !important;
}
.createPatient {
    padding: 0 5px !important;
    border-radius: 3px !important;
    margin-top: 5px !important;
  }
  .control-section{
      margin-top:2em;
  }
  div.label-t {
    padding: 6px 12px;
    background: rgb(206, 216, 216);
  }
  .custombutton {
    margin-top: 25px;
  }
  .custombutton2 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .e-gantt .e-gantt-chart .e-gantt-parent-progressbar-inner-div{
    width: auto !important;
  }
  .e-gantt .e-gantt-chart .e-gantt-child-progressbar-inner-div{
    width: auto !important;
  }
  #createTask {
    background: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    padding: 0 !important;
    height: 30px !important;
    min-height: auto;
    line-height: 20px !important;
}
#createTask > span.e-btn-icon.e-add.e-icons{
  color: white !important;
  font-weight: 600;
}
#createTask:hover{
  background: rgb(31, 109, 255);
  border: 1px solid rgb(31, 109, 255);

}
div.table-responsive.table-id>p-table>div>div {
  width: auto !important;
}
/* .e-altrow, tr.e-chart-row:nth-child(even)  {
  background-color: #f2f2f2;
  } */