<p-toast key="compacct-toast" baseZIndex="9999999999"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" baseZIndex="999999999">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <h5>{{message.detail}}</h5>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                    <p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[0]" leftIcon="glyphicon glyphicon-list-alt">
                            <form name="searchForm" #searchForm="ngForm" novalidate>
                                <div class="form-group">
                                     <div class="col-sm-3" >
                                        <label class="control-label">Status<sup class="text-danger">*</sup></label>
                                        <select class="form-control" 
                                        name="Status_ID" 
                                        #Status_ID="ngModel" 
                                        [(ngModel)]="Objsearch.Status_ID"
                                        [ngClass]="{'clearance': searchFormSubmit && Status_ID?.errors?.required }"
                                        required >
                                            <option  [ngValue]="undefined">Select</option>
                                            <option  *ngFor="let option of StatusList" [ngValue]="option.Status_ID">
                                                {{option.Status_name}}
                                            </option>
                                            </select>
                                    </div>
                                    <div class="col-sm-2" >
                                        <button class="btn btn-primary custombutton1" data-toggle="modal" (click)="getAllData(searchForm.form.valid)" id="load2" [disabled]="seachSpinner">
                                            <p-progressSpinner *ngIf="seachSpinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                                            <span *ngIf="!seachSpinner" class="glyphicon glyphicon-search"></span>&nbsp;Search
                                         </button>
                                    </div>
                                    </div>
                            </form>

                            <div class="table-responsive no-padding">
                                    <p-table [value]="getAllTicket" 
                                    [paginator]="getAllTicket.length ? true : false" 
                                    [rows]="10" [rowHover]="true" [autoLayout]="true" 
                                    sortMode="multiple" [rowsPerPageOptions]="[10,20,30]"
                                     [globalFilterFields]="getAllDataListHeader"
                                        [rowHover]="true" #dt>
                                        <ng-template pTemplate="caption">
                                            <div class="row">
                                                <div class="col-sm-3 pull-right" style="text-align: right">
                                                    <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                                </div>
                                            </div>

                                        </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th style="width:5em">Action</th>
                                                <th>Docket No</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                                <th>Assigned To</th>
                                                <th>Project</th>
                                                <th>Site</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-col>
                                            <tr>

                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                                                            <i class="fa fa-fw fa-bars"></i>
                                                                            <span class="caret"></span>
                                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <a (click)="viewTicket(col)">
                                                                    <i class="fa fa-folder-open"></i> View 
                                                                </a>
                                                            </li>
                                                            <li  *ngIf="col.Status_name == 'PENDING' ">
                                                                <a (click)="closeTicket(col)">
                                                                    <i class="fa fa-times"></i> Cancel 
                                                                </a>
                                                            </li>
                                                            <li *ngIf="col.Status_name == 'PENDING' && col.Assign_To == 0" >
                                                                <a (click)="AssignedTicket(col)">
                                                                    <i class="fa fa-tasks"></i> Assigned Engineer
                                                                </a>
                                                            </li>
                                                            <li *ngIf="col.Status_name == 'PENDING' && col.Assign_To != 0" >
                                                                <a (click)="ForwardToTicket(col)">
                                                                    <i class="fa fa-forward"></i> Forward To
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td>{{col.Docket_No}}</td>
                                                <td>{{col.Report_Time | date:'short'}}</td>
                                                <td>{{col.Status_name}}</td>
                                                <td>{{col.Member_Name}}</td>
                                                <td>{{col.Project_Name}}</td>
                                                <td>{{col.Site_Name}}</td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="paginatorright" let-state>
                                            Showing {{state.first+1}} of {{(state.first+1) + state.rows}} of {{state.totalRecords}}
                                        </ng-template>
                                    </p-table>
                                </div>
                                 </p-tabPanel>
                            <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[1]" leftIcon="glyphicon glyphicon-floppy-save">
                                <form name="supportTicketForm" #supportTicketForm="ngForm" novalidate>
                                    <div class="form-group">
                                        <div class="col-sm-4" >
                                            <label class="control-label">Project<sup class="text-danger">*</sup></label>
                                            <select class="form-control" 
                                                name="Project_ID" 
                                                #Project_ID="ngModel" 
                                                [(ngModel)]="objsupportTicket.Project_ID" 
                                                (change)="changeProject(objsupportTicket.Project_ID)"
                                                [ngClass]="{'clearance': supportTicketFormSubmit && Project_ID?.errors?.required}"
                                                required>
                                                <option  [ngValue]="undefined">Select</option>
                                                <option  *ngFor="let value of projectList" value="{{value.Project_ID}}" >{{value.Project_Name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4" >
                                            <label class="control-label">Site<sup class="text-danger">*</sup></label>
                                            <select class="form-control" 
                                                name="Site_ID" 
                                                #Site_ID="ngModel" 
                                                [(ngModel)]="objsupportTicket.Site_ID" 
                                                [ngClass]="{'clearance': supportTicketFormSubmit && Site_ID?.errors?.required}"
                                                required>
                                                <option  [ngValue]="undefined">Select</option>
                                                <option  *ngFor="let value of siteList" value="{{value.Site_ID}}" >{{value.Site_Remarks}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4" >
                                            <label class="control-label">Problem Type<span class="text-danger">*</span></label>
                                            <p-multiSelect 
                                            [options]="ProblemTypeList"
                                            [(ngModel)]="SelectedProblemType"
                                            [styleClass]="'compacct-multiselect'"
                                            name="ProblemType" 
                                            #ProblemType="ngModel" 
                                            [ngClass]="{'clearance': supportTicketFormSubmit && ProblemType.errors?.required}"
                                            required></p-multiSelect>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4" >
                                            <label class="control-label">Attending Engineer<span class="text-danger"></span></label>
                                            <select class="form-control" 
                                            name="Assign_To" 
                                            #Assign_To="ngModel" 
                                            [(ngModel)]="objsupportTicket.Assign_To"  >
                                            <option  [ngValue]="undefined">Select</option>
                                            <option  *ngFor="let value of AttendingEngineerList" value="{{value.Eng_ID}}" >{{value.Member_Name}}</option>
                                        </select>
                                        </div>
                                        <div class="col-sm-4" >
                                            <label class="control-label">Report Time<span class="text-danger"></span></label>
                                            <ejs-datetimepicker [(value)]="ReportTime" [format]="'dd-MMM-yyyy hh:mm a'"></ejs-datetimepicker>
                                        </div>
                                        <div class="col-sm-4" >
                                            <label class="control-label">Remarks<span class="text-danger"></span></label>
                                            <textarea class="form-control" 
                                            name="Remarks" [(ngModel)]="objsupportTicket.Remarks" 
                                            rows="2" 
                                            placeholder="Remarks"></textarea>
                                        </div>
                                        
                                    </div>
                                    <div class="box-footer">
                                        <button class="btn btn-primary pull-right"
                                                (click)="SaveTicket(supportTicketForm.form.valid)"
                                                id="load"
                                                [disabled]="Spinner">
                                                <p-progressSpinner *ngIf="Spinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                                            <span *ngIf="!Spinner" class="glyphicon glyphicon-save"></span>Create
                                        </button>
                                    </div>
                                </form>
                           
                            </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [header]="'Support Ticket'" [appendTo]="'body'" [visible]="DetalisView" [closeOnEscape]="true" [closable]="false"
    [modal]="true" [responsive]="true" [style]="{ width: '58%', minWidth: '200px' }" style="text-align: center;"
    [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <div class="form-horizontal">
        <p-tabView [activeIndex]="tabIndexToDialoag" (onChange)="TabClickDialoag($event)">
            <p-tabPanel headerStyleClass="compacct-tabs" [header]="itemsDialog[0]" leftIcon="glyphicon glyphicon-list-alt">
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label">Docket No<sup class="text-danger"></sup></label>
                         <div class="label-t" >{{objviewTicket.Docket_No ? objviewTicket.Docket_No : "-"}}</div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Project<sup class="text-danger"></sup></label>
                         <div class="label-t" >{{objviewTicket.Project_Name ? objviewTicket.Project_Name : "-"}}</div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Site Name<sup class="text-danger"></sup></label>
                         <div class="label-t" >{{objviewTicket.Site_Name ? objviewTicket.Site_Name : "-"}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label">Report Time<sup class="text-danger"></sup></label>
                         <div class="label-t" >{{objviewTicket.Report_Time}}</div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Status name<sup class="text-danger"></sup></label>
                         <div class="label-t" >{{objviewTicket.Status_name ? objviewTicket.Status_name : "-"}}</div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Remarks<sup class="text-danger"></sup></label>
                         <div class="label-t" >{{objviewTicket.Remarks ? objviewTicket.Remarks : "-"}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="control-label">Problem Details<sup class="text-danger"></sup></label>
                         <div class="label-t" >
                            <ul>
                                <li *ngFor="let option of this.objviewTicket.problem_details" >
                                    {{option.Problem_Type}}
                                </li>
                            </ul>
                         </div>
                    </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel headerStyleClass="compacct-tabs" [header]="itemsDialog[1]" leftIcon="glyphicon glyphicon-list-alt">
                    <p-table [value]="objviewTicket.call_report_details" 
                    [rows]="10" [rowHover]="true" [autoLayout]="true" 
                    sortMode="multiple" [rowsPerPageOptions]="[10,20,30]"
                    [rowHover]="true" >
                     
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Assign On</th>
                                <th>Member Name</th>
                                <th>Status Name</th>
                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-col>
                            <tr>
                                <td>{{col.Assign_On}}</td>
                                <td>{{col.Member_Name }}</td>
                                <td>{{col.Status_name}}</td>
                             </tr>
                        </ng-template>
                    
                    </p-table>
                </p-tabPanel>
            </p-tabView>
     
    </div>
    <p-footer>
        <button type="button" (click)="DetalisView = false" class="btn btn-default"><span
                class="glyphicon glyphicon-remove"></span>
            CLOSE
        </button>

    </p-footer>
</p-dialog>
<p-dialog [header]="'Assign To'" [appendTo]="'body'" [visible]="AssignToView" [closeOnEscape]="true" [closable]="false"
    [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '200px' }" style="text-align: center;"
    [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-8">
                <label class="control-label"> Engineer <span class="text-danger"></span></label>
                <select class="form-control" 
                name="Assign" 
                 [(ngModel)]="AssignTo"  >
                <option  [ngValue]="undefined">Select</option>
                <option  *ngFor="let value of AttendingEngineerList" value="{{value.Eng_ID}}" >{{value.Member_Name}}</option>
            </select>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary pull-right custombutton1 " (click)="AssigendToSAve()"  [disabled]="!AssignTo" ><span  class="glyphicon glyphicon-save"></span>Assign</button>
            </div>
           
        </div>
    

    </div>
    <p-footer>
        <button type="button" (click)="AssignToView = false" class="btn btn-default"><span
                class="glyphicon glyphicon-remove"></span>
            CLOSE
        </button>

    </p-footer>
</p-dialog>
<p-dialog [header]="'Forward To'" [appendTo]="'body'" [visible]="ForwardToView" [closeOnEscape]="true" [closable]="false"
    [modal]="true" [responsive]="true" [style]="{ width: '40%', minWidth: '200px' }" style="text-align: center;"
    [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-4">
                <label class="control-label"> Engineer <span class="text-danger"></span></label>
                <select class="form-control" 
                name="Assign" 
                 [(ngModel)]="ForwardTo"  >
                <option  [ngValue]="undefined">Select</option>
                <option  *ngFor="let value of AttendingEngineerList" value="{{value.Eng_ID}}" >{{value.Member_Name}}</option>
            </select>
            </div>
            <div class="col-sm-2">
                <button (click)="ForwardToSAve()" class="btn btn-primary pull-right custombutton1" [disabled]="!ForwardTo" ><span  class="glyphicon glyphicon-save"></span>Forward</button>
            </div>
           
        </div>
    

    </div>
    <p-footer>
        <button type="button" (click)="ForwardToView = false" class="btn btn-default"><span
                class="glyphicon glyphicon-remove"></span>
            CLOSE
        </button>

    </p-footer>
</p-dialog>