.ui-table-auto-layout > .ui-table-wrapper {
    width: auto !important;
    
  }
   .custombutton {
      margin-top: 25px;
    }
    hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }