.e-grid .e-headercell, .e-grid .e-detailheadercell{
  background-color: #367fa9 !important ;
}
span.e-headertext ,.e-stackedheadercelldiv {
  color:white !important ;
}


table.forzen-table {
  border-collapse: separate;
  border-spacing: 0;
  border-top: 1px solid grey;
}

.forzen-table > td, .forzen-table > th {
  margin: 0;
  border: 1px solid grey;
  white-space: nowrap;
  border-top-width: 0px;
}

div.forzen {
  width: 500px;
  overflow-x: scroll;
  margin-left: 5em;
  overflow-y: visible;
  padding: 0;
}

.forzen-table > .headcol {
  position: absolute;
  width: 5em;
  left: 0;
  top: auto;
  border-top-width: 1px;
  /*only relevant for first row*/
  margin-top: -1px;
  /*compensate for top border*/
}

.forzen-table > .headcol:before {
  content: 'Row ';
}

.forzen-table > .long {
  background: yellow;
  letter-spacing: 1em;
}
