<p-toast key="compacct-toast" baseZIndex="99999"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                   <form name="orderBooking" #orderBooking="ngForm" novalidate>
                    <div class="form-group">
                        <div class="col-sm-3" style="margin-left: 20px;">
                          <label class="control-label"> Student Phone Number&nbsp;</label>
                          <input class="form-control"

                          name="Mobile_No"
                          minlength="10"
                          maxlength="10"
                          CompacctDigitonly="true"
                          pattern="[1-9]{1}[0-9]{9}"
                         [(ngModel)]="Mobile_No"
                         placeholder="Phone Number"
                         [ngClass]= "{'clearance': orderBookingFormSubmitted && Mobile_No?.errors?.required}"
                         required>
                      </div>
                        <div class="col-sm-3" style=" margin-top: 5px;">
                          <button class="btn btn-primary custombutton" data-toggle="modal"
                          (click)="GetstudentDetails(orderBooking.form.valid)"
                          id="load"
                          [disabled]="seachSpinner">

                          <p-progressSpinner *ngIf="seachSpinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                          <span *ngIf="!seachSpinner" class="glyphicon glyphicon-search"></span>&nbsp;Search
                       </button>
                        </div>
                        <div class="col-sm-2"></div>

                    </div>
                   </form>
                   <div class="form-group"  style="padding-left: 12px;">
                    <div class="col-sm-4">
                        <label class="control-label">Student Name</label>
                        <input class="form-control"
                        type="text"
                        name="stdName"
                        [(ngModel)] = "stdname"
                        disabled>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Class</label>
                        <input class="form-control"
                        type="text"
                        name="stdclass"
                        [(ngModel)] = "stdclass"
                        disabled>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Date Of registration</label>
                        <input class="form-control"
                        type="text"
                        name="stdclass"
                        [(ngModel)]="regdate"
                        disabled>
                        <!-- <div  class="label-t">{{regdate  | date :"dd/MMM/yyyy"}}</div> -->
                    </div>
                </div>
                <div class="table-responsive no-padding" style="overflow-x: hidden !important;margin-left: 12px; margin-top: 35px;">
                    <p-table
                    [value]="getAlldata"
                            [globalFilterFields]="['Product Name','Requistion Qty','UOM','Production Qty']"
                             [rowHover]="true"
                             >
                               <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width:5em">Action</th>
                                        <th>Order ID</th>
                                        <!-- <th>Order Create</th>
                                        <th>Payment Update</th> -->
                                        <th>Txn Date</th>
                                        <th>Ref Code</th>
                                        <th>Product</th>
                                        <th>Rate</th>
                                        <th>Discount</th>
                                        <th>Amount</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-col>
                                    <tr [class]='col.Billed == "No" || col.Paid  == "No"? "text-red-active" : ""'>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-default btn-sm tableButton dropdown-toggle"
                                                    type="button" data-toggle="dropdown" style="height:27px">
                                                    <i class="fa fa-fw fa-bars"></i>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li *ngIf="col.Billed == 'No'">
                                                        <a (click)="Billcreation(col)">
                                                            <i class="fa fa-fw fa-newspaper-o"></i>
                                                            Create Bill
                                                        </a>
                                                    </li>
                                                    <li *ngIf="col.Billed == 'Yes'">
                                                        <a (click)="printOut(col)">
                                                            <i class="fa fa-fw fa-print"></i>
                                                            Print Provisional Receipt cum Invoice
                                                        </a>
                                                    </li>
                                                    <li *ngIf="col.Billed == 'Yes' && col.Paid == 'No'">
                                                        <a (click)="makePayment(col)">
                                                            <i class="fa fa-fw fa-credit-card"></i>
                                                            Make Payment
                                                        </a>
                                                    </li>
                                                    <li *ngIf="($CompacctAPI.CompacctCookies.User_Type === 'A' && col.Bill_No.startsWith('O')) || (col.Billed == 'Yes' && col.Paid == 'No')">
                                                        <a (click)="CancelBil(col)">
                                                            <i class="fa fa-fw fa-times"></i>
                                                            Cancel Bill
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                    </td>
                                        <td>{{col.Subscription_Txn_ID}}</td>
                                        <!-- <td>{{col.Billed}}</td>
                                        <td>{{col.Paid}}</td> -->
                                        <td>{{col.Txn_Date | date: "dd/MMM/yyyy"}}</td>
                                        <td>{{col.Ref_Code}}</td>
                                        <td>{{col.Products}}</td>
                                        <td>{{col.Rate}}</td>
                                        <td>{{col.Discount}}</td>
                                        <td>{{col.Amount}}</td>
                                     </tr>
                                </ng-template>

                        </p-table>

                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>

                    <p-dialog header="Direct Sell Order " [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '720px', minWidth: '200px'}" [minY]="70"
                    [maximizable]="true" [baseZIndex]="10000">
                    <table class="table table-striped" style="height: 230px; overflow-y: auto; ;" >
                      <thead>
                        <tr>
                          <th scope="col">Product Description</th>
                          <th scope="col">Rate</th>
                          <th scope="col">Discount</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Direct Sale Revised Amt</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="d-flex" *ngFor="let option of popdataList;">
                          <td>{{option.Product_Description}}</td>
                          <td>{{option.Rate}}</td>
                          <td>{{option.Discount}}</td>
                          <td>{{option.Amount}}</td>
                          <td><input type="text" [name]="option.Txn_ID+'Product'" [(ngModel)]='option.Direct_Sale_Revised_Amt' (ngModelChange)='getTotalValue()' class="form-control" CompacctDigitonly="true" style="width: 71px;" /></td>
                        </tr>
                        <tr>
                          <td colspan="4">Total</td>
                          <td>{{getTotalValue()}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <p-footer>
                        <button type="button" pButton icon="pi pi-check" (click)="UpdateSale()" label="I confirm the price and move to billing"></button>
                     </p-footer>
            </p-dialog>
