div.table-responsive.table-id > p-table > div > div {
  width: auto !important;
}
.box-body {
  padding-top: 10px !important;
  padding-left: 10px !important;
}
.ta-editor {
  min-height: 160px;
}
body .ui-widget {
  font-family: source sans pro, sans-serif !important;
}
textarea.form-control {
  height: auto;
}
.btn {
  border: red;
}
.box.boxboxDivide-primary {
  border-top-color: #f3efec;
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.ui-table-auto-layout > .ui-table-wrapper {
  width: auto !important;

}
.pull-right {
  float: right!important;
  }
  .custombutton {
    margin-top: 28px;
    /* margin-left: 130px; */
  }
  .custombutton1 {
    margin-top: 28px;
  }
  .pullright2 {
    margin-left: -80px;
     /* margin-top: 25px; */
  }
  /* .col-sm-2 {
    width: 40%;
} */
div.label-t {
  padding: 6px 12px;
  background: rgb(206 216 216 / 51%);
}
.text-red-active > td {
  color:red;
}
.custombutton2 {
  margin-top: 30px;
  margin-left: 50px;
}
