<p-toast key="compacct-toast" baseZIndex="99999"></p-toast>
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [autoZIndex]="true">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="form-horizontal">
                <div class="box-body">
                    <p-tabView [activeIndex]="tabIndexToView" (onChange)="TabClick($event)">
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[0]" leftIcon="glyphicon glyphicon-list-alt" >
                            <form name="JournalSearchForm" #JournalSearchForm="ngForm" novalidate>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="control-label">Date </label>
                                        <app-compacct-daterangepicker
                                        (DaterangeObj)="getDateRange($event)" [minmaxValid]="initDate">
                                        </app-compacct-daterangepicker>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">Company<sup class="text-danger">*</sup></label>
                                        <select class="form-control" 
                                        name="companySearch" 
                                        #companySearch="ngModel" 
                                        [(ngModel)]="objsearch.Company_ID"
                                        [ngClass]="{'clearance': JournalSearchFormSubmit && companySearch?.errors?.required }"
                                        required>
                                        <option  [ngValue]="undefined">Select</option>
                                           <option *ngFor = "let option of companyList" [value] ="option.Company_ID">
                                              {{option.Company_Name}}
                                            </option>
                                      </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="control-label">CostCentre <sup class="text-danger">*</sup></label>
                                        <select class="form-control" name="CostCenIDSearch" #CostCenIDSearch="ngModel" 
                                        [(ngModel)]="objsearch.Cost_Cen_ID" 
                                        [ngClass]="{'clearance': JournalSearchFormSubmit && CostCenIDSearch?.errors?.required}" required>
                                                  <option  [ngValue]="undefined">Select</option>
                                           <option *ngFor = "let option of costCenterList" [value] ="option.Cost_Cen_ID">
                                              {{option.Cost_Cen_Name}}
                                            </option>
                                      </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="btn btn-primary custombutton" data-toggle="modal" (click)="ShowSearchData(JournalSearchForm.form.valid)" id="load" [disabled]="seachSpinner">
                                            <p-progressSpinner *ngIf="seachSpinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                                            <span *ngIf="!seachSpinner" class="glyphicon glyphicon-search"></span> Search
                                         </button>
                                    </div>
                                </div>
                             </form> 
                             <div class="no-padding">
                                <p-table [value]="getAllDataList"
                                [paginator]="getAllDataList.length ? true : false"
                                *ngIf='getAllDataList.length'
                                [paginator]="true" 
                                [rows]="100" 
                                [rowHover]="true" 
                                [autoLayout]="true" 
                                sortMode="multiple" 
                                [rowsPerPageOptions]="[100,200,300]" 
                                [globalFilterFields]='DynamicHeader'
                                    [rowHover]="true" #dt2>
                                    <ng-template pTemplate="caption">
                                        <div class="row">
                                            <div class="col-sm-3 pull-right" style="text-align: right">
                                                <input type="text" pInputText size="50" placeholder="Search" (input)="dt2.filterGlobal($event.target.value, 'contains')" class="searchInput form-control">
                                            </div>
                                        </div>
    
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width:5em">Action</th>
                                            <th nowrap="nowrap" *ngFor="let option of DynamicHeader">{{option.replaceAll('_',' ')}}</th> 
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col>
                                        <tr>
    
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-default btn-sm tableButton dropdown-toggle" type="button" data-toggle="dropdown" style="height:27px">
                                                                    <i class="fa fa-fw fa-bars"></i>
                                                                    <span class="caret"></span>
                                                                </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                                <a (click)="EditVoucher(col)">
                                                                    <i class="fa fa-fw fa-pencil"></i> Edit
                                                                </a>
                                                            </li>
                                                        <!-- <li>
                                                            <a (click)="Print(col.Doc_No)">
                                                                <i class="fa fa-fw fa-print"></i> Print
                                                            </a>
                                                        </li> -->
                                                        <li>
                                                            <a (click)="DeleteVoucher(col)">
                                                                <i class="fa fa-fw fa-trash"></i> Delete
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <ng-container *ngFor="let option of DynamicHeader">
                                                <td nowrap="nowrap">{{col[option]}}</td>
                                            </ng-container>
                                            
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="paginatorright" let-state>
                                        Showing {{state.first+1}} of {{(state.first+1) + state.rows}} of {{state.totalRecords}}
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[1]" leftIcon="glyphicon glyphicon-floppy-save">
                            <form name="journalForm" #journalForm="ngForm" novalidate>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label">Company<sup class="text-danger">*</sup></label>
                                        <select class="form-control" 
                                        name="company" 
                                        #company="ngModel" 
                                        [(ngModel)]="objjournal.Company_ID"
                                        [ngClass]="{'clearance': journalFormSubmitted && company?.errors?.required }"
                                        required>
                                        <option  [ngValue]="undefined">Select</option>
                                           <option *ngFor = "let option of companyList" [value] ="option.Company_ID">
                                              {{option.Company_Name}}
                                            </option>
                                      </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Voucher No<sup class="text-danger"></sup></label>
                                        <input class="form-control"
                                                name="Voucher_No"
                                                #Voucher_No="ngModel"
                                                [(ngModel)]="objjournal.Voucher_No"
                                                placeholder="Voucher No"
                                                disabled>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Voucher Date<sup class="text-danger">*</sup></label>
                                         <ejs-datepicker  [(value)]="voucherdata" [format]="'dd/MMM/yyyy'" [min]='voucherminDate' [max]='vouchermaxDate'></ejs-datepicker>
                                    </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4" >
                                            <label class="control-label">Cost Cent Trn<sup class="text-danger">*</sup></label>
                                            <select class="form-control"
                                            name="Cost_Cen_ID_Trn"
                                            #Cost_Cen_ID_Trn="ngModel"
                                           [(ngModel)]="objjournal.Cost_Cen_ID_Trn"
                                           [ngClass]="{'clearance': journalFormSubmitted && Cost_Cen_ID_Trn?.errors?.required}"
                                            required
                                            [disabled]="userType != 'A'"
                                            >
                                            <option  [ngValue]="undefined">Select</option>
                                            <option *ngFor="let option of costTrnList" value="{{option.Cost_Cen_ID}}">
                                                {{option.Cost_Cen_Name}}
                                                </option>
                                    </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Ledger &nbsp;<span class="text-danger">*</span></label>
                                            <p-dropdown [options]="LedgerList" name="Ledger_ID" [(ngModel)]="objjournal.Ledger_ID"
                                            [showClear]="true" [emptyFilterMessage]="' No Ledger Found'" (onChange)="getsubLedgertop(objjournal.Ledger_ID)"
                                            [filter]="true" filterBy="label,value" [resetFilterOnHide]="true"
                                            [placeholder]="'Select Ledger'" [virtualScroll]="true" #Ledger_ID="ngModel"
                                            [styleClass]="journalFormSubmitted && Ledger_ID.errors?.required ? 'clearance': ''" required>
                                        </p-dropdown>
                                        </div>
                                        <div class="col-sm-4" *ngIf="headerText === 'Journal Voucher'">
                                            <label class="control-label">Sub Ledger &nbsp;<span class="text-danger" *ngIf="SubLedgerList.length">*</span></label>
                                            <p-dropdown [options]="SubLedgerList" name="Sub_Ledger_ID" [(ngModel)]="objjournal.Sub_Ledger_ID"
                                            [showClear]="true" [emptyFilterMessage]="' No Ledger Found'"
                                            [filter]="true" filterBy="label,value.name" [resetFilterOnHide]="true"
                                            [placeholder]="'Select Ledger'" [virtualScroll]="true" itemSize="30" #Sub_Ledger_ID="ngModel"
                                            [styleClass]="journalFormSubmitted && Sub_Ledger_ID.errors?.required  &&  Sub_Ledger_ID? 'clearance': ''" [required]="reqriredCheck(SubLedgerList)">
                                        </p-dropdown>
                                        </div>
                                        <div class="col-sm-4" *ngIf="headerText === 'Journal Voucher'">
                                            <label class="control-label">Cost Head</label>
                                            <select class="form-control"
                                            name="Cost_Head_ID"
                                            #Cost_Head_ID="ngModel"
                                           [(ngModel)]="objjournal.Cost_Head_ID"
                                            >
                                            <option  [ngValue]="undefined">Select</option>
                                            <option *ngFor="let option of costHeadDataList" value="{{option.Cost_Head_ID}}">
                                                {{option.Cost_Head_Name}}
                                                </option>
                                     
                                    </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="control-label">Amount<sup class="text-danger">*</sup></label>
                                                <input class="form-control"
                                                        name="Amount"
                                                        #Amount="ngModel"
                                                        [(ngModel)]="objjournal.Amount"
                                                        placeholder="Amount"
                                                        (ngModelChange)="getTotalDRCR()"
                                                        CompacctDigitonly="true"
                                                        [ngClass]="{'clearance': journalFormSubmitted && Amount?.errors?.required}"
                                                        required>
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="control-label">DR/CR
                                            </label>
                                            <select class="form-control"
                                                    name="DrCrdata"
                                                    #DrCrdata="ngModel"
                                                    [(ngModel)]="objjournal.DrCrdata"
                                                    (change)="getTotalDRCR()"
                                                    >
                                                <option *ngIf="headerText === 'Receive Voucher' || headerText === 'Journal Voucher'"  value="DR">
                                                    DR
                                                    </option>
                                                    <option *ngIf="headerText === 'Payment Voucher' || headerText === 'Journal Voucher'"  value="CR">
                                                    CR
                                                    </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4" *ngIf="headerText === 'Journal Voucher'">
                                            <label class="control-label">Naration<sup class="text-danger"></sup></label>
                                             <textarea class="form-control" 
                                                    name="Naration"
                                                    #Naration="ngModel"
                                                    [(ngModel)]="objjournal.Naration" rows="2" 
                                                    placeholder="Naration"></textarea>
                                        </div>
                                   </div>
                                    <div class="form-group">
                                        <div class="col-sm-3" >
                                            <label class="control-label">Bank TRN Type
                                            </label>
                                           <select class="form-control"
                                                    name="Bank_TRN_Type"
                                                    #Bank_TRN_Type="ngModel" 
                                                    [(ngModel)]="objjournal.Bank_Txn_Type"
                                                    (change)="getBankTRNType(objjournal.Bank_Txn_Type)"
                                                  >
                                                   <option  [ngValue]="0">Select</option>
                                                   <option *ngFor = "let option of BankTransactionTypeList" [value] ="option.Bank_Txn_Type_ID">
                                                    {{option.Txn_Type_Name}}
                                                  </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2" *ngIf="convartNumber(objjournal.Bank_Txn_Type) === 1 || convartNumber(objjournal.Bank_Txn_Type) === 3 || convartNumber(objjournal.Bank_Txn_Type) === 4 ||convartNumber(objjournal.Bank_Txn_Type) === 6 ||convartNumber(objjournal.Bank_Txn_Type) === 7 ||convartNumber(objjournal.Bank_Txn_Type) === 5">
                                            <label class="control-label">{{labelText1}}</label>
                                            <input class="form-control"
                                                    name="ChequeNo"
                                                    name="ChequeNo"
                                                    #ChequeNo="ngModel" 
                                                    [(ngModel)]="objjournal.Cheque_No"
                                                    [placeholder]=labelText1>
                                        </div>
                                        <div class="col-sm-2" *ngIf="convartNumber(objjournal.Bank_Txn_Type) === 1 ||convartNumber(objjournal.Bank_Txn_Type) === 3 || convartNumber(objjournal.Bank_Txn_Type) === 4 || convartNumber(objjournal.Bank_Txn_Type) === 6 || convartNumber(objjournal.Bank_Txn_Type) === 7 || convartNumber(objjournal.Bank_Txn_Type) === 5">
                                            <label class="control-label">{{labelText2}}</label>
                                            <ejs-datepicker [(value)]="NEFTDate"  [format]="'dd/MMM/yyyy'" [enabled]="true"></ejs-datepicker>
                                        </div>
                                        <div class="col-sm-2" *ngIf="convartNumber(objjournal.Bank_Txn_Type) === 1 || convartNumber(objjournal.Bank_Txn_Type) === 3 || convartNumber(objjournal.Bank_Txn_Type) === 6 || convartNumber(objjournal.Bank_Txn_Type) === 5">
                                            <label class="control-label">{{labelText3}}</label>
                                            <input class="form-control"
                                            name="BankName"
                                            [placeholder]=labelText3
                                            #BankName="ngModel"
                                            [(ngModel)]="objjournal.Bank_Name"
                                            >
                                        </div>
                                        <div class="col-sm-3" *ngIf="convartNumber(objjournal.Bank_Txn_Type) === 1 || convartNumber(objjournal.Bank_Txn_Type) === 3">
                                            <label class="control-label">{{labelText4}}</label>
                                            <input class="form-control"
                                            name="BankBranchName"
                                            [placeholder]=labelText4
                                            #BankBranchName="ngModel"
                                            [(ngModel)]="objjournal.Bank_Branch_Name"
                                            >
                                        </div>
                                      
                                    </div>
                                    <div class="form-group" *ngIf="headerText === 'Receive Voucher' || headerText === 'Payment Voucher'">
                                        <div class="col-sm-12">
                                            <label class="control-label">Naration<sup class="text-danger"></sup></label>
                                             <textarea class="form-control" 
                                                    name="Naration"
                                                    #Naration="ngModel"
                                                    [(ngModel)]="objjournal.Naration" rows="2" 
                                                    placeholder="Naration"></textarea>
                                        </div>
                                    
                                    </div>
                                    
                            </form>
                            <app-compacct-project *ngIf="openProject === 'Y'" 
                                                        #project  
                                                         [requir]="whateverCopy(validatation)"
                                                         [DisableAllInput]="projectDisable"
                                                         (projectObj)="getProjectData($event)"></app-compacct-project>
                            <hr class="box boxboxDivide-primary">
                            <form name="journallowerForm" #journallowerForm="ngForm" novalidate>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label">Ledger &nbsp;<span class="text-danger">*</span></label>
                                        <p-dropdown [options]="LedgerListLow" name="Ledger_ID_lower" [(ngModel)]="objjournalloweer.Ledger_ID"
                                        [showClear]="true" [emptyFilterMessage]="' No Ledger Found'" (onChange)="getsubLedgerLow(objjournalloweer.Ledger_ID)"
                                        [filter]="true" filterBy="label,value.name" [resetFilterOnHide]="true"
                                        [placeholder]="'Select Ledger'" [virtualScroll]="true" itemSize="30" #Ledger_ID_lower="ngModel"
                                        [styleClass]="journallowerFormSubmitted && Ledger_ID_lower.errors?.required ? 'clearance': ''" required>
                                    </p-dropdown>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Sub Ledger &nbsp;<span class="text-danger" *ngIf="SubLedgerListlow.length">*</span></label>
                                        <p-dropdown [options]="SubLedgerListlow" name="Sub_Ledger_ID_Lower" [(ngModel)]="objjournalloweer.Sub_Ledger_ID"
                                        [showClear]="true" [emptyFilterMessage]="' No Ledger Found'" 
                                        [filter]="true" filterBy="label,value.name" [resetFilterOnHide]="true"
                                        (onChange)="getDocType()"
                                        [placeholder]="'Select Ledger'" [virtualScroll]="true" itemSize="30" #Sub_Ledger_ID_Lower="ngModel"
                                        [styleClass]="journallowerFormSubmitted && Sub_Ledger_ID_Lower.errors?.required && Sub_Ledger_ID_Lower? 'clearance': ''" [required]="reqriredCheck(SubLedgerListlow)">
                                    </p-dropdown>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label">Cost Head</label>
                                        <select class="form-control"
                                        name="cost_Head"
                                        #cost_Head="ngModel"
                                       [(ngModel)]="objjournalloweer.Cost_Head_ID">
                                        <option  [ngValue]="undefined">Select</option>
                                        <option *ngFor="let option of costHeadDataList" value="{{option.Cost_Head_ID}}">
                                            {{option.Cost_Head_Name}}
                                            </option>
                                </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label class="control-label">Ref Doc Type</label>
                                        <select class="form-control"
                                               name="Ref_Doc_Type"
                                               #Ref_Doc_Type="ngModel"
                                              [(ngModel)]="objjournalloweer.Voucher_Type_ID" 
                                              (change)="getDocNo()">
                                               <option  [ngValue]="undefined">Select</option>
                                               <option *ngFor="let option of RefDocTypeList" value="{{option.Voucher_Type_ID}}">
                                                   {{option.Voucher_Type}}
                                                   </option>
                                       </select>
                                     </div>
                                    <div class="col-sm-5">
                                     <label class="control-label">Ref Doc No</label>
                                  
                                        <select class="form-control"
                                        name="Adjustment_Doc_No"
                                        #Adjustment_Doc_No="ngModel"
                                       [(ngModel)]="objjournalloweer.Adjustment_Doc_No" 
                                       (change)="RefDocNoChange()">
                                       <optgroup label={{optgroupL}}>
                                        <option  [ngValue]="undefined">Select</option>
                                        <option *ngFor="let option of VoucherNoList" value="{{option.Voucher_No}}">
                                            {{option.Voucher_No+","}}&nbsp;&nbsp;<span>{{option.Voucher_Date | date : "dd/MMM/yyyy"+","}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{option.Balance_Amount+","}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{option.Amount}}
                                        </option>
                                       </optgroup>
                                        
                                </select>
                                     </div>
                                     <!-- <div class="col-sm-2">
                                     <label class="control-label">Ref Doc Date<sup class="text-danger">*</sup></label>
                                     <ejs-datepicker  [(value)]="RefDocDate" [format]="'dd/MMM/yyyy'" ></ejs-datepicker>
                                     </div> -->
                                     <div class="col-sm-2">
                                         <label class="control-label">Amount<sup class="text-danger">*</sup></label>
                                             <input class="form-control"
                                                     name="Amountlower"
                                                     #Amountlower="ngModel"
                                                     [(ngModel)]="objjournalloweer.Amount"
                                                     placeholder="Amount"
                                                     CompacctDigitonly="true"
                                                     [ngClass]="{'clearance': journallowerFormSubmitted && Amountlower?.errors?.required}"
                                                     required>
                                     </div>
                                     <div class="col-sm-2">
                                         <label class="control-label">DR/CR
                                         </label>
                                        <select class="form-control"
                                                name="DrCrdatalow"
                                                #DrCrdatalow="ngModel"
                                                [(ngModel)]="objjournalloweer.DrCrdataLower"
                                                
                                               >
                                             <option value= "DR"> DR</option>
                                             <option value= "CR"> CR </option>
                                        </select>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                    <div class="col-sm-4">
                                        <label class="control-label">Reminder Req</label>
                                          <select class="form-control"
                                               name="Reminder_Req"
                                               #Reminder_Req="ngModel"
                                              [(ngModel)]="objjournalloweer.Reminder_Req" >
                                               <option value="N">NO</option>
                                               <option value="Y">YES</option>
                                       </select>
                                    </div>
                                    <div class="col-sm-4" *ngIf="objjournalloweer.Reminder_Req === 'Y'">
                                        <label class="control-label">Reminder Date</label>
                                        <ejs-datepicker  [(value)]="ReminderDate" [format]="'dd/MMM/yyyy'" ></ejs-datepicker>
                                    </div>
                                    <div class="col-sm-4" *ngIf="objjournalloweer.Reminder_Req === 'Y'">
                                        <label class="control-label">Reminder Type</label>
                                        <select class="form-control"
                                               name="Reminder_Type"
                                               #Reminder_Type="ngModel"
                                              [(ngModel)]="objjournalloweer.Reminder_Type" >
                                               <option  [ngValue]="undefined">Select</option>
                                               <option *ngFor="let option of ReminderTypeList" value="{{option.Reminder_Type}}">
                                                   {{option.Reminder_Type}}
                                                   </option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="box-footer">
                                    <button class="btn btn-primary pull-right" (click)="addFinancialVoucher(journallowerForm.form.valid)" >
                                        <span class="glyphicon glyphicon-plus">Add</span>
                                    </button>
                                </div>
                            </form>
                            <div class="table table-responsive" style="margin-top: 13px;">
                                <table class="table table-bordered">
                                        <thead>
                                            <tr style="background-color:#3c8dbc;color:white;">
                                                <th>Sl. No.</th>
                                                <th>Ledger</th>
                                                <th>SubLedger Name</th>
                                                <th>Ref Doc No</th>
                                                <th>Amount (DR)</th>
                                                <th>Amount (CR)</th>
                                                <th>Cost Head</th>
                                                <th>Delete</th>
                                              </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor='let obj of lowerList let i = index' >
                                               <td>{{obj.Slno ? obj.Slno : (i + 1)}}</td>
                                               <td>{{obj.Ledger_Name}}</td>
                                               <td>{{obj.Sub_Ledger_Name}}</td>
                                               <td>{{obj.Adjustment_Doc_No}}</td>
                                               <td>{{obj.DR_Amt ? obj.DR_Amt : ''}}</td>
                                               <td>{{obj.CR_Amt ? obj.CR_Amt : ''}}</td>
                                               <td>{{obj.Cost_Head_Name}}</td>
                                              <td><button (click)="DeleteProduct(i)" class="btn danger"><i class="fa fa-trash"></i></button></td>
                                           </tr>
                                           <tr *ngIf="lowerList.length || totalDR || totalCR" >
                                            <td colspan="5" style="text-align: right; font-weight: 700;" ><span >Total DR Amount : {{totalDR ? getToFix(totalDR) : ""}}</span></td>
                                            <td colspan="2" style="text-align: left; font-weight: 700;"><span >Total CR Amount : {{totalCR ? getToFix(totalCR) : ""}}</span></td>
                                            </tr>
                                          
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-footer">
                                    <button class="btn btn-primary pull-right"
                                    id="load1"
                                    (click)="saveJournal(journalForm.form.valid)"
                                   [disabled]="Spinner || (getToFix(totalDR) != getToFix(totalCR)) || !lowerList.length? true : false">
                                   <p-progressSpinner *ngIf="Spinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                               <span *ngIf="!Spinner" class="glyphicon glyphicon-save"></span>{{buttonname}}
                           </button>
                                </div>
                                <!-- <div class="col-xs-6">
                                    <table class="table">
                                        <tbody><tr>
                                            <th style="width:30%">Total DR Amount:</th>
                                            <td>{{totalDR ? getToFix(totalDR) : ""}}</td>
                                        </tr>
                                        <tr>
                                            <th>Total CR Amount:</th>
                                            <td>{{totalCR ? getToFix(totalCR) : ""}}</td>
                                        </tr>                                         
                                    </tbody></table>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-primary pull-right"
                                     id="load"
                                     [disabled]="Spinner">
                                    <p-progressSpinner *ngIf="Spinner" [style]="{width: '15px', height: '15px'}" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
                                <span *ngIf="!Spinner" class="glyphicon glyphicon-save"></span>{{buttonname}}
                            </button>
                                </div> -->
                        </p-tabPanel>
                        <p-tabPanel headerStyleClass="compacct-tabs" [header]="items[2]" leftIcon="glyphicon glyphicon-file">
                                    
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>
                    